[2016-09-13 18:34] catherinedevlin opened #1 "Decide whether to mirror production database"
In principle, the API server could serve crime data directly from the new UCR database itself; or, the project could maintain an up-to-date mirror of UCR's database and serve from that.

Let's use comments to list PRO and ANTI mirroring arguments.

[2016-09-13 19:22] catherinedevlin opened #2 "Support data quality edits"
One of USDS's "Discovery Sprint Report on NIBRS" suggestions reads:

Our API could include endpoints to permit such annotations and perhaps edits.

[2016-09-15 18:49] jeremiak opened #3 "Generate a schema from BJS generated data"
Go through the BJS table builder tool and manually build a sample schema for the system

[2016-09-15 18:50] jeremiak opened #4 "Build tool to scrape data from BJS tool"
Pull/scrape data from BJS tool and generate a sample JSON file so that we have a good sense of what the data looks like and is a lightweight format in case the schema changes

[2016-09-15 18:55] jeremiak opened #5 "Identify five visualizations that are feasible within the CIUS reports"
The CIUS report has data tables that represent the following types of information, published on a yearly basis. Many of these metrics also include a corresponding trend rate for the last few years.
1. Broad crime trends
2. Arson
   1. By population group (size of city/MSA)
   2. By property type
3. Murder
   1. Number of people involved
   2. Age, sex, ethnicity of offenders and victims
   3. Rela

[2016-09-15 19:09] jeremiak opened #7 "Make this repo public"
18F projects are generally open by default [18F open source guide](https://pages.18f.gov/open-source-guide/) and [policy](). This is an open data project using data that is already sanitized of PII and should be pretty easy to open. This issue is to make sure we do it

[2016-09-15 19:16] jeremiak commented on #7
And just like that, its open! Closing this

[2016-09-15 19:16] #7 closed

[2016-09-16 16:32] cacraig opened #8 "Map NIBRS summary Agency names to BJS - SRS Agency names"
Each data source has string values for Agency Name. In order to unify these two datasets, we will need to map the agency names to one another.

For example:

BJS <-> FBI.gov NIBRS summary data
"Barrington Police Dept" <->  "Barrington"
"Alexander County Sheriff Department" <-> Metropolitan "Alexander"

[2016-09-16 16:38] cacraig commented on #3
![fbi-cde](https://cloud.githubusercontent.com/assets/3621157/18593656/6c77a210-7c0a-11e6-910d-8d79b31ffd5e.jpg)

[2016-09-18 16:37] catherinedevlin opened #10 "Make JSON output adhere to schema.org"
Using schema.org conventions for our output can make use by others easier.

At first glance, it looks like crimes may be Actions (http://1.schemaorgae.appspot.com/Action) committed by Persons (http://1.schemaorgae.appspot.com/Person) against other Persons, reported by GovernmentOrganizations(http://1.schemaorgae.appspot.com/GovernmentOrganization) in Places (http://1.schemaorgae.appspot.com/Place)

[2016-09-19 20:18] cacraig commented on #4
JSON files submitted here: https://github.com/18F/crime-data-api/pull/11

[2016-09-20 00:56] nicoleslaw opened #12 "Start a glossary"
Include Jeremia's [jargon/acronym list](https://docs.google.com/a/gsa.gov/document/d/1_ITXTvmyA7yMhaCBR7JGaO3jZv_AVh_lZ7ipTYg5O6Q/edit) and basic crime definitions from FBI documentation

[2016-09-20 16:13] #12 closed

[2016-09-20 16:16] jeremiak commented on #12
I updated the google doc to point to the new `terms.yml` file

[2016-09-20 16:18] jeremiak commented on #5
Here are some preliminary ideas about what we can show from the data:
0. [What does the broad crime trend for the US look like?](https://github.com/jeremiak/fbi-crime-data-explore/blob/master/crime_in_the_us.ipynb)
0. [Who gets murdered in the US?](https://github.com/jeremiak/fbi-crime-data-explore/blob/master/who_gets_killed.ipynb)
0. [What weapons are used in murders?](https://github.com/jeremia

[2016-09-20 18:40] cacraig commented on #4
Going to close this. Was completed in #11 .

[2016-09-20 18:40] #4 closed

[2016-09-21 21:10] nicoleslaw opened #14 "Update license to meet open data standards"
We should be more explicit in our license to use [PDDL](http://opendatacommons.org/licenses/pddl/) or similar.

See:
- https://project-open-data.cio.gov/policy-memo/#c-ensure-information-stewardship-through-the-use-of-open-licenses
- http://sunlightfoundation.com/policy/opendatafaq/#terms-of-use
- http://opendatacommons.org/licenses/
- https://opengovdata.io/2014/no-discrimination-license-free/

[2016-09-23 17:22] harrisj opened #16 "HTML parser message from BeautifulSoup"
Running it on my machine in Python 3.5, and I get this error

[code]

This is more of a nuisance than a bug, but we might want to explicitly specify the HTML parser to use?

[2016-10-03 20:03] cacraig commented on #8
Not relavent anymore.

[2016-10-03 20:03] #8 closed

[2016-10-13 11:27] catherinedevlin opened #20 "Support pagination"

[2016-10-13 11:27] catherinedevlin opened #21 "Support equality filters"

[2016-10-13 11:27] catherinedevlin opened #22 "Support inequality filters: >, <, >=, <=, !="

[2016-10-13 11:28] catherinedevlin opened #23 "Swagger documentation"

[2016-10-13 11:32] catherinedevlin opened #24 "Measure test coverage & report on README"

[2016-10-13 11:49] catherinedevlin opened #25 "18F api-standards compliance"
https://github.com/18F/api-standards

_Partial_ task list (more in the standards:
- [ ] Support bulk downloads (without pagination?)
- [ ] Support incremental download ("records added or changed since...")
- [ ] Records in consistent order
- [x] Responses should be a JSON object (not an array) with metadata
- [ ] ISO 8601 date format, like 2013-02-27T10:00:00Z.
- [ ] Use consistent case for keys
-

[2016-10-13 11:57] catherinedevlin opened #26 "Replace flask_restful's `marshal_with` with marshmallow?"

[2016-10-13 12:21] catherinedevlin opened #27 "support CSV output"

[2016-10-13 16:37] catherinedevlin opened #28 "Incorporate data.gov API key?"
Right now an "API key" is enforced very cheesily by checking against an environment variable.  (See verify_api_key in crime_data/common/base.py).  Supporting proper data.gov API keys would be far better.

[2016-10-17 19:14] jeremiak commented on #23
Initial (very basic) work done in #30

[2016-10-17 21:12] jeremiak opened #31 "Add support for CORS"
Folks might want to build client side applications using the API so we should enable CORS for everybody and set `Access-Control-Allow-Origin` to `*`. Also, we need CORS for the swagger docs to function properly

[2016-10-24 18:06] cacraig opened #41 "Extend models classes, and encapsulate enhanced query/model logic."
Updates from the FBI UCR conceivably will overwrite the models.py file when changes are made. Thus, models.py file the will be auto-generated. Any modifications that have been made to models.py should be encapsulated into extension classes.

ie.

[code]

[2016-10-24 18:27] #3 closed

[2016-10-24 18:28] #16 closed

[2016-10-24 18:28] cacraig commented on #16
Closed - No longer Applicable.

[2016-10-26 17:01] AvivaOskow opened #46 "Aviva's First Issue"
This is content **bolded** super [interesting link](http://marcosvid.al/sketch-notebook/)

![giphy 1](https://cloud.githubusercontent.com/assets/21244661/19736066/c61de9d6-9b73-11e6-9dd7-8806b81e4d12.gif)

@jeremiak

[2016-10-26 17:02] jeremiak commented on #46
This is pretty cool!

[2016-10-26 17:02] #46 closed

[2016-10-26 20:57] catherinedevlin opened #48 "Consistent representation of boolean fields"
Many fields in UCR represent boolean data with a variety of one-character flags.  API should have a single consistent way to represent booleans.

(add examples)

[2016-10-26 23:59] catherinedevlin opened #49 "Translate cryptic values in API output"
Several fields in UCR are output as cryptically abbreviated values.  We should provide them as useful information.

Partial list of such fields:
- [ ] agency.agency_status
- [ ] agency.special_mailing_group
- [ ] state.state_fips_code
- [ ] incident.incident_status
- [ ] offense_type.hc_code
- [ ] victim.resident_status_code
- [ ] reta_month_offense_subcat.reported_status, .unfounded_status, .actu

[2016-10-27 18:56] catherinedevlin opened #52 "Support OR-ing filters together with `|`"
... and that, in turn, calls for parens to group them... I sure hope there's a library to do the dirty work!

[2016-10-27 18:58] #1 closed

[2016-10-28 17:25] cacraig commented on #52
Hey @catherinedevlin, just to elaborate, the filter would be like    http://<URI>?...&category_id=(1|2|3) right ?

[2016-10-28 20:31] catherinedevlin opened #57 "Consistent simplification of field names"
Many field names in UCR are needlessly ugly; translating to more human-friendly names would be good for the API, especially for the most commonly-used fields.  For example, `REF_STATE.STATE_ABBR` could simply be STATE.

The simplified field names should be consistently used everywhere - in the output as well as for filtering.

[2016-10-28 21:50] cacraig commented on #57
What about things ending with _name. Should we shorten them?

ie:
city_name -> city
state_name -> state
ucr_agency_name -> agency

etc.

[2016-10-29 00:33] catherinedevlin commented on #57
Well... I'd see that the "bare" name (city, state, agency, tribe, etc.) should be assigned to whatever field we think will be most-useful and most-used.  So that would often be `something_name`, but sometimes that will be claimed by something else, like `state_abbrev`; because we'd rather support `?state=RI` than `?state=Rhode+Island`.

Is that too squishy of a criterion?

[2016-10-31 17:42] cacraig commented on #41
This is currently being done. Closing.

[2016-10-31 17:42] #41 closed

[2016-10-31 19:46] catherinedevlin opened #59 "Filter on dates"
Will require interpreting dates in user input, probably with dateutil.parse.

[2016-10-31 19:47] catherinedevlin opened #60 "Filter on multiple values"
For instance, `/incidents/?victim.race_code=B,W` for black or white

alternate unixy syntax: `/incidents/?victim.race_code={B,W}`

[2016-10-31 19:48] catherinedevlin opened #61 "filter on count of child objects"
example: `/incidents/victims.count>1`

[2016-11-01 04:15] jeremiak commented on #31
Closed by bf5ee39d22ceed6dfff76eeb6151249f441a4ec2

[2016-11-01 04:15] #31 closed

[2016-11-01 14:34] catherinedevlin opened #66 "User-specified sort order"
Endpoints should support a `sort_by` or `order_by` argument.

[2016-11-01 16:21] cacraig opened #67 "Support ILIKE with ~ operand"
In addition to equality + case-insensitivity, we should allow for ILIKE operations with the ~ operand.

[2016-11-04 15:51] catherinedevlin opened #72 "`by` and `count` support for `/incidents/`"
Right now the `/incidents/` endpoint, for NIBRS info, looks like:

        "results": [
            {
                "agency": {
                    "added_date": "1991-04-30T00:00:00+00:00",
                    "agency_id": 8411,
                    "agency_status": "A",
                    "agency_type": {
                        "agency_type_name": "State Police",
                        "defa

[2016-11-04 16:08] catherinedevlin opened #73 "`/incidents/` age should reflect complex age rules"
NIBRS record of ages is quirky around the edges.  I asked FBI by email:

FBI's reply:

[2016-11-07 15:25] catherinedevlin commented on #73
Age in Years is the only category that corresponds with a number in AGE_NUM; all others correspond to NULL AGE_NUM.

To boil this down into a usable number, I suggest

1-6 Days Old  -> Age 0
7-364 Days Old -> Age 0
Over 98 Years Old -> Age 99
Unknownn -> NULL (which is the literal meaning of the NULL value in any case)

This assumes that nobody really needs the difference between week-old neonates

[2016-11-07 20:37] #60 closed

[2016-11-08 02:09] harrisj commented on #73
So, this sounds good, but I have a few questions:

1. Is there some criminal offense category for which that distinction between newborn and older babies is important? If so, it'll probably be important to preserve that distinction.
2. I suppose in some sense, the risk of returning 99 for a 110-year-old victim is that it might affect averages/medians. More likely, it might just lead to some confus

[2016-11-08 17:09] catherinedevlin commented on #73
@harrisj : Good points.  Keeping the `age_code`, in case it's needed, but also reporting `age_num` as a math-able integer, should preserve all that information.

[2016-11-08 18:39] cacraig opened #76 "Build map of City/State (Lat/Longs)"
CITY_LAT_LONG_MAP = {
 'Asheville, NC' :  (35.5951, 82.5515),
'Y_City': (75.1234,24.2345),
...
}

This would be a map for lat/long metadata that would live in our codebase that gives geographic metadata lookup for City/States. This would need to live in the codebase because we have no control over our schema. It could probably be tied to the CdeRefCity and CdeRefState models.

[2016-11-08 19:09] #76 closed

[2016-11-14 02:04] nicoleslaw opened #79 "Glossary additions"
Note to self to update the glossary, and review these for useful additions:

- [x] Statistical analysis center
- [x] NIBIRS definitions: https://ucr.fbi.gov/about-us/cjis/ucr/nibrs/2014/resource-pages/nibrs_offense_definitions_f.pdf
- [x] BJS tools for decision making: http://ucrdatatool.gov/data/crimestatisticsfordecisionmaking.doc

[2016-11-14 20:54] cacraig opened #80 "Reorder columns in the CSV to improve readability"
Sort output CSV columns into something reasonable. (Alphabetical, Date field first, etc.)

- [ ] Put year first on incident_counts.csv

[2016-11-15 18:16] #26 closed

[2016-11-15 18:17] cacraig commented on #67
Hey @harrisj - Wanna take a swing at this one?

[2016-11-17 02:55] harrisj commented on #67
Sure, I can work on this. Is there a particular function in here you want me to put this functionality? Also, do we have any concerns this won't scale when we have millions of records or is that premature optimization?

[2016-11-17 03:06] harrisj commented on #28
I have emailed the api.data.gov team about seeing how we could use them for API keys. Will update details here when I receive them.

[2016-11-17 18:01] harrisj commented on #28
Here are the directions for setting up a new API https://github.com/18F/api.data.gov/wiki/User-Manual:-Agencies#configuring-your-first-api-backend

[2016-11-18 18:11] harrisj commented on #28
Is the goal here to front the crime-data-api with an api.data.gov URL? Or just to use it for key generation/management/etc? Is the latter even supported by api.data.gov?

[2016-11-21 16:13] catherinedevlin opened #86 "expose NIBRS offense codes as endpoint"
`/offenses/` lists summary offense taxonomy; we need to expose the NIBRS offense taxonomy, too.

[2016-11-21 18:39] catherinedevlin opened #87 "Expose more NIBRS dimensions"
Not all aspects of NIBRS incidents are exposed in the API yet.  In particular, verify that all these are present in results and filterable:

[code]

[2016-11-22 15:42] harrisj commented on #86
I suggest (and am working on) a `/codes/` endpoint that will allow users to make calls like `/codes/nibrs_activity_type` and get JSON (and potentially CSV) back. It looks like many of the code references are indeed tables in the DB (and not something I would provide as JSON), so I can just try wiring this up so I can get to know how the Marshmallow, etc flow works

[2016-11-22 16:25] LarryBafundo opened #88 "Finalize learning objectives for sprint"
https://docs.google.com/document/d/1d38oci3mWYVIztr7Hu2mgI0FIaMdSneYPUN53Gh-eYg/edit

[2016-11-22 16:25] LarryBafundo opened #89 "Schedule test participants for next Thursday"

[2016-11-22 16:26] LarryBafundo opened #90 "Develop test plan for usability testing"

[2016-11-22 16:26] LarryBafundo opened #91 "Document and synthesize sprint learnings"

[2016-11-22 16:26] LarryBafundo opened #92 "Coordinate with the FBI team regarding their participation in testing"

[2016-11-22 16:27] LarryBafundo opened #93 "Sprint 3 Planning & Administration"

[2016-11-22 16:31] LarryBafundo opened #94 "Gather data from API to support design"

[2016-11-22 16:32] LarryBafundo opened #95 "Explore data for insights/opportunity areas for content & design"

[2016-11-22 16:32] LarryBafundo opened #96 "Finalize story & scenario for "data snapshot""

[2016-11-22 16:32] LarryBafundo opened #97 "Explore potential approaches for visualizing NIBRS data"

[2016-11-22 16:33] LarryBafundo opened #98 "Develop copy for data snapshot"

[2016-11-22 16:34] LarryBafundo opened #99 "Enable the exploration of data associated with highlighted charts/graphs & define filter schema"

[2016-11-22 16:34] LarryBafundo opened #100 "Data Snapshots"
Tasks related to the design and development of our "data snapshot" concept to be tested with users next Thursday. The goal of this epic is to explore how we can demonstrate the value of NIBRS data through set-piece content and better understand how we can account for it's limitations (missing data, affect of changing definitions on historical trends, etc.)

[2016-11-22 16:37] LarryBafundo commented on #94
This task is dependent on: https://github.com/18F/crime-data-api/issues/87

[2016-11-22 16:42] LarryBafundo opened #101 "Confirm dates & times for workshop/presentation"

[2016-11-22 16:43] LarryBafundo opened #102 "Outline goals & approach for workshop & presentation"

[2016-11-22 16:43] LarryBafundo opened #103 "Develop content for workshop/presentation"
Need to specify the major parts of both the workshop and presentation for tracking purposes, once we agree on what those are. cc: @amberwreed

[2016-11-22 16:45] LarryBafundo opened #104 "Develop assets for product definition workshop"
This issue relates to https://github.com/18F/crime-data-api/issues/103, but specifically calls out the development of assets that will help define the MVP.

[2016-11-22 16:51] LarryBafundo commented on #104
- [ ] information architecture
- [ ] high-level user flow
- [ ] design direction (style guide)
- [ ] broad capability areas (functional areas) that describe the parameters of the MVP and set the stage for the generation of user stories.
- [ ] design direction (style guide)

[2016-11-22 16:54] LarryBafundo opened #105 "Prep for Dec. Workshop & Presentation"
Tasks related to preparing for the upcoming workshop wth the project core team to establish parameters for MVP prioritization. Also includes tasks related to preparing for the follow-on presentation to senior leadership at the FBI.

[2016-11-22 17:14] LarryBafundo opened #106 "Generate a sample "CSV package" that includes a read.me file for context"
Need to define contents of package - may consist of a CSV with 3 tabs: summary, NIBRS, and data definitions/readme.

[2016-11-22 17:15] LarryBafundo opened #107 "Explore the advantages and disadvantages of a wide table design"
Due to the nested nature of NIBRS data we currently aggregate incident details into a single column for that element (for example: victims = 3). However, we should explore the usability of a CSV format that breaks selected elements, such as offenses, into separate columns (for example: an incident that includes 3 total offenses would be broken out as "murder": 1, "justifiable homicide": 2. This ap

[2016-11-22 17:16] LarryBafundo opened #108 "Generate CSV test designs - aggregated vs. expanded approaches"
This task task refers to how we'll evaluate CSV design. For Thursday's testing, we will show two different CSVs  - one that aggregates NIBRS elements under single columns and another that breaks this information out into separate columns, but which results in a wider table.

The data represented by the CSV should match, or be similar to what is presented as part of the data snapshot. cc: @nicolesl

[2016-11-22 17:16] LarryBafundo opened #109 "CSV Design & Testing"
Tasks related to the design and generation of CSV outputs (flat-file, read.me, annotations/footnotes) that enable the analysis of data outside of the CDE.

[2016-11-22 17:30] catherinedevlin commented on #86
In general, when a field has a smallish number of discrete values that a user may want to see to query for, it would be nice if they had an endpoint to see them.  That, I suppose, will correlate to tables with smallish numbers of rows that are referenced by other tables.

Running this, and eyeballing for likely candidates, I suggest...
[code]
`nibrs_prop_desc_type`, `nibrs_offense_type`, `nibrs_lo

[2016-11-22 18:21] nicoleslaw commented on #88
Reviewed these. @amberwreed wants to take one more pass.

[2016-11-22 20:02] harrisj commented on #86
It's a lot of tables, but I think you have already defined schema for most of them for instance so that should make it quick work. Time to make a checklist

- [ ] nibrs_prop_desc_type
- [ ] nibrs_offense_type
- [ ] nibrs_location_type
- [ ] nibrs_bias_list
- [ ] nibrs_weapon_type
- [ ] nibrs_relationship
- [ ] ref_population_group
- [ ] nibrs_suspected_drug_type
- [ ] nibrs_circumstances
- [ ] nib

[2016-11-22 20:23] cacraig opened #112 "Refactoring: cdemodels.py"
Refactor cdemodels.py a bit. Improve naming conventions, clean up unused code, add documentation.

Some suggestions:

Catherine:
(1) TableTrees rather than TableFamilies?  The idea is that it defines the relationships of the tables to each other.
Colin:
 (1) Blast away the defunct Agencies code, and have it just be a map to /incidents with an extra parameter (ORI). OR make it give a list of all Ag

[2016-11-22 21:25] #87 closed

[2016-11-22 22:04] catherinedevlin opened #113 "Exclude incident number from system"
@jeremiak  found this in the NIBRS user manual:

Let's exclude incident_number from both API output and from storage in PostgreSQL to make data leakage impossible.

- [x] Write `dba/scrub_private.sql` script that deletes sensitive fields
- [x] Apply `dba/scrub_private.sql` to dumpfile used for tests
- [x] Apply `dba/scrub_private.sql` to database currently on cloud.gov
- [x] Ensure that running `d

[2016-11-23 00:31] LarryBafundo commented on #104
draft experience principles: https://docs.google.com/document/d/1KMfdnfmfcTO3aAMH--v5KvV22CZEnxuHW-YzO-0A5p0/edit

[2016-11-23 04:37] catherinedevlin commented on #112
I think a list of agencies (especially a filterable one) would have value.

Plot twist: the TableFamily for an Agency already exists, embedded within the IncidentTableFamily (in cdemodels.py).  That should probably be pulled out into an AgencyTableFamily, and then avoid duplication by having IncidentFamily copy and extend the list of AgencyTableFamily's list

[2016-11-23 19:07] nicoleslaw commented on #96
Should be all set here: https://docs.google.com/document/d/1d38oci3mWYVIztr7Hu2mgI0FIaMdSneYPUN53Gh-eYg/edit

[2016-11-23 19:07] #96 closed

[2016-11-23 19:25] jeremiak opened #115 "Pagination requests with page 0 should return a 400 error"
Currently, making a request to the incidents endpoint with `per_page=100&page=0` results in a `500` error. This is because there isn't a page 0. However, I think this should return a `400` (Bad Request) instead.

[2016-11-23 19:31] nicoleslaw opened #116 "Update navigation and filter names"
I think we should put a spreadsheet together [like this one](https://docs.google.com/spreadsheets/d/1-LjKQy3dOJI9FJmrhNEfgsr-uD7HzzH0qf1zpo3azTE/edit) so we're all working from the same language/understanding of the filters. Thanks to Emileigh for sharing!

I am thinking we can start with a tab for the default table view, maybe then add/gray out certain things for specific crimes. Hate crime and L

[2016-11-23 19:32] nicoleslaw commented on #116
cc @jeremiak @amberwreed — I am happy to work on this on Friday.

[2016-11-25 16:52] harrisj opened #117 "Remove Users/Roles functionality from Flask structure?"
It looks like the Flask skeleton we setup the app with included some functionality for users and roles, including DB structures, unit tests, blueprints, etc. These are currently not used by the app (it's an API of course), so I think it would be a good idea to remove them, lest they cause some confusion down the road.

[2016-11-25 18:30] harrisj opened #118 "Clarify testing approach"
Right now, we have very little test coverage for the application. This is totally to be expected since the app is still in a prototyping phase, but it is something we will have to fix before we get too far into active development so that we can use a test-driven approach to keep up code quality. It seems like we have several options:

1. Use the test database slice that Catherine has shared with d

[2016-11-25 19:22] LarryBafundo commented on #88
i added some comments and a few more learning objectives for the CSV and API test areas. @jeremiak, please review and feel free to edit/add where necessary. Assuming these questions can serve as the basis for our testing on Thursday, we'll need to figure out what tasks are necessary to support the testing - like potential changes to our API documentation and additional CSV work.

[2016-11-25 19:28] LarryBafundo commented on #90
this issue is about developing a test script based on the learning objectives captured here: https://github.com/18F/crime-data-api/issues/88

[2016-11-25 19:31] LarryBafundo commented on #102
goals and general outline for the december workshop/presentation are captured here: https://docs.google.com/document/d/1aiT7s47LituK0TQh2n2k2NYOAgUGh2oufLeIdW2fAbE/edit

[2016-11-25 19:33] LarryBafundo commented on #98
@nicoleslaw when you have a chance, could you please update this issue with more specifics regarding the content we're developing for the data snapshot?

[2016-11-25 19:34] LarryBafundo commented on #107
i'm closing this issue because it can be better articulated as part of another issue.

[2016-11-25 19:34] #107 closed

[2016-11-25 19:39] LarryBafundo commented on #106
To do this, we may want to pick an aspect of the Data SnapShot that we want to show as a CSV and then determine which aspects of the data should be explained within a readme

[2016-11-25 19:57] nicoleslaw commented on #116
@jeremiak I took a pass at the filter labels here on the third tab: https://docs.google.com/spreadsheets/d/1dKhwXumQfVP48TmBJpHxv66ki7KMOcbsSU1nU6thzzo/edit

I don't think we need to add many more of these for our test, but wanted to share.

[2016-11-25 19:57] nicoleslaw commented on #116
cc @amberwreed for review

[2016-11-25 20:31] nicoleslaw opened #119 "Develop outline to test IA assumptions"
To better understand user expectations around navigation and download paths, we want to do a treejack test. I started an outline here: https://docs.google.com/document/d/1V3_rOFg0AZ9V5oV7qWpStUevu1WWCBtFga6h8R9Ee5k/edit#

[2016-11-25 20:39] nicoleslaw commented on #98
I can't fully answer this until I see what the data entails, but the kinds of things I've gathered so far for editing are sections about:

- The new and legacy rape definition
- How rape incidents are counted
- Why legacy rape incidents continue to be counted
- Methodology
- Estimations for national trend data
- Related links / further reading

[2016-11-25 20:41] nicoleslaw commented on #95
Depends on #94

[2016-11-26 03:59] harrisj commented on #118
So, it seems like #1 is the easiest option in the immediate future, but we might need to switch our CI backend. It looks like Travis CI supports the option to have encrypted files that are not in the repo that we can use to provide the sliced SQL to our tests https://docs.travis-ci.com/user/encrypting-files/ I will look into trying this out

[2016-11-27 17:50] catherinedevlin commented on #118
I'm going to add option 1b., which is to find or make an anonymizer that can mangle that test database slice into something that *can* be added to source control.  It loses some of the realism of the actual data slice, and it assumes that such a thing exists or wouldn't be hard to make.

[2016-11-27 18:42] catherinedevlin commented on #113
Other possibly sensitive fields with no need to include in API:

All "email" fields (ht_month.prepared_by_email, all ref_poc, reta_month.prepared_by_email, etc.)

All "user" fields

[2016-11-28 02:46] harrisj commented on #118
I hear you on 1b. Devils advocate question: do you think we would be okay if we simply altered the names of agencies in `ref_agency` but kept other data relatively unchanged? It might also be good if we could limit to only a few agencies and their incidents?

[2016-11-28 15:47] harrisj commented on #118
Okay, after spending some time trying to load the DB as a pre-test fixture, I think I am wasting time that would be better spent elsewhere. So I'm going to propose this:

1. Add instructions to the README on loading a test DB locally from a sample data slicke before you run the tests (going to do that myself). There will not be such a sample DB in the repo yet of course.
2. Look into loading the s

[2016-11-28 16:36] catherinedevlin commented on #118
Maybe it would be worthwhile to make a task to basically audit the columns in the database, classifying them into

- Totally benign columns, no need to change
- Columns that should be munged/anonymized if they're going into version control
- Columns that are unneeded and problematic, and should simply be removed upon upload (as per #113)

I actually can't remember why we considered some columns da

[2016-11-28 16:54] harrisj commented on #118
I think at some point there was a concern that we would have extra information about raw NIBRS reports that would be personally revealing or enable some "mosaic effect" issues. Another fear I suppose is that we would leak numbers before they are official public or that this testing data could be seen as official and final data. But I don't think that was more a general fear than something that was

[2016-11-28 17:56] jeremiak commented on #94
I've gathered data from the API now so I have a few big buckets of incidents, the largest being 54K. I'm not sure if this issue should now be closed in favor of me working with Nicole on #95.

The next steps after gathering the data are to make some very cursory plots that aren't line charts (or probably even stacked area charts) so that we can use a few different data visualization approaches in

[2016-11-28 19:01] LarryBafundo commented on #94
@jeremiak we can close this issue.

[2016-11-28 19:01] #94 closed

[2016-11-29 03:31] harrisj commented on #72
Am I wrong or is this implemented now? (albeit with a separate `incidents/count` endpoint for counts)

[2016-11-29 03:35] harrisj opened #122 "Get tests working on Circle CI"
It doesn't look like we have approval to store a snapshot of a DB in the public repo yet, but we can get one to the CI anyway with the following steps:

- [x] ~Identify a private S3 bucket where we can put the data slice SQL~
- [x] ~Add the appropriate AWS access key for the SnapCI to pull from that bucket~
- [x] Follow the [manual setup steps] to load the DB before running tests
- [x] Try running

[2016-11-29 03:50] catherinedevlin commented on #113
My review of columns in database; based on column name, data type and length, type of table (lookup or data), and a review of contents, the ones considered safe to release are marked in the "safe" column.

 safe  |         table_name          |         column_name          |          data_type          | max_length |      column_default       |   tuples    |            table_comment            |

[2016-11-29 04:01] catherinedevlin commented on #72
What I've put in `/incidents/count/` is actually the RETA summary data; I wrote this ticket with the thought that we would want an endpoint that would actually do grouped record counts on the NIBRS records (the ones returned by `/incidents/`).  You could get that by taking the `['pagination']['count']` for each particular set of parameters you passed, but if (say) you want the count of every recor

[2016-11-29 04:06] harrisj commented on #113
Very nice. I assume the non-checked ones are either not checked yet or sensitive? The proposed exclusions make sense, although I think we will want to make the `ref_poc` available in the final API since they are public points of contact (but we can fake it for the test database)

[2016-11-29 12:43] catherinedevlin opened #123 "Bare `/codes/` endpoint to list reference tables"
Our `/codes/<table_name>` endpoint lists the contents of reference tables.  We could add a bare `/codes/` endpoint listing the reference tables available, with links to the endpoint for each one's contents.

I'd consider this a low-priority nice-to-have, just wanted to record the thought.

[2016-11-29 12:45] #86 closed

[2016-11-30 02:06] jeremiak commented on #95
Here are some of the charts that I threw together with all of the NIBRS incidents I could get from the API for rape offenses in Ohio. I'm posting here so they're in a place that is available to everybody
![ohio-rape-location-bar](https://cloud.githubusercontent.com/assets/780941/20736915/9420c920-b677-11e6-8b37-75273b6d5287.png)
![ohio-rape-relationship-bar](https://cloud.githubusercontent.com/ass

[2016-11-30 14:17] ericronne commented on #95
thanks!

and wow, data is powerful stuff.
so cool we can do this

On Tue, Nov 29, 2016 at 8:06 PM, Jeremia Kimelman <notifications@github.com>
wrote:

[2016-11-30 22:43] nicoleslaw commented on #98
Copy is here for review: https://docs.google.com/document/d/187bzDcm7Xu1XuypTV3PLCmiG_P8TWA7YM0_e-OJOMps/edit#

I need to sync with @ericronne though—this is a first pass.

[2016-12-01 02:09] #99 closed

[2016-12-01 02:09] LarryBafundo commented on #5
@jeremiak okay to close this?

[2016-12-01 02:12] LarryBafundo commented on #113
may I ask where we are with this? i noticed that when we generate CSVs for test purposes using the API, we're still getting incident #s in the data.

[2016-12-01 02:17] LarryBafundo commented on #80
have some ideas here, primarily that we should group similar elements together, such as offense code and offense description, to improve readability, especially in the expanded format. i'm not sure of the level of effort required to do this, but would require further research.

[2016-12-01 04:12] #5 closed

[2016-12-01 04:16] #79 closed

[2016-12-01 16:16] LarryBafundo opened #135 "Ask for CJIS to help with recruitment during the development phase"
This is a reminder to talk with Lori and Sammy at CJIS about how they can help us recruit test users during development. Some ideas: post a sign-up form on the FBI/UCR website, or in joint FBI/18F communications, and or ask the Xcelerate team to help provide a base of participants to draw from.

[2016-12-01 18:09] #101 closed

[2016-12-01 18:09] #89 closed

[2016-12-01 18:09] #92 closed

[2016-12-01 18:10] LarryBafundo commented on #97
Going to keep this open, even though the tasks for S3 are complete, it sounds like we could use some additional time to explore the data and consider visualization approaches.

[2016-12-01 18:12] #27 closed

[2016-12-02 03:49] harrisj opened #137 "Test ticket from Code Climate"

[2016-12-02 03:54] harrisj commented on #137
We can make tickets direct from CodeClimate issues now

[2016-12-02 03:54] #137 closed

[2016-12-02 03:55] harrisj commented on #122
This is all done per #126.

[2016-12-02 03:55] #122 closed

[2016-12-02 03:56] harrisj commented on #118
This was all resolved by @catherinedevlin in #125

[2016-12-02 03:56] #118 closed

[2016-12-02 22:54] #88 closed

[2016-12-02 22:54] #98 closed

[2016-12-02 22:54] #95 closed

[2016-12-02 22:54] #90 closed

[2016-12-02 22:54] #119 closed

[2016-12-02 22:55] #100 closed

[2016-12-02 22:55] #108 closed

[2016-12-02 22:58] LarryBafundo commented on #116
we should convert this to an epic since we be returning to this topic

[2016-12-02 23:00] #97 closed

[2016-12-05 16:39] cacraig commented on #59
This is already done. Closing.

[2016-12-05 16:39] #59 closed

[2016-12-05 16:40] cacraig commented on #21
This is already done. Closing.

[2016-12-05 16:40] #21 closed

[2016-12-05 16:50] harrisj commented on #115
I'm not sure this is that much of a priority and how to do it yet.

[2016-12-05 16:51] harrisj commented on #28
I have generated config and have a special group so that only specific users can use the API via data.gov, but I was wondering how much a priority this is and how we expect this to look

[2016-12-05 16:52] harrisj commented on #10
How do we feel about this? Is it important for initial work? And do we have versioning on the API so we could change formats in the future?

[2016-12-05 16:53] harrisj commented on #24
I can do this now that we have CI and CodeClimate integration working

[2016-12-05 16:54] harrisj commented on #80
In Marshmallow, we can specify that `Ordered=True` to keep columns in the same order as the DB I think. This might be enough?

[2016-12-05 16:56] cacraig commented on #73
This was fixed in #78 . - Closing.

[2016-12-05 16:56] #73 closed

[2016-12-05 17:00] harrisj commented on #49
I think we don't need to worry about FIPS code, but some of the other statuses seem like they could use some elucidation. It seems like we have two ways of doing this:

1. Define some code lookup dicts for these values and dereference them that way
2. Add some other code tables like the ones that exist for `ref_race` etc. that we load up after we get new data from the FBI.

The second might seem m

[2016-12-05 17:03] harrisj commented on #112
It sounds like some sort of document explaining the naming/structure will be necessary. Sorry

[2016-12-05 17:34] jeremiak opened #140 "The API should be versioned"
We should document and implement a method by which the API is versioned. The underlying data specification for our API has been updated in the past, and will likely be updated in the future so it will be helpful if we also have a mechanism to denote changes.

[2016-12-05 22:01] #20 closed

[2016-12-05 22:03] cacraig opened #141 "Make Pagination return counts."
We need to return real query result counts. These counts can't be obtained easily using a second count query. Investigate other means to return these counts.

[2016-12-05 22:15] catherinedevlin commented on #141
I'm thinking seriously now that a cache of count results according to (normalized) query parameters might be our best option there.  It will still have lousy performance the first time any specific combination of query parameters is tried, but should have no measurable impact after that.

My main question is how exactly such a count should be stored.  Some options:

- In a database table:
    - ki

[2016-12-05 22:18] cacraig commented on #141
After some initial investigation, it would probably be worthwhile investigating using a WINDOW function to obtain counts.

[over_ratio_limit.pdf](https://github.com/18F/crime-data-api/files/632412/over_ratio_limit.pdf)

The above image is a plot of the Ratio of the base /incidents query, along with the base query with count(*) OVER () -  The X-Axis is LIMIT (0...2700).

The ratio appears to fit pr

[2016-12-05 22:22] cacraig commented on #141
Ugh. Sorry for the PDFs. R defaults to them on export. Didn't realize till after the fact.

[2016-12-05 22:35] harrisj opened #142 "Swagger Improvements"
Since the frontend team needs a good sandbox for understanding and constructing API queries, we should fix the Swagger interface so that it will work for them.

[2016-12-05 22:36] harrisj opened #143 "Decide whether we want to autogenerate or edit Swagger file"
I want to experiment with auto-generating the Swagger.json from comments/code embedded in the API, but I want to make sure we're all clear that this is easier than hand-editing the file first. This is a step to have that discussion when it is time and also make the decision. The two main points are:

1. Almost all of the auto-generating Swagger approaches are oriented toward RESTful APIs. This API

[2016-12-05 22:38] harrisj opened #144 "Try Python library for autogenerating Swagger from schemas/annotations"

[2016-12-05 22:39] harrisj opened #145 "Get Swagger-UI working within the project"

[2016-12-05 22:47] harrisj opened #146 "Swagger up the /incidents endpoint"

[2016-12-06 00:08] cacraig opened #147 "Targeted API performance updates"
Right now, queries are really super slow. In order to have a usable API, we need to improve performance.

[2016-12-06 00:08] cacraig opened #148 "Investigate query caching methodologies/mechanisms"
Right now, queries are really super slow. In order to have a usable API, we need to implement a caching mechanism. Possible tools:

- **Varnish**
- **Redis**

[2016-12-06 00:09] cacraig opened #149 "Build infrastructure for caching method."

[2016-12-06 00:09] cacraig opened #150 "Implement Query Caching mechanism."

[2016-12-06 00:19] cacraig opened #151 "Investigate table partitioning or additional database tuning."
Possibilities:

- Materialized view(s) + DB Trigger to refresh.
- Partitioning large tables by nibrs_incident by something. I think it might be interesting to explore partitioning nibrs_incident by agency State location. This would speed up queries that are against specific states, but slow down queries that span multiple states.

[2016-12-06 13:53] catherinedevlin commented on #148
Now that I think about it, I don't think an HTTP cache will solve our main problem.  The rowcount is still far and away the biggest part of most queries, and a query cache will think that `/incidents/` and `/incidents/?page=2` are completely different queries and will want to run the whole rowcount again.  To avoid that, we're going to need to embed some rowcount caching in the API itself.

It sti

[2016-12-06 14:14] harrisj opened #152 "Get Swagger-UI working"
Since the biggest priority is for the front-end to have a sandbox to try API queries, let's see if we can get the Swagger UI working with the existing swagger.json first

[2016-12-06 14:18] harrisj opened #153 "Test Swagger schema generation for ArgumentsSchema"
This seems like a good test of how Swagger autogeneration tools would work

[2016-12-06 14:20] harrisj commented on #144
Closing this because it's really an implementation detail handled in other issues

[2016-12-06 14:20] #144 closed

[2016-12-06 14:21] harrisj commented on #145
Duplicate of #152. Closing

[2016-12-06 14:21] #145 closed

[2016-12-06 14:22] harrisj opened #154 "Add Swagger definitions for /agencies endpoints"

[2016-12-06 14:23] harrisj opened #155 "Add Swagger definitions for /offenses endpoint"

[2016-12-06 14:23] harrisj opened #156 "Add Swagger definitions for /arrests endpoints"

[2016-12-06 14:23] harrisj opened #157 "Add Swagger definitions for /arson endpoints"

[2016-12-06 14:23] harrisj opened #158 "Add Swagger definitions for /codes endpoints"

[2016-12-06 14:39] harrisj commented on #148
I mean, we can tweak Varnish so it could handle that situation (it can even do CDN-style things where it caches most of the page and inserts a directive). But it does seem to me like Redis would make a little more sense here and I think there are some good examples of people doing DB caching with Redis. Of course, the funny thing about this DB is that you really only ever need to clear the cache w

[2016-12-06 16:03] cacraig commented on #148
Spitballing here...

We can write a script to populate a key store where -> URI => returned JSON.

We could write a script to populate the cache, and run it whenever new data is uploaded to the DB. Then cache big /incidents? queries. Do pagination in the code with the full request (for cached requests only).

Then for every request that results in a cache miss, populate cache[URI] = JSON. Cache Hi

[2016-12-06 17:03] jeremiak opened #159 "Change cloud.gov space name from "prototype" to "production""
We are now out of the prototypal phase of the project, so it is confusing to have our cloud.gov space named "prototying". I think we should change it to "production". This would necessitate changes on the platform, as well as to the `manifest.yml`/`circle.yml` files in this repo as well as 18f/crime-data-explorer

[2016-12-06 17:20] amberwreed opened #160 "Front end / Visual design workflow"
- [ ] Discuss workflow options with front end and visual designers

- [ ] Document agreed upon workflow in front end app repository

[2016-12-06 17:21] amberwreed opened #161 "Add research sprints to wiki"
- [ ] Discovery research learnings
- [ ] Prototyping sprint 1
- [ ] Prototyping sprint 2
- [ ] Prototyping sprint 3

[2016-12-06 17:26] LarryBafundo commented on #102
The latest outline for the workshop is here: https://docs.google.com/document/d/13OYbiQ6jqxXRoPsPVfYMeHiEatGkQH_lzNgyMrWGQJs/edit

[2016-12-06 17:27] AvivaOskow opened #162 "Consolidate Visual Design Direction"
- [x] Review existing visual design directions from discovery sprints and pick out best attributes and components to move forward with

- [x] Gather opinions/general feeling on existing directions from team (which and why)

- [ ] Combine selected attributes into one style

[2016-12-06 17:30] LarryBafundo commented on #104
@amberwreed: let's review and update this list as part of our working time later today so we can be clear on what assets we need to create to support the workshop/presentation.

[2016-12-06 17:33] LarryBafundo opened #163 "Confirm participants and timeframe for workshop with Lori"

[2016-12-06 17:34] amberwreed opened #164 "Synthesize treejack results"
Review results from treejack test, write a summary of findings, and create action items or recommended changes.

[2016-12-06 17:40] LarryBafundo commented on #163
@amberwreed, @nicoleslaw: let's talk about this briefly today. i already suggested that we put together the core team, plus a few other SAs, content, and technical staff to represent a broad range of perspectives. Amber, the total group size would be about the same size as the group we did the card sort exercise with a few weeks ago. Over the next couple of days, let's figure out how much time we

[2016-12-06 17:51] nicoleslaw commented on #116
@LarryBafundo That sounds good—do you want me to put that in the backlog for another sprint?

[2016-12-06 17:52] LarryBafundo commented on #116
lets put it in the new issues for now

On Tue, Dec 6, 2016 at 9:51 AM, Nicole Fenton <notifications@github.com>
wrote:

[2016-12-06 17:55] nicoleslaw opened #165 "Implement glossary tool"
We would like to use the 18F Glossary tool: https://github.com/18F/glossary

I've started a yml file with terms here: https://github.com/18F/crime-data-api/blob/master/terms.yml

[2016-12-06 18:14] nicoleslaw commented on #161
As a sidenote, we should probably move our wiki to the new CDE repo since that is going to be the public-facing repo for the website. I can do that as part of this task.

[2016-12-06 18:16] nicoleslaw commented on #165
Issue moved to [18F/crime-data-explorer #9](https://github.com/18F/crime-data-explorer/issues/9) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-06 18:16] #165 closed

[2016-12-06 18:35] #93 closed

[2016-12-06 18:46] harrisj commented on #148
True, although if we are prebaking the cache, we might as well just write it all out to S3? In seriousness though, this is a good idea for when we do load a new dataset, look at the Redis to see what are the popular queries and repopulate those to mitigate a dogpile effect from clearing the cache

[2016-12-06 18:47] #91 closed

[2016-12-06 18:52] LarryBafundo commented on #23
@catherinedevlin, @jeremiak: can we close this ticket? it's intent is vague and probably better represented by the issues in the swagger documentation epic.

[2016-12-06 18:52] catherinedevlin commented on #148
In the spirit of "simplest thing that could possibly work", we could cache rowcounts in the API server's memory for this week.  Then reduce cheesiness (and maybe add actual results, not just rowcounts) in future iterations.

[2016-12-06 18:53] #163 closed

[2016-12-06 19:26] catherinedevlin commented on #23
Sure, it's been subsumed by more detailed tickets.

[2016-12-06 19:26] #23 closed

[2016-12-06 19:48] nicoleslaw commented on #164
Quick summary:

* People don't understand the difference between trends and snapshots
* Several folks don't know what an API is, wanted more context around that
* We need to be clearer about documentation for this group of data sets v the program

Next steps:

* I will make a task to reorganize the IA as we need to do that anyway based on what we've learned from the last sprint
* We should continu

[2016-12-07 00:35] LarryBafundo commented on #160
@amberwreed sounds like you covered this earlier today; can we close it out?

[2016-12-07 00:47] LarryBafundo commented on #104
we talked about incorporating aspects of the design direction into the high-level user flow (using representative mockups to articulate the high-level flow through the CDE) 

[2016-12-07 00:48] LarryBafundo commented on #103
Current agenda for the workshop here: https://docs.google.com/document/d/1fMRk6IhUBboDw_trPd5nW1CcgY5rxy6O-vfbd7Hl6kI/edit#heading=h.f0dvjrj9adi2

[2016-12-07 16:15] harrisj commented on #153
Currently I am using the [flask-apispec](https://github.com/jmcarp/flask-apispec) package which seems to do an excellent job of both generating the Swagger and Swagger-UI for endpoints from only a few directives like so:

[code]

This does mean defining some additional Marshmallow schema for return formats, but this seems to be more consistent than including YAML in the doc strings for methods lik

[2016-12-07 16:39] catherinedevlin commented on #153
The other trick here is that I think flask-apispec relies on all the possible arguments being in ArgumentsSchema, when in fact we support filtering on fields that are found dynamically in a cdemodels.TableFamily.map (and thus never present in a marshmallow schema)

[2016-12-07 16:40] harrisj commented on #153
Hmm, that is a very good point. So it sounds like we would need to manually document the incoming arguments regardless

[2016-12-07 16:47] catherinedevlin commented on #153
The idea behind the `.print_map()` method was to output those fields, so maybe they can be dynamically added to a Marshmallow schema before use_args is applied, or fed to flask-apispec some other way.

[2016-12-07 17:30] #123 closed

[2016-12-07 17:49] #117 closed

[2016-12-07 18:27] harrisj opened #167 "Fix terrible CodeClimate GPA"
Right now we have an atrocious GPA for the project at CodeClimate. This seems to be almost entirely caused by the duplication detector getting triggered by all of our definitions in cdemodels and marshmallow_schemas. I'd like to disable detection for those files, since I think these are cases where a false positive is the problem.

[2016-12-08 15:03] harrisj opened #168 "Swagger should list all potential parameters for a query"
Queries can support the base parameters in the `ArgumentsSchema` but also all the methods for the final object. Figure out some way to specify those are options.

[2016-12-08 16:29] harrisj opened #171 "Add bandit to testing"
Tool for doing static analysis of Python projects. See [website](https://github.com/openstack/bandit) for details

[2016-12-08 16:34] harrisj opened #172 "Add dependency checking to CI"
This looks to be [a good approach for checking if there are vulnerabilities in any included Python libraries](https://github.com/jhermann/dependency-check-py). This is not something we need in earlier development but will likely become important as we begin the ATO process

[2016-12-08 16:44] cacraig commented on #171
We'll probably tack this on for the next sprint, it will be a pre-req for the ATO anyways. Thanks, @harrisj

[2016-12-08 16:48] harrisj commented on #171
Here is an example of [integrating bandit into the CI](https://github.com/18F/calc/blob/develop/.travis.yml#L30)

[2016-12-08 17:15] harrisj opened #174 "Add Gemnasium support"
Gemnasium checks on how old and insecure PIP dependencies are and it will alert us to any issues. We should also add a badge as part of this issue

[2016-12-08 17:58] #141 closed

[2016-12-08 21:13] cacraig opened #175 "Post-MVP thoughts."
This issue exists to coagulate all of our steps beyond the MVP.

- Improving DB/API performance.
- Adding additional endpoints.
- Additional filters.
- File export improvements.
- TODO

[2016-12-09 14:45] harrisj commented on #143
Autogenerating seems to be the easiest way to go, now that I have the hang of the Swagger api-spec gem. I would like to be able to improve the output format down the road, but I can get to that via pull request tweaks and such

[2016-12-09 14:45] #143 closed

[2016-12-09 14:46] harrisj commented on #152
Swagger-UI is currently working within the flask-apispec gem.

[2016-12-09 14:46] #152 closed

[2016-12-09 14:48] harrisj commented on #153
So I have hacked a way to do this potentially, but it means there are often over 100 possible arguments listed for the endpoint. I would like to figure out a better way to handle this in the long run. In the short run, I just need to get an endpoint running so that the frontend team can test queries out so I will leave that for a future release

[2016-12-09 15:07] nicoleslaw opened #176 "Update navigation"
Relates to #164 — second pass at navigation and filters for MVP: https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit#

[2016-12-09 15:08] nicoleslaw opened #177 "Develop homepage copy for MVP presentation"
Drafting here: https://docs.google.com/document/d/1owJL0DiymWJ-pZazDBi58Tzlu7ZmZ9bffQkk0b3i848/edit#

[2016-12-09 15:09] nicoleslaw commented on #177
This is ready for review @amberwreed @LarryBafundo

[2016-12-09 18:42] nicoleslaw commented on #176
Synced with @jeremiak on the filters. These are ready for review.

[2016-12-12 16:03] #24 closed

[2016-12-12 23:25] jeremiak opened #182 "Set up monitoring using New Relic"
We need to set up [monitoring for our eventual ATO](https://pages.18f.gov/before-you-ship/infrastructure/monitoring/) using [New Relic](https://github.com/fisma-ready/new-relic)

[2016-12-13 03:28] harrisj opened #184 "Figure out a way to annotate Marshmallow schema fields with descriptions"
This is a nice feature for the general public down the road, but not needed for MVP development.

It would be nice to be able to provide more context in Swagger JSON down the road for what these fields are. Since these fields are coming straight from Marshmallow, it seems like we would want to annotate directly at the Field definition for the schema.

[2016-12-13 03:36] harrisj opened #185 "Denote that a Schema may include additionalProperties"
This is a feature that is not necessary for the MVP and is only required when we want to have a more precise Swagger JSON for the public.

In the JSON Schema specification (used by Swagger), you can declare that [a specific schema can include additional properties that aren't necessarily specified directly](https://github.com/json-schema/json-schema/wiki/Additionalproperties). And indeed we do oft

[2016-12-13 03:58] harrisj opened #186 "Enumerate all fields that can be queried?"
This is not an issue that needs to be resolved before delivery of the MVP. It is only pertinent as an eventual question if we want Swagger to be usable by the general public

The system is not a simple RESTful interface, but it allows users to specify queries as part of the regular command line arguments. So a call to `/incidents/?victim.age_num=24` returns only records that match. Technically, th

[2016-12-13 03:59] harrisj commented on #168
Closed in favor of #186

[2016-12-13 03:59] #168 closed

[2016-12-13 04:31] harrisj commented on #175
I have a few Swagger steps that aren't really necessary for before the MVP:
- [ ] #184 Figure out a way to annotate Marshmallow schema fields with descriptions
- [ ] #185 Denote that a Schema may include additionalProperties
- [ ] #186 Enumerate all fields that can be queried?

Our current Swagger is functional enough for testing, but it's not complete and correct. We would eventually need to fix

[2016-12-13 04:31] harrisj commented on #172
Let's try using Gemnasium instead (see #174)

[2016-12-13 04:31] #172 closed

[2016-12-13 04:32] harrisj commented on #167
The GPA has now gone up to 3.87 with the duplication checking disabled from #169. This can be closed.

[2016-12-13 04:32] #167 closed

[2016-12-13 04:45] jeremiak opened #187 "Add stage label to any public views including API documentation"
From the [ATO checklist](https://pages.18f.gov/before-you-ship/ato/checklist/):

[2016-12-13 04:48] jeremiak opened #188 "Add .about.yml"
From the [ATO checklist](https://pages.18f.gov/before-you-ship/ato/checklist/), we have to add an [`.about.yml`](https://github.com/18F/about_yml) to this repository

[2016-12-13 16:22] harrisj commented on #151
I think this is a good potential area to explore and you are right about the potential issues. In some ways, we are in a bit of a Catch-22 since we want to let users run any conceivable query like they would with SQL but we also want to be super fast. Furthermore, deciding the API will directly influence the frontend interface and I don't think we want to constrain them with our choices.

Personal

[2016-12-13 17:37] cacraig opened #190 "Support Hyperlinking objects."
Add an option to the API... maybe expand=1, or something.

When expand=1, return the full API response (without hyperlinks).
Else, return the API response with hyperlinks instead of objects.

IE.

[code]

The API will also need to support this kind of Restful routing.

*The expand option should be ignored when the &output=csv parameter is supplied. CSV should always return full data.

Resources:
h

[2016-12-13 20:42] #164 closed

[2016-12-13 20:42] #177 closed

[2016-12-13 20:44] nicoleslaw commented on #161
@amberwreed  I moved the wiki to the CDE repo and added notes there. When you have time, please take a look at the Priorities and What we learned sections—and feel free to add anything else you want to include.

cc @LarryBafundo

[2016-12-13 20:44] #103 closed

[2016-12-13 20:45] nicoleslaw commented on #176
I am going to close this in favor of #116

[2016-12-13 20:45] #176 closed

[2016-12-14 14:53] harrisj opened #196 "/Codes/ endpoints are not showing up in Swagger UI"
Not urgent for anything soon, but something to fix eventually.

[2016-12-14 16:22] harrisj opened #197 "Return precise counts if few estimated records"
Now when you do a search and there are no matches, you get a result like this

[code]

This is because the estimated counts are returning the number of rows scanned and the actual number of rows is smaller. We could consider a strategy where if the estimated_count is less than some threshold (perhaps around 1000), we then perform a precise `COUNT(*)` with the assumption it will be relatively fast

[2016-12-14 16:56] harrisj opened #198 "Add Meta equivalents for some API endpoints?"
One of questions raised during the work on the Swagger API was how to best represent the additional query fields that can be added to the default parameters in a query. For instance, the `/incidents` endpoint allows queries like `state=OH&victim.sex_code=F`. There are 214 total query fields for the `/incidents/` endpoints and other endpoints offer similar options. The sheer number of these would l

[2016-12-14 18:22] harrisj opened #199 "QA issues for the /codes endpoints"
General: should not use paginated response for values. Just return JSON directly

Specific issues:
- [x] `nibrs_arrest_type` (suppress `arrestees` list)
- [x] `nibrs_assignment_type` (suppress `victims` list)
- [x] `nibrs_criminal_act_type` (suppress `criminal_acts` list)
- [x] `nibrs_prop_loss_type` (missing ID column)
- [x] `nibrs_relationship` (suppress `relationships` list)
- [x] `nibrs_weapon

[2016-12-14 19:02] amberwreed opened #200 "Create wireframes based on feedback from workshop"
- [ ] State overview (no crime selected)
- [ ] Crime overview (no state selected)
- [ ] High-level crime selected

[2016-12-14 19:04] amberwreed opened #201 "Identify key components to design and build"
Use wireframes as a way to identify page components that will need to be designed and built.

[2016-12-14 19:05] amberwreed opened #202 "Refine design options for high-level trends chart component"

[2016-12-14 19:07] amberwreed opened #203 "Design and test downloads page"
- [x] Wireframe page
- [x] Work with Nicole to fill in content
- [x] Design page
- [x] Identify questions to ask during research
- [x] Test

[2016-12-14 21:21] AvivaOskow opened #205 "Design tables for testing in Sprints 2 & 3"
For instances when we don't have enough data to chart, but still should provide what we have. Also for "switch to table view" of charts (TBD if that will be a feature in the mvp)

[2016-12-14 22:51] harrisj commented on #199
Looks like the solution to the missing ID columns will be moving the `excludes` declarations around in the marshmallow_schemas as parameters to the `Nested` columns but I will need to adjust the includes for other tables

[2016-12-15 16:47] nicoleslaw commented on #201
I started a doc here, updating based on your wireframes: https://docs.google.com/document/d/1dv6Gm4AGW9Khx4dGoKhiDZxUzeOBe0wqqVWBRl8NSEU/edit# — Feel free to change it, I am not sure what you have in mind but we talked about some of these names yesterday.

[2016-12-15 17:10] nicoleslaw commented on #203
Here's a first shot for you:

# Downloads Overview

* Dataset List
  * Dataset Name
  * Dataset Description
  * Metadata
  * Download
  * Links: CSV, API, Documentation
* License
* Feedback/Contribute - GitHub Callout

# Download Detail
* Dataset Description
* Metadata
  * File Size
  * Years (e.g., 1975-2016)
  * Release Date
  * Tags
  * Publisher
  * License
* Links: CSV, API
* About the Data /

[2016-12-15 17:45] LarryBafundo opened #207 "Define browser & device testing matrix for CDE"
The first iteration of the Crime Data Explorer should support all modern web browsers, plus older versions of IE, based on what is used by CJIS & FBI HQ today.

In terms of devices, we should focus our testing on the devices that were most commonly used to access the UCR website in 2016. See this analytics report for more information: https://docs.google.com/document/d/1C1adR_b0IVhAapRkBFs3NlacIMS

[2016-12-15 18:17] LarryBafundo opened #208 "Configure domain mapping for CDE on Cloud.gov"
Jason Pulice and Russel Kerns, from CJIS, are getting the DNS setup for the CDE. The plan is to have this setup under the fbi.gov domain with the hostname: crime-data.fbi.gov.

They require a CName record for their DNS servers, which requires some setup in Cloud.gov.

Below is the latest correspondence from them, including instructions for doing this:

--

Larry,

After contacting the cloud.gov su

[2016-12-15 18:29] jeremiak opened #209 "Complete 18F front end guild project review"
We should use the questions provided in [18f/frontend#164](https://github.com/18F/frontend/issues/164) to submit a pull request to the 18f/frontend repo with all of our answers.

We want to submit the PR with a file in a newly created directly called `project-reviews` for the time being. It might turn out that we would rather store this information in a different place, but I want to be able to ha

[2016-12-15 20:48] harrisj opened #211 "View UCR participation at the county-level"
It's possible I am asking a dumb question here because I am new to the project but...

This was a map that has been in several prototypes as part of the overview of a state (I really like it!) But is that data provided to us in the DB already? Or is this something we would have to compute (by looking at ORIs mapped to a specific county and a window of time)? What is the window for computing partic

[2016-12-15 21:01] #113 closed

[2016-12-15 21:02] #198 closed

[2016-12-16 02:54] harrisj commented on #156
This was merged

[2016-12-16 02:54] #156 closed

[2016-12-16 02:54] harrisj commented on #146
This was merged

[2016-12-16 02:54] #146 closed

[2016-12-16 02:54] harrisj commented on #157
This was merged

[2016-12-16 02:54] #157 closed

[2016-12-16 02:54] harrisj commented on #153
This was merged

[2016-12-16 02:54] #153 closed

[2016-12-16 02:55] harrisj commented on #155
This was merged

[2016-12-16 02:55] #155 closed

[2016-12-16 02:55] harrisj commented on #154
This was merged

[2016-12-16 02:55] #154 closed

[2016-12-16 02:57] harrisj commented on #158
This was merged

[2016-12-16 02:57] #158 closed

[2016-12-16 06:32] jeremiak commented on #207
Here is some data from [analytics.usa.gov](https://analytics.usa.gov) using 2.19 billion visits over the last 90 days across a wide array of Federal webpages.

Browser | Percent of visits
--|--
Chrome | 45.3%
Safari | 24.2%
Internet Explorer (total) | 15.8%
IE 7.0 | 1%
IE 8.0 | 0.3%
IE 9.0 | 0.4%
IE 10.0  | 0.4%
IE 11.0  | 13.6%
Other | < 0.1%
Firefox | 7.5%
Edge  | 3.4%
Safari (in-app) | 1.7%
Oth

[2016-12-16 13:14] catherinedevlin opened #212 "Cache JSON for incidents"
Whereas

- a large amount of database time is spent on all the joins necessary to assemble a deeply nested incident record
- Marshmallow is taking a while to render the records as JSON
- The JSON for each incident is the same every time

*Be it resolved* this sixteenth day of December that we try caching the JSON for each NIBRS_INCIDENT record in a 1:1 database table.  Hopefully that will provide

[2016-12-16 13:55] catherinedevlin opened #213 "Try analytic cubes for summary tables"
Performance is poor on summary tables (RETA, arson, etc.) because each request requires summing over large numbers of rows.  Storing cubes (https://www.postgresql.org/docs/9.5/static/cube.html) may be an excellent alternative.

If this succeeds, together with #212, they may remove the need for #148, #149, #150, #151.

[2016-12-16 13:55] catherinedevlin opened #214 "cubes"

[2016-12-16 13:56] catherinedevlin commented on #212
If this succeeds, together with #214, they may remove the need for #148, #149, #150, #151.

[2016-12-16 15:34] LarryBafundo commented on #207
Thanks @jeremiak this is great. I'll follow-up with Lori, although she's out for most of the day today.

[2016-12-16 15:53] LarryBafundo commented on #211
Not a dumb question at all. We've explored the value of such a map in our prototypes, but haven't figured out how to do it yet. I believe that we will need to "derive" this information from available data and come up with an estimate, as it's not something that is directly provided by UCR.

@catherinedevlin, @cacraig: i believe we've talked about potential approaches for visualizing UCR participat

[2016-12-16 16:05] cacraig commented on #213
Interesting. I've never used cubes - What are the dimensions here? Are there any examples of this being used for counts?

[2016-12-16 16:30] LarryBafundo commented on #104
@AvivaOskow okay to close this out, as it pertains to the workshop?

[2016-12-16 16:34] LarryBafundo commented on #160
closing this as its represented by https://github.com/18F/crime-data-explorer/issues/1

[2016-12-16 16:34] #160 closed

[2016-12-16 18:16] harrisj opened #217 "Improve the descriptions for endpoints in the Swagger API"
For instance, it's unclear that `incidents/count` is what returns RET A summary data.

Add high-level descriptions for what types of data are available, what key endpoints are for, and how a user would get access to Summary/NIBRS data and what the most useful queries for those data types are.

[2016-12-16 18:18] #199 closed

[2016-12-17 14:46] konklone commented on #207
Also, some of that IE7 number is actually going to be newer IE clients in Compatibility Mode.

[2016-12-20 00:19] LarryBafundo commented on #135
Updated tasks for this issue:

- [ ]  create a google signup sheet to record the names and contact information of interested participants
- [ ]  develop supporting text that explains what the project is about, who should sign-up, and how they can help

[2016-12-20 00:21] LarryBafundo commented on #151
moving to this backlog as it may not be necessary depending on the outcome of issues 148-150

[2016-12-20 15:01] LarryBafundo commented on #203
<img width="677" alt="screen shot 2016-12-20 at 10 01 23 am" src="https://cloud.githubusercontent.com/assets/15899668/21355266/4fcd836a-c69b-11e6-8ab6-82212e1d3161.png">

[2016-12-20 15:29] nicoleslaw commented on #203
@amberwreed I think we should include the subsequent page of an individual dataset—I think that will help you see all of the different components we'll aggregate on this view.

[2016-12-20 16:37] #102 closed

[2016-12-20 16:37] #104 closed

[2016-12-20 16:37] #105 closed

[2016-12-20 16:39] LarryBafundo opened #220 "Connect app to full database on cloud.gov"
Per the FE/BE sync on 12/20: we'll want to ensure full access to the data that is now available on cloud.gov to support sprint 3 development.

[2016-12-20 16:44] LarryBafundo opened #221 "Define schema to map offense codes"
We need to map the summary & NIBRS offense codes to ensure that we're showing the right data depending on the parameters or characteristics of a search/display, such as crime type and location.

CJIS has provided us with documentation that explains how this is performed currently, as SRS and NIBRS sometimes refer to the same or similar offenses differently. The CDE will also need to know which dat

[2016-12-20 16:47] LarryBafundo opened #222 "Documentation for using the API"
Add high-level descriptions for what types of data are available, what key endpoints are for, and how a user would get access to Summary/NIBRS data and what the most useful queries for those data types are.

[2016-12-20 18:59] harrisj commented on #221
Just to provide a bit of a clarification, it seems to me like we need to determine a few things:

1. Do we need to define a high-level mapping (one code to one or more codes in NIBRS and/or SRS) of our categories to both of the offense code systems in use already or is it sufficient to map NIBRS to SRS and we use NIBRS?
2. We probably need to be a bit more precise about whether we are mapping at t

[2016-12-20 19:35] harrisj opened #223 "Weird SQLAlchemy errors when I run py.test"
When I run py.test and disable capturing of errors, I see a lot of SQL Alchemy warnings

[code]

These latter errors repeat a lot, so I would like to figure out if this is important or something to ignore.

[2016-12-20 20:47] LarryBafundo opened #225 "Key ATO tasks and documentation to complete for March release"
This an epic for the tasks related to the core documentation we need to submit to obtain a 90-day ATO by the March timeline. Our goal is to submit these materials by the end of the year, so they will be an early focus of Sprint 2.

Please see the issue in #infrastructure for more information: https://github.com/18F/Infrastructure/issues/750

[2016-12-20 20:50] LarryBafundo commented on #200
okay to close out @amberwreed?

[2016-12-20 20:53] LarryBafundo opened #226 "Setup a static analysis security service"
We need to setup a static security test service for the CDE. For more information please see: https://pages.18f.gov/before-you-ship/security/static-analysis/

[2016-12-20 20:54] LarryBafundo opened #227 "Add a system security plan to the repo"
The system security plan (SSP) is one of the key artifacts we should submit by the end of the year in order to stay on pace for a March ATO. The SSP provides an overview of the security requirements of the system and describes the controls in place or planned for meeting requirements.

We may be able to use the architectural diagrams that we've already created in earlier presentations (see deliver

[2016-12-20 20:54] LarryBafundo opened #228 "Setup compliance masonry documentation"

[2016-12-20 21:06] LarryBafundo opened #229 "Setup compliance masonary documentation"
This tasks involves the following:

- [ ]  install compliance masonry CLI
- [ ]  create an opencontrol.yaml based on the data below:

schema_version: "1.0.0"
name: Your_Application_Name # Name of the project
metadata:
  description: "A description of the application"
  maintainers:
    - maintainer_email@email.com
components: # A list of paths to components written in the opencontrol format for mo

[2016-12-20 21:08] #109 closed

[2016-12-20 21:22] #222 closed

[2016-12-20 21:23] #228 closed

[2016-12-20 21:26] LarryBafundo opened #230 "Backend work to support Sprint 3 development"
Tasks we'll need to do to support the development of the "explore view" in sprint 3.

[2016-12-20 21:28] LarryBafundo opened #231 "About the Data/Downloads View"
Tasks related to defining and enabling the data downloads experience

[2016-12-20 21:32] nicoleslaw commented on #201
@amberwreed Ready to close this out?

[2016-12-20 21:35] nicoleslaw commented on #161
@amberwreed Have you had a chance to look at this?

[2016-12-20 21:41] nicoleslaw opened #233 "Map out the MVP premade datasets for download view"
initial thoughts here are that we want to provide larger datasets for download that would take time to generate on the fly, as well as secondary data sets that aren't highlighted in the core explorer experience.

[2016-12-20 21:41] nicoleslaw opened #234 "Develop sample content for test scenario"
depends on #235

[2016-12-20 21:41] nicoleslaw opened #235 "Write test scenario for sprint 2"

[2016-12-20 21:42] LarryBafundo commented on #211
@catherinedevlin, @cacraig, @harrisj: related to this topic, do we also need to do research on how we'll visualize county boundaries within a state?

[2016-12-20 21:45] LarryBafundo opened #236 "Schedule research participants for sprint 2"

[2016-12-20 21:53] LarryBafundo opened #237 "Core Explorer View (Sprint 3 Focus)"
Tasks related to enabling the core explorer view

[2016-12-20 21:53] #237 closed

[2016-12-20 22:00] LarryBafundo opened #238 "Explorer View (Sprint 3 Focus)"
Tasks related to the core explorer view experience

[2016-12-20 22:45] LarryBafundo commented on #203
we need to think about how we will promote the searchability of the datasets we make available. current assumptions are that users will want to search available data by crime type, location (region, state, population, etc.), and timeframe (10 years).

[2016-12-20 22:58] LarryBafundo commented on #203
per conversation with amber, considering 3 different approaches to explore:

1) a list of the largest data sets (category A & B) organized by crime type & time period
2) all offenses made organized by time (10 years) and location
3) all offense data shown as table, filterable by type, time, location & NIBRS dimensions

[2016-12-20 23:05] catherinedevlin opened #239 "Define key queries and desired threshholds"
List queries we want to prioritize, as the app's most important expected queries, and quantify how fast we need each one to return to consider it "acceptable performance".

[2016-12-21 00:56] amberwreed commented on #161
Nope but I'll take a look tomorrow. Thanks for the reminder.

[2016-12-21 15:12] harrisj opened #240 "Return schema are not being put in the Swagger definitions section"
This is not something that has to be fixed before the MVP

I noticed that the `flask-apispec` library is inlining all the Marshmallow schema within the API responses rather than defining them as named schema within the `definitions` section of the swagger JSON file. Not sure why, but this isn't really the best way to do it and should be fixed if possible

[2016-12-21 15:14] harrisj commented on #174
This is actually done, although we should confirm that Gemnasium is updating

[2016-12-21 17:21] harrisj commented on #174
Gemnasium is updated and a bunch of us have admin roles. Marking this as done

[2016-12-21 17:21] #174 closed

[2016-12-21 17:23] harrisj commented on #187
Currently, there are no publicly-accessible pages for the API besides the standard error pages for 404, 500 errors. The documentation is behind a HTTP Auth. Does this still apply? Is there a similar issue for the explorer?

[2016-12-21 17:34] LarryBafundo commented on #187
I think this is something we'll have to come back to as we build out the CDE. I'll move it to the backlog since we can't complete it just yet.

[2016-12-21 19:09] LarryBafundo commented on #80
@cacraig per our earlier conversation, here's what i was thinking for sprint 2:

CSVs should be presented in a way that allows for the quick scanning and interpretation of their contents. Users expect to have to do some shaping of the data in their analysis, but when possible, similar data should be grouped together to promote the readability of the file. Right now the CSV presents data in no logi

[2016-12-21 19:11] LarryBafundo commented on #80
<img width="669" alt="screen shot 2016-11-10 at 11 52 58 am" src="https://cloud.githubusercontent.com/assets/15899668/21402605/4d2e81e4-c787-11e6-83d1-003e589619e4.png">

[2016-12-21 19:14] LarryBafundo opened #241 "Explore - navigate to state data by selecting a state on the map"
As a user, I want to view a map of the United States and navigate to a specific state’s crime data by clicking on it.

[2016-12-21 19:15] LarryBafundo opened #242 "View crime data for counties (epic: place holder)"
As a user, I want to view a county-based map of the state I am viewing and navigate to a specific county’s crime data by clicking on it.

[2016-12-21 19:16] LarryBafundo opened #244 "Search by city from the homepage"
As a user, I want to view crime data for a specific location by entering the name of the state, city, or county I want to view

question: we heard during user testing that some people find searching by city-name more intuitive than county. can we show results for cities by associating them with counties? if so, how will we handle cases where a city spans multiple counties?

[2016-12-21 19:17] LarryBafundo opened #245 "Explore - search by time range"
As a user, I want to select a range of years for the crime data I want to view.

[2016-12-21 19:18] LarryBafundo opened #246 "Explore - search by available crime type"
As a user, I want to view data for a specific type of crime by selecting from a list of available crime types and offenses.

Within the explorer view, this means summary category A offenses only.

[2016-12-21 19:19] LarryBafundo opened #247 "Explore - view a title and description for the location or crime type I am viewing"
As a user, I want to read a short description of the location or crime type I am viewing so that I can more easily interpret the contents of the page.

This pertains to the introductory text we are planning to show at the top of the page that would provide context around the location or type of crime the user is viewing.

[2016-12-21 19:20] LarryBafundo opened #248 "Explore - style census component to match design"
As a user, I want view related census data for the location I am viewing.

[2016-12-21 19:20] LarryBafundo opened #249 "Explore - trends chart"
As a user, I want to view a chart that shows the overview or trend for the location and crime type I am viewing.

[2016-12-21 19:22] LarryBafundo opened #250 "Explore - compare trends by location for selected crime types"
As a user, I want to see how the trend for the crime and location I am viewing compare with the rest of the nation or state.

For the MVP comparisons will be limited. At most we will show 3 trend lines in a single chart. States compare with the nation and counties compare with the state. Additional functionality for comparisons may be pursued in future iterations.

[2016-12-21 19:23] LarryBafundo opened #251 "Explore - view chart descriptions & metadata"
As a user, I want view a description of the charts I view that explains their contents.

[2016-12-21 19:23] LarryBafundo opened #252 "Explore - view incident detail charts"
As a user, I want to view selected incident details for the crime type and location I am viewing.

[2016-12-21 19:23] LarryBafundo opened #253 "Explore - download the contents of a page as a CSV or JSON"
As a user, I want to download the contents of the page, or a specific chart, as a CSV. This output should be generated a package that includes separate files for SRS & NIBRS data and a glossary of terms.

This story also references the following issues:

https://github.com/18F/crime-data-api/issues/57
https://github.com/18F/crime-data-api/issues/263

[2016-12-21 19:24] LarryBafundo opened #254 "Explore - download the contents of a chart as a PNG"
As a user, I want to download the contents of a chart as a PNG

[2016-12-21 19:24] harrisj commented on #80
Following up on Ordered=True for Marshmallow, it will actually order the columns in the same way as are specified in the schema. Not sure how it works with SQLAlchemy, but I don't think those columns need to be in only one order if we want to try canonicalizing them

[2016-12-21 19:24] LarryBafundo opened #255 "Explore - share a chart on social media"
As a user, I want to share a chart on social media (twitter, facebook)

[2016-12-21 19:24] LarryBafundo opened #256 "Explore - share results as a URL"
As a user, I want to share results as a URL

[2016-12-21 19:45] LarryBafundo commented on #207
here's the latest data from UCR analytics:

<img width="341" alt="screen shot 2016-12-21 at 2 44 01 pm" src="https://cloud.githubusercontent.com/assets/15899668/21403733/0e40db12-c78c-11e6-849c-edc2bf744b04.png">

<img width="365" alt="screen shot 2016-12-21 at 2 44 22 pm" src="https://cloud.githubusercontent.com/assets/15899668/21403735/115ab174-c78c-11e6-8a02-5c336bd2fdae.png">

<img width="343"

[2016-12-21 19:51] LarryBafundo commented on #207
Based on this data, let's move forward with the assumption that we'll cover the following, per Jeremia's earlier comment in the thread:

"By explicitly supporting Chrome, Safari, IE 10+, Firefox and MS Edge we cover 94.4% of the users represented in the data.

Extending support to IE 7, 8, and 9 would yield just 1.7% of users and could significantly decrease the amount or fidelity of features we c

[2016-12-22 01:40] #171 closed

[2016-12-22 02:38] harrisj commented on #211
Oops, I hit the wrong button!

[2016-12-22 02:40] harrisj commented on #226
I think that Bandit (#171) should be good for this?

[2016-12-22 13:50] LarryBafundo commented on #201
let's close this out once we finish sprint 2 and have a better idea of the downloads experience.

cc: @nicoleslaw, @amberwreed

[2016-12-22 13:51] LarryBafundo commented on #205
@AvivaOskow: switch to table view as part of the explorer experience is not a priority for the MVP. but could be something we do later on.

[2016-12-22 13:53] LarryBafundo commented on #205
@AvivaOskow: can we think of this ticket as the design work we want to do to ready tables for testing in sprint 3? that way we can create a new one if there are specific refinements we want to make and this ticket won't stay open forever.

[2016-12-22 13:55] LarryBafundo commented on #245
closing this as jeremia already opened a similar ticket

[2016-12-22 13:55] #245 closed

[2016-12-22 14:02] LarryBafundo commented on #221
@harrisj those are good points, but how do we arrive at a decision? does our design direction indicate that we just need to map NIBRS to SRS?

what do you mean by offense levels vs. offense codes? my understanding is that all offenses have a reference code and a description. but am not sure if you're talking about something else.

[2016-12-22 15:28] harrisj commented on #221
Sorry for being imprecise. Let me actually do my homework here:

The `/incidents/count` endpoint returns nationwide summary records from the RET A Month Offense Subcat table. Each record is a count of a crime for a specific month the `offense_subcat_id` code which looks like `45 - Simple Assault`. These offenses are in turn mapped to a `reta_offense_category` which looks like `40 - Assault` and is

[2016-12-22 15:45] #201 closed

[2016-12-23 16:09] LarryBafundo opened #261 "Estimate file size for likely data sets made available for download"
As we design the data download experience, we need to better understand the file size of potential data sets we would like to make available. For example, is it feasible for us to make all of violent crime available for download as a CSV, or do we need to segment violent crime by specific offense and or timeframe.

Nicole has listed the data sets we may want to make available in this spreadsheet h

[2016-12-23 16:12] LarryBafundo opened #262 "Create a draft glossary of terms for CSV column headings"
in addition to reordering the columns of the CSV to improve readability, we also need to provide a glossary of terms so users can understand what the various column headings mean. We may also consider rephrasing the headings using plain language.

For sprint 2 lets put together a draft glossary of terms and experiment with rephrasing some of the headings to promote readability and understanding. W

[2016-12-23 16:12] LarryBafundo commented on #261
We can math it out to figure out how many rows to limit requests to.

[11:11]
(255 max rows) * (30 chars) * (1 byte/char) = 7650 bytes per row

[11:11]
That's an upper bounds

[2016-12-23 16:34] LarryBafundo commented on #262
The csv/json distinction just shouldn't drastically change the meaning of the data... like one returning incidents, and the others returning incidents grouped by something for example.

So like agence_name -> Agency Name, or victim_0.victim_name -> Victim 1 Name

Or a more complex one -> agency.field_office.field_office_numeric_code -> Agency Field Office Code

[2016-12-23 16:37] nicoleslaw opened #263 "Clean up CSV column headings"
We should decide how to order and label the CSV columns, and potentially delete some of the blank ones if possible. I added a tab `2.03` to the content map here: https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit?pli=1#gid=529995252

* Should they be grouped as I have them, for example, by alpha?
* Should we delete the `ff_line` and `did1 columns?
* Should rew

[2016-12-23 17:18] nicoleslaw commented on #203
Relatedly, we are mapping out potential premade datasets/CSVs here: https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit?pli=1#gid=249246828

[2016-12-27 14:49] LarryBafundo commented on #233
working file here: https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit#gid=249246828

[2016-12-27 14:49] LarryBafundo commented on #261
working file here: https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit#gid=249246828

[2016-12-28 11:31] harrisj opened #264 "Add DB index for nibrs_incident.cargo_theft_flag?"
It looks like one is missing, and that we will need to be able to retrieve cargo theft incidents specifically in some cases

[2016-12-28 14:51] harrisj opened #265 "Clarify how to properly find Hate Crimes?"
There seem to be several ways by which hate crimes are potentially identified in the system, but they don't seem to be consistent in counts in the big DB

1. There is a table `hc_incidents` which I think is hate crime incidents.

[code]

return `174,469` rows. The problem is I don't know exactly how to join it against NIBRS incidents. Both have an `incident_id` column, but there is nothing to indi

[2016-12-28 16:09] harrisj commented on #221
Maybe I am just overthinking this too. I just am thinking about the URL structure of pages and it seems like we might have something like `/ohio/homicide' or 'ohio/counties/cuyahoga/homicide` or `/ohio/counties/cuyahoga/cleveland-pd/homicide` or something and the issue is that we want `homicide` to return SRS-level data at the county level and NIBRS data at the agency level. But there is no requir

[2016-12-28 16:13] harrisj commented on #211
We can get [County shapefiles from the Census](https://www.census.gov/geo/maps-data/data/cbf/cbf_counties.html) (probably already part of whatever mapping framework we are using). The question of apportioning by population is a little more complicated, but now that I have some SQL sense in my head, let me see what I can do.

[2016-12-29 20:07] #106 closed

[2016-12-29 21:44] harrisj opened #266 "Clarify discrepancies between the ct_incident and nibrs_incident table"
So, it seems like the `ct_incident` table is supposed to be details about cargo thefts in the `nibrs_incident` table if I understand correctly, but there are some discrepancies in the counts

|Query|Rows|
|------|-----|
|ct_incident count|4052|
|nibrs_incident cargo_theft_flag='Y'|7859|

There is a `nibrs_incident_id` column on the `ct_incident` table, but when I attempt to join the two, it return

[2016-12-29 21:55] harrisj opened #267 "The `/incidents/<nibrs:id>` endpoint doesn't seem to be working"
Doing a query like `http://localhost:5000/incidents/?incident_id=73973062` works but doing `http://localhost:5000/incidents/73973062/` returns nothing. Do we still want the latter to be an API endpoint? I suppose this isn't really needed until the Explorer lets you look at a specific NIBRS incident though.

[2016-12-29 22:04] LarryBafundo commented on #227
@cacraig okay to close this?

[2016-12-29 22:05] LarryBafundo commented on #229
@cacraig can you add a note here (at least for my benefit) that explains when we'll be in a position to tackle this?

in the meanwhile, i'm moving it back to the backlog.

[2016-12-29 22:08] LarryBafundo commented on #205
@amberwreed okay to close this out ?

[2016-12-29 22:08] LarryBafundo commented on #202
can we be more specific about the refinements we're aiming to make as part of this task?

[2016-12-29 22:10] LarryBafundo commented on #267
i thought we got rid of the NIBRS IDs?

[2016-12-29 22:14] harrisj commented on #267
The `nibrs_incident` column is a DB-only index number that is necessary for joining several tables together. We did scrub the following fields that are part of the NIBRS reporting system (independent of the DB index):

- did
- ddocname
- ff_line_number

The `did` is a Document ID and I think that is the true NIBRS numbers of the case and that is what we are scrubbing.

[2016-12-29 22:19] harrisj commented on #211
Do you want me to add an endpoint for county level counts then? What should the data look like? Is there a prototype for the CDE that is a good start?

[2016-12-29 22:20] harrisj commented on #217
Can we move this to the backlog? I'm not sure it's that urgent actually

[2016-12-29 23:35] amberwreed opened #269 "Explorer view refinements"

[2016-12-29 23:36] amberwreed opened #270 "Preliminary homepage design"

[2016-12-29 23:37] amberwreed opened #271 "Develop a test plan for Sprint 3"

[2016-12-29 23:38] amberwreed opened #272 "Prepare for & conduct content workshop"

[2016-12-30 02:11] catherinedevlin commented on #267
Thanks, @harrisj - https://github.com/18F/crime-data-api/pull/268 fixed this.

[2016-12-30 02:28] catherinedevlin commented on #266
Clarifying info from Justin's email of 12/22:

That would certainly explain having more CT_INCIDENT than NIBRS_INCIDENT.  I don't exactly understand the reverse... I'm afraid all four options are available to agencies: report cargo theft via both NIBRS and CT, report only via CT, only via NIBRS, or don't report it at all.

I think that means ORI+Incident Number is our only available "foreign key"

[2016-12-30 18:05] cacraig opened #274 "CSV Output Improvements + Pre-Generated reports."
Based on the feedback about the CSV downloads, we need to investigate the following:

- Offload really large reports to S3. Include links on a download (directly to the S3 bucket) for these files. We have discussed creating a file for each State. Which would yield ~50 <1GB CSV downloads.

- Include an option in the API to Inner join tables, rather than outer join. This is because a data analyst wo

[2016-12-30 18:11] harrisj commented on #267
This was fixed. Closing

[2016-12-30 18:11] #267 closed

[2016-12-30 18:12] harrisj commented on #266
Thank you for reminding of the email I read too but I obviously did not comprehend. It does seem like we are going to need some means to join on the two like you say, if we are to avoid duplicates for situations where some states submit both. Data is fun, isn't it?

[2017-01-03 15:18] harrisj commented on #184
One thing I have figured out is that in SQL Alchemy, you can add the `doc` annotation to columns like:

[code]

when the SQL Alchemy table is imported by a Marshmallow-schema, that description is then accessible via the `metadata` field

[code]

This should give us a way to mark up documentation within the SQL Alchemy declarations and have it passed through to the Marshmallow schema. We could then

[2017-01-03 15:31] #182 closed

[2017-01-03 16:21] harrisj commented on #211
Just to clarify scales, for the data year 2015, there are 23,293 agencies listed and 681 of them span multiple counties. So, this isn't something that applies for most agencies, but it is technically important for some that do. The problem is that the agencies that do span colonies are often city police departments, notably:

|-----------+---------------------------+--------------|
| ori       | u

[2017-01-03 17:24] cacraig commented on #211
@harrisj 2-3% of the agencies may be significant enough to pursue this now. - However, my one concern is that we are not the authoritative source on this data. We should make sure we use the exact method that the FBI uses to derive county by county counts when agencies span mult. counties.

[2017-01-03 18:10] harrisj commented on #242
The question is, do we need this to include functionality for #211? Or can we just ignore agencies that span multiple counties for now?

[2017-01-03 18:13] harrisj commented on #211
Agreed. In my ideal world, the FBI would just give us a table that would basically be keyed by `county_id, offense_subcat_id, month, year` with a count and we could just query that to get what we need and they would do the computation. I get the sense that they don't have that table derived anywhere yet.

So, one thing I also wanted to note is that I think we decided that county-level statistics w

[2017-01-03 18:26] harrisj opened #277 "Add an unauthenticated status endpoint for uptime monitoring"
See https://github.com/18F/crime-data-explorer/issues/86 for a related issue on the frontend

[2017-01-03 20:06] harrisj commented on #244
Just wanted to note here the FBI supports two other different levels of granularity on location independent of the state-county-city most people are familiar with:

- Many urban agencies are mapped to a `ref_metro_division` that represents the specific urban area they are located in. Note that a metro division might span multiple real cities or states. For instance, NYC is part of the `New York-Je

[2017-01-04 01:21] amberwreed commented on #135
Lori suggested that they might provide us with names.

[2017-01-04 15:24] #277 closed

[2017-01-04 15:25] #188 closed

[2017-01-04 18:05] jeremiak commented on #207
That looks great @LarryBafundo - Going to close this issue now and add our conclusion to the README.

[2017-01-04 18:05] #207 closed

[2017-01-04 18:09] cacraig commented on #226
This is done via #171

[2017-01-04 18:09] #226 closed

[2017-01-04 18:11] #162 closed

[2017-01-04 18:12] #205 closed

[2017-01-04 18:13] cacraig commented on #197
Done in #204

[2017-01-04 18:13] #197 closed

[2017-01-04 18:28] #251 closed

[2017-01-04 18:33] jeremiak commented on #248
@amberwreed could you post the design for the census block from the mobile display for now?

[2017-01-04 18:34] #250 closed

[2017-01-04 18:34] jeremiak opened #279 "Census data endpoint"
We'll need a new endpoint to get census data about a location (#248). @brendansudol and I will come up with some JSON we want based on the design.

[2017-01-04 18:35] #256 closed

[2017-01-04 18:38] jeremiak commented on #256
Closed this as we're already building the application in this way. Every view will have a unique URL

[2017-01-04 19:43] harrisj commented on #279
So, it looks like the "census" data we need is actually already within the FBI database. Based on a mockup I've seen the following fields for a county:

- agency participation rate within state/county
- # agencies
- # residents
- # police officers
- # peace officers

The FBI CDE includes several `ref_` tables with basic information. Agencies are mapped directly to counties for a given data year (a

[2017-01-04 20:32] harrisj commented on #279
Peace officers is a general term for various law-enforcement roles that aren't necessarily police (ie, this might include corrections officers, arson inspectors, tax and fraud investigators, etc.). What bothers me is that [the definition seems to vary from state to state](https://en.wikipedia.org/wiki/Law_enforcement_officer). It looks like [we could get this information from other places](https:/

[2017-01-04 20:35] #269 closed

[2017-01-04 20:56] amberwreed commented on #249
![trend_chart_1 4 16](https://cloud.githubusercontent.com/assets/13576520/21658891/25f434c4-d27d-11e6-8fe1-cef314ccf37c.png)

[2017-01-05 04:02] amberwreed commented on #249
![option 1](https://cloud.githubusercontent.com/assets/13576520/21668647/ae958b58-d2b8-11e6-93b9-781827ce542a.png)

[2017-01-05 04:03] amberwreed commented on #249
[https://drive.google.com/open?id=0B5cw7Ca2CjsyZ19mUGxuSFFXLXM](url)

[2017-01-05 04:04] amberwreed commented on #252
![offense](https://cloud.githubusercontent.com/assets/13576520/21668683/f210da90-d2b8-11e6-84e1-1f0aa1297d7e.jpg)

[2017-01-05 04:05] amberwreed commented on #252
Offense with no trend chart:
![hate crime_nibrs only](https://cloud.githubusercontent.com/assets/13576520/21668691/0f3be8d0-d2b9-11e6-94ed-faded6c8148d.jpg)

[2017-01-05 04:05] amberwreed commented on #252
^^ Still working on table design.

[2017-01-05 04:07] amberwreed commented on #248
![crime collection](https://cloud.githubusercontent.com/assets/13576520/21668712/581c5fda-d2b9-11e6-9f9a-4346e3d897eb.jpg)

[2017-01-05 04:08] amberwreed commented on #247
![crime collection](https://cloud.githubusercontent.com/assets/13576520/21668746/94509444-d2b9-11e6-8961-6d2cbb200ab2.jpg)

[2017-01-05 04:10] amberwreed commented on #247
[https://drive.google.com/open?id=0B5cw7Ca2CjsyQXBzUEQzM3Fhcjg](url)

[2017-01-05 05:01] amberwreed commented on #241
[https://drive.google.com/open?id=0B5cw7Ca2CjsyeUtDYno0czRGdms](url)

[2017-01-05 05:02] amberwreed commented on #241
![left hand filter navigation](https://cloud.githubusercontent.com/assets/13576520/21669507/24a8f458-d2c1-11e6-9ff9-a422d8d79da8.png)

[2017-01-05 06:00] jmcarp opened #280 "Relationship loading"
Hi! I was experimenting with using github.com/jmcarp/nplusone with this project for a tech talk and noticed a bunch of lazy-load warnings. For example, the `/agencies` endpoint serializes results with the [RefAgencySchema](https://github.com/18F/crime-data-api/blob/master/crime_data/common/marshmallow_schemas.py#L278-L294), which serializes a handful of relationships that aren't eager-loaded (alth

[2017-01-05 16:12] jeremiak opened #281 "Consider new names for /incidents/count endpoint?"
When using the API, it is a bit confusing when I would be getting data from a Return A/summary source and when the API response is based on NIBRS data. I think the reason is that the URL structure tries to obscure the difference between summary and NIBRS from the user (which I support!) but `/count` doesn't really resonate with me.

Would you all consider changing the name of this endpoint? I'm no

[2017-01-05 16:41] harrisj commented on #261
I'm not sure if this should still be open or not

[2017-01-05 19:10] harrisj opened #283 "Consider using more dynamic loading of SqlAlchemy relationships?"
I am playing around with SqlAlchemy to return agencies associated with a given county in a specific data year. Right now, this query in SQLAlchemy

[code]

is returning this SQL (I elided the field names in the SELECT but otherwise left it the same)

[code]

Notice all those left outer joins. Those are associations being pulled in automatically even though I don't necessarily need them in this con

[2017-01-05 21:13] nicoleslaw opened #284 "Homepage (Sprint 4)"
Tasks related to defining, designing, and enabling the homepage experience

[2017-01-05 21:15] nicoleslaw commented on #203
Amber outlined those here: https://docs.google.com/presentation/d/1ihO3gbYsPvpmaI088OlwXrTXkqWxFFZFAevG-wBqzbw/edit#slide=id.g167459c3ce_0_198

[2017-01-05 21:19] nicoleslaw commented on #116
These should be pretty close after syncing with Larry last sprint: https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit?pli=1#gid=901121743

cc @jeremiak

[2017-01-05 21:22] nicoleslaw opened #285 "Write SRS v NIBRS copy"

[2017-01-05 21:26] nicoleslaw commented on #272
Ideas for topics:

- Activities so far
- Goals, audiences, and principles
- Voice and tone (Madlibs exercise)
- Web style basics
- Key caveats (cardsorting exercise)
- Pair writing exercises
  - Descriptions
  - About page

[2017-01-06 03:45] jeremiak opened #286 "Include rates in API responses when appropriate"
I think that the API should return crime rates (probably with a common unit of per 100,000 people) or a population count along with actual crime counts. We want to show both the actual count and the rate in the explorer interface (#249) since both numbers are valuable to understanding the nature of the crime in a place.

For example, I made a request of `/incidents/count/?by=year` and I got this r

[2017-01-06 04:32] jeremiak commented on #239
From looking at the designs (such as #248), and thinking through the front end app more, I know that we'll need to make the following queries for both SRS and NIBRS based data:

* the place - this is a US state to start with
* a time range - Using `incident_date` on `/incidents`, for instance
* a crime - all group A offenses in addition to some of the special flags, such as hate crime
  - All viol

[2017-01-06 04:59] jeremiak commented on #211
Could we provide county level data for both SRS and NIBRS data?

[2017-01-06 05:03] jeremiak commented on #252
What should we show if there isn't any or nearly enough (exactly what means is still to be determined) NIBRS data? Do we have a sense of what we want to show in its place?

[2017-01-06 05:04] jeremiak commented on #22
@catherinedevlin In my experience, the `>` and `<` filters have worked. Can we close this issue or is there still work to be done?

[2017-01-06 12:17] catherinedevlin commented on #22
Ah yes, this is done.  Thanks!

[2017-01-06 14:26] harrisj commented on #211
I believe so. The mapping is done at the agency level rather than the incidents (hence our consternation about the right way to split it), and both the ret_a and nibrs incidents use the same `ref_agency` table

[2017-01-06 15:28] cacraig opened #287 "Create Partitions on RetaMonth table - RefAgency.state_id, or year."
Create partitions on these tables in order to improve query performance. - Require limitations on the API into using queries that cross the partitions. Expands on work from #273

[2017-01-06 15:37] cacraig opened #288 "Generate Big publication reports."
Generate big publication reports.

By State + RETA Offense Type ie. NC_Murders.csv. Should be a total of ~400 reports.

Create an S3 bucket, and upload these files to it.

[2017-01-06 18:03] harrisj commented on #286
So the idea is that it would calculate the rate depending on if you are grouping by a specific locality or not?

- default: national population
- by=state: state population for that year
- by=county: county population for that year

or such?

[2017-01-06 18:08] jeremiak commented on #286
Exactly!

I think it would be sufficient to just include the population in each response for that place in that year to start, that way the user can calculate the rate to whatever unit they want?

[2017-01-06 20:18] jeremiak commented on #116
@nicoleslaw I think this is done/updated on the site (https://crime-data-explorer.fr.cloud.gov). We have yet to make the NIBRS based detail view or the hate crime view so those have yet to be incorporated.

[2017-01-06 20:19] #22 closed

[2017-01-06 22:27] nicoleslaw commented on #116
@jeremiak Thanks—I will send a pull request with some edits on Monday.

[2017-01-09 13:47] jeremiak commented on #49
This might be in a totally different/wrong direction but I wonder if we should actually just ditch the NIBRS data model for output and craft our own incident level objects with keys we can name (and map to their relative NIBRS column) in the interest of making the output/API easier to use.

As it is right now, using the API requires a significant level of domain knowledge about what NIBRS data is

[2017-01-09 15:14] harrisj commented on #49
It sounds like we would want to take these and move them back into the API when you are done. I understand why we started with a general query language for the backend, but it does have the risk as you point out of requiring a lot of understanding just to get started. In essence, it's like plopping people into a forest and there are no trails. Terrifying.

The Explorer will be laying down its own

[2017-01-09 15:23] jeremiak commented on #49
That sounds great @harrisj. I understand the value of presenting as raw of data as possible, but it also comes with the cost of adhering to a data model we didn't originate.

I think the requests that the Explorer will make are pretty basic. I listed them out in [#239](https://github.com/18F/crime-data-api/issues/239#issuecomment-270829203), but we're really only interested in filtering both summa

[2017-01-09 15:39] harrisj commented on #233
What else do you need me to do for this one?

[2017-01-09 15:40] harrisj commented on #244
So, how do we want to implement this? Do we need a `location` search API method? Should it accept some level of scoping or such?

[2017-01-09 15:54] harrisj commented on #246
Once #160 is merged, the frontend should be able to do a call to `/codes/reta_offense` on the API to get a list of all the RET A offenses and their codes

[2017-01-09 22:00] nicoleslaw commented on #116
Changing my mind: I am going to close this; I will do a copy editing pass on the entire /explore section later in the sprint.

[2017-01-09 22:00] #116 closed

[2017-01-10 17:37] jeremiak commented on #246
Trying to use the API endpoint from above, but getting two different types of errors (API key withheld)

* https://crime-data-api.fr.cloud.gov/codes/reta_offense/ returns a 404 error
* https://crime-data-api.fr.cloud.gov/codes/reta_offense returns a 500/Server error

[2017-01-10 17:39] harrisj commented on #246
Oops, this needs #260 to be merged

[2017-01-10 19:19] jeremiak opened #290 "Add yearly population to summary response from /incidents/count"
So that we can accurately compute the yearly rate for a crime in a place, we need to know the population. It would be helpful if that population count is returned in the same response of `incidents/count`

[2017-01-10 19:22] amberwreed commented on #252
Here's a link to the possible NIBRS attributes by summary crime: https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit#gid=908372027

[2017-01-10 19:43] harrisj opened #291 "Clarify best way to identify if an agency has reported in a given year"
**[UPDATED 1/12/2017 with response from FBI]**

We want to be able to know if an agency has reported in a given year for SRS and/or NIBRS. This is so we can calculate what percentage of agencies are reporting for a year in the crime explorer presenter. Potentially if we have this data at the month level, we could also show areas of non-reporting on graphs for a specific agency or such (or show tha

[2017-01-10 19:50] harrisj commented on #279
See #291 for questions about participation rates

[2017-01-10 21:43] harrisj commented on #291
Some numbers! I looked at how many unique agencies are in each type of table for the year 2014

|Table|Agencies|Note|
|------|---------|-----|
|Ref_agency_data_content|23,467||
|RET A|22,332|Y=16593, N=7034|
|NIBRS|22,451|(U=16702,I=6420,Z=1090)|

So, I personally find it a little maddening that these tables seem to be redundant and yet have different totals, but it looks like I should use ref_age

[2017-01-10 22:24] harrisj commented on #291
On further reflection, this data suggests that ref_agency is populated only with agencies that have reported for something. So, I don't know if I can calculate the participation rate accurately.
There is a [census of law enforcement agencies that last updated in 2008](17,985), but it has a smaller count of agencies and it's unclear if agencies are counted the same in both systems

[2017-01-11 02:32] harrisj commented on #290
So, if I understand it correctly, compute population like this:

|Group by|Calculation|
|-----------|-----------|
|None|Add up `ref_state_population` for latest data year|
|by state|The `population` for the matching `ref_state_population`|
|by county|The `population` for the matching `ref_county_population`|
|by agency|The sum of the `population` from `ref_agency_county`|

[2017-01-11 15:56] AvivaOskow commented on #252
![page view_1 11 17](https://cloud.githubusercontent.com/assets/21244661/21855457/a3f72a38-d7ec-11e6-86ef-848e719375ba.jpg)

[2017-01-11 18:29] harrisj opened #292 "Clarify inconsistency in data_year"
**[1/31/17 updated to reflect information from the FBI]**

When working on #291, I had been acting under the assumption that all tables that use a data year would be updated at the same time and have the same "current year" as it were (this could be last year depending on the same load). I decided to double check this assumption and found I was wrong:

|Table|Max Year|
|---|---|
|pe_employee_data|

[2017-01-11 18:33] jeremiak commented on #249
@brendansudol what do you think about closing this and opening more discrete bits of work as they are required? I think you already did most of this implementation

[2017-01-11 18:48] jeremiak commented on #291
Cool analysis! Perhaps we could ask the FBI how they know it _isn't_ near 100% participation? Also, does this [ORI crosswalk](http://www.icpsr.umich.edu/icpsrweb/NACJD/studies/35158) help to establish the list of known law enforcement agencies in the country?

[2017-01-11 18:50] harrisj opened #293 "Clarify what to do about test records in the database"
There are some test records in the database. These records should not be returned for any user searches because there do not seem to be any incidents or RET A records for them in the database, but they may cause some counts to be off.

Among the states is returned in the `ref_states` table is state ID 88 = `Testy McTesterstate`

In addition, there are several fake agencies mapped to this state

|

[2017-01-11 19:05] harrisj commented on #291
That is a good point. The Codebook for that crosswalk (aka the LEAIC)  does say this:

So that sounds like it could work, but there might be some issues with using it to count all agencies in a given state since each system has different ways of defining what an agency is:

So I think we'd have to look into this further before we load the external crosswalk. But maybe let's wait to see what the FB

[2017-01-11 19:33] harrisj opened #294 "Clarify how to count NOT SPECIFIED county records at the county levels"
So, while I was looking into #211, I wondered why New York City was not listed as a case where a city spans multiple counties, since each Boro of NYC is technically also a county of New York State. I did some digging into it and found out that the FBI punts on the matter, and assigns the New York City PD to the special county of NOT SPECIFIED. In total, there are 502 agencies that are explicitly m

[2017-01-11 20:31] AvivaOskow commented on #252
![nibrs chart](https://cloud.githubusercontent.com/assets/21244661/21865178/03155262-d813-11e6-8986-c47fff1e987c.jpg)

[2017-01-11 23:37] AvivaOskow commented on #252
![nibrs chart_1 11 17](https://cloud.githubusercontent.com/assets/21244661/21870921/0580c3a0-d82d-11e6-90f6-045066cb3a52.jpg)

[2017-01-11 23:37] AvivaOskow commented on #252
<img width="448" alt="screen shot 2017-01-11 at 6 37 19 pm" src="https://cloud.githubusercontent.com/assets/21244661/21870936/0e667e4c-d82d-11e6-9da8-06ceac2be1a9.png">

[2017-01-11 23:57] #203 closed

[2017-01-11 23:58] LarryBafundo commented on #80
@cacraig can we close this out, at least in terms of the changes we discussed in preparation for sprint 2 testing?

[2017-01-11 23:59] LarryBafundo commented on #161
@amberwreed, @nicoleslaw okay to finally close this?

[2017-01-12 00:00] LarryBafundo commented on #208
@cacraig moving this back to in progress since we asked them to recreate the CNAME

[2017-01-12 00:04] LarryBafundo commented on #233
let's revisit this - moving out of the current sprint and into the backlog.

[2017-01-12 00:04] #261 closed

[2017-01-12 00:07] #234 closed

[2017-01-12 00:07] #236 closed

[2017-01-12 00:07] #262 closed

[2017-01-12 00:10] LarryBafundo commented on #221
@harrisj where did we land with this? should we close this out?

[2017-01-12 00:11] LarryBafundo commented on #151
@catherinedevlin is this issue still relevant? I know it was dependent on some of the work you were finishing up at the end of the year.

[2017-01-12 00:11] LarryBafundo commented on #25
@catherinedevlin: could you please update the checklist, in the event that we've made progress on some of these items?

[2017-01-12 00:17] #214 closed

[2017-01-12 00:17] LarryBafundo commented on #212
@catherinedevlin can we get an update on this one too please?

[2017-01-12 02:34] harrisj commented on #211
Okay, here is the plan. The idea is to create a county multiplier table `cde_county_multiplier` that can be used for multiplying the crime counts for a given agency in a county. So the table would be these columns

- agency_id
- data_year
- county_id
- multiplier (a float between 1 and 0)

To keep it smaller, there would not be a multiplier for agencies that aren't split.

For a given data year, w

[2017-01-12 14:48] cacraig commented on #212
@LarryBafundo - This is working, and good to go. We have to merge it in. However, we're holding off on that until we can switch the DB over because it depends on that.

[2017-01-12 15:38] #202 closed

[2017-01-12 15:45] jeremiak commented on #246
This is done, with any remaining styling to be done represented by [crime-data-explorer#105](https://github.com/18F/crime-data-explorer/issues/105)

[2017-01-12 15:45] #246 closed

[2017-01-12 17:15] nicoleslaw commented on #272
Slides in progress: https://docs.google.com/presentation/d/14AZZTSrbGRhkw-hS3VogJaM2CfgDicVQmB65hSfm5j8/edit#slide=id.p

Outline: https://docs.google.com/document/d/1nfZclLeVs9EIn2xWpwNLRn0Fa1_Zzyh9KE7x9zK31Ws/edit#

[2017-01-12 20:15] catherinedevlin commented on #151
@cacraig has picked up the torch on this one... I'm not sure how he wants to describe his (impressive!) ongoing work into getting all this data rapidly available, whether the ongoing work should be a separate ticket or considered part of this.

[2017-01-13 20:32] cacraig commented on #150
Done in #212

[2017-01-13 20:33] #150 closed

[2017-01-13 20:33] cacraig commented on #220
This is still pending. When #295 is merged, this will be done.

[2017-01-13 20:34] cacraig commented on #148
This was done in #212 - Aside from that, other caching mechanisms are not needed at this time.

[2017-01-13 20:34] #148 closed

[2017-01-13 20:34] cacraig commented on #149
See #212 -

[2017-01-13 20:34] #149 closed

[2017-01-13 20:37] LarryBafundo commented on #279
within the explorer view we're going to refer to these fine folks, police/peace officers, as simply "officers."

[2017-01-13 20:41] cacraig commented on #227
Yep!

[2017-01-13 20:41] #227 closed

[2017-01-13 20:44] #221 closed

[2017-01-13 21:06] nicoleslaw commented on #279
re ^ https://github.com/18F/crime-data-explorer/pull/123

[2017-01-16 19:15] #249 closed

[2017-01-17 04:46] #235 closed

[2017-01-17 04:56] LarryBafundo opened #297 "Explorer View Enhancements (Sprint 4)"
Tasks related to the development and refinement of the Explorer View. This epic will be informed, in part, by Tuesday's user testing.

Key themes: crime collection view, download experience, glossary tool, algorithmic content, caveats/and context.

[2017-01-17 15:35] harrisj commented on #294
Just to add another wrinkle, it looks like the FBI will sometimes create multiple distinct shadow counties of real counties in a state with the name `UNMAPPED COUNTY` for mapping the county locations of state-wide police. For instance, if I run this query

[code]

I get 414 agencies back like this

| state_name     |   county_id | pub_agency_name                                    |
|-------------

[2017-01-18 00:23] cacraig opened #298 "Add tests + Regenerate Test SQL file."
We need to add Tests + Swagger Documentation for the following:

[code]

We also need to run the following SQL cleaning house items:

(1) Load SQL db using dba/crime_data_api_test.sql
(2) Run sql/setup-denorm.sh
(3) use pg_dump --no-owner --no-privileges > dba/crime_data_api_test.sql
(4) Add line to top of dba/crime_data_api_test.sql saying "THIS DUMP DOES NOT CONTAIN SENSITIVE PERSONAL INFORMATIO

[2017-01-18 01:58] #231 closed

[2017-01-18 01:59] #233 closed

[2017-01-18 02:05] #115 closed

[2017-01-18 02:22] LarryBafundo commented on #281
@cacraig, what do you think about @jeremiak's suggestion here?

[2017-01-18 03:11] harrisj commented on #264
Since this is implement with denormalized tables in #296, this is irrelevant

[2017-01-18 03:11] #264 closed

[2017-01-18 04:43] LarryBafundo opened #299 "CDE Homepage (Sprint 4)"
Tasks related to the design and enabling of the CDE homepage experience.

The initial focus for this epic and sprint is to consolidate the design direction for the homepage, create a work plan for developing the content, and putting the basic navigational structure in place for the page.

Preliminary design (to be updated):

<img width="420" alt="screen shot 2017-01-17 at 9 04 08 pm" src="https://

[2017-01-18 04:52] LarryBafundo opened #300 "Consolidate & refine design direction (Homepage)"
We need to incorporate the feedback we received from Tuesday's testing (notes here: https://docs.google.com/document/d/1LVenQsdnvDu3AP8PHQjCHZb7sYhiAgT7h7C-fMongk4/edit) advance the design for the homepage.

@amberwreed this issue is a place-holder of sorts and may need a checklist of design tasks once we've settled on a direction for the homepage.

[2017-01-18 04:54] LarryBafundo opened #301 "Identify content goals & related tasks (Homepage)"
As the revised design for the homepage takes shape, we need to identify high-level goals for the page, in terms of what it should communicate and how, and develop related tasks for developing that content.

[2017-01-18 04:55] LarryBafundo opened #302 "Navigate to a state or crime type (homepage)"
As a user, I want to view crime data by selecting a state or crime type from the homepage

[2017-01-18 04:55] LarryBafundo opened #303 "View high-level national trends (homepage)"
As a user, I want to view high-level national trends by crime type from the homepage

[2017-01-18 05:11] cacraig commented on #213
Done.

[2017-01-18 05:11] #213 closed

[2017-01-18 05:12] #61 closed

[2017-01-18 05:12] #52 closed

[2017-01-18 14:57] harrisj commented on #48
I would normally agree with this, but I fear it would cause problems for the front-end team at this point. So I think we should defer it for now, but I would offer a few suggestions:

1. We never make alterations to the original FBI tables. Instead, we should either do this as a custom deserialization step in the Marshmallow schema for a table or as part of denormalizing into our own tables.
2. We

[2017-01-18 14:58] harrisj commented on #49
Now that we are looking at some denormalization for NIBRS tables and also using cached JSON for representation, does this issue still apply?

[2017-01-18 14:59] harrisj commented on #28
This is partially completed, but I could get it done within a sprint if it's a priority. It would mean generating a new API key for the app and changing the endpoints that are called

[2017-01-18 15:01] harrisj commented on #67
I think this has been done by someone. I noticed there are some ILIKE queries in there already.

In the long run though, we should consider using full text indices if we are doing text search, since that will be more performant. I don't think we have an interface for text search at the moment so I think this can be closed.

[2017-01-18 15:01] #67 closed

[2017-01-18 15:02] harrisj commented on #112
I have been adding some unit tests for internal models, but this seems like something that would have to wait until after the MVP is delivered. Closing for now.

[2017-01-18 15:02] #112 closed

[2017-01-18 15:08] harrisj commented on #223
I think I know what this is complaining about and I don't know if it's something we need to urgently fix. The issue is that we have some big queries that join multiple tables together using a big `SELECT *` to get the fields. Tables are mapped through keys that have the same name in both tables. So `ref_agency` is mapped to `ref_state` using the association `ref_agency.state_id = ref_state.state_i

[2017-01-18 15:13] harrisj commented on #290
I haven't had a chance to start this yet. Sorry, @jeremiak. Will get to this today.

One wrinkle I have discovered is that the `ref_state_population` seems to be lagging the `ref_county_population` and `ref_agency_county` by a few years (see #292 for details). I still think I should use the `ref_state_population` figure rather than summing all the counties mapped to the state, since there might be

[2017-01-18 15:28] jeremiak commented on #290
No worries @harrisj!

I agree that we should use `ref_state_population`, that sounds the simplest.

[2017-01-18 15:30] jeremiak commented on #49
I'm not sure, @harrisj. Is there an issue I can look at for the denormalization work? Sorry, I haven't seen any of that yet

[2017-01-18 15:32] jeremiak commented on #115
I'm fine with closing this, but perhaps this is the sort of work we can achieve after shipping the MVP? I think the UX of the API is important, but I realize that this particular story is very low priority

[2017-01-18 15:35] jeremiak commented on #187
To @harrisj's point, my understanding is that the banner is _NOT_ required for sites that are behind basic authentication. But when we want to get an ATO, and thus move out from behind the auth, we will need such a banner on all public views

[2017-01-18 15:39] jeremiak commented on #252
I believe this is done. Right now there is no y axis on the chart, and I have opened a new issue for that [18f/crime-data-explorer#134](https://github.com/18F/crime-data-explorer/issues/134)

[2017-01-18 15:39] #252 closed

[2017-01-18 17:21] LarryBafundo opened #304 "Finish integrating summary crime offenses with backend"

[2017-01-18 17:22] #304 closed

[2017-01-18 17:38] #284 closed

[2017-01-18 17:40] amberwreed opened #305 "Recap of sprint 3 research"
Synthesize learnings from sprint 3 to share with team and partners.

[2017-01-18 17:42] amberwreed opened #306 "Left hand navigation refinement"
- [x] Refine visual / interaction design based on research findings
- [x] Create production ready annotated sketch files for FE
- [x] Walk-through sketch designs with FE team
- [ ] FE design implement trend chart per annotated sketch file
- [ ] Visual design review for design consistency

[2017-01-18 17:49] amberwreed opened #307 "Explorer page view refinements"
- [x] Refine page design based on research findings
- [x] Work with @nicoleslaw to integrate content needs to the design
- [x] Create a production ready sketch file
- [x] Walk through designs with FE design team
- [ ] FE design implement trend chart per annotated sketch file
- [ ] Visual design review for design consistency

[2017-01-18 18:25] cacraig commented on #229
We are in pretty good shape now. So we can tackle this anytime really. I'd like some clarification as to whether we need to do with for just the consumer facing stuff or the back end (API) or both.

[2017-01-18 19:20] LarryBafundo commented on #229
okay thanks. let's ask during the meeting with holly and jez later today

[2017-01-18 19:23] amberwreed opened #308 "Trend chart refinement"
- [x] Make adjustments based on user testing (for example, add time period to chart?)
- [x] Create production ready sketch files
- [x] Walk-through designs with FE team
- [ ] FE design implement trend chart per annotated sketch file
- [ ] Visual design review for design consistency

[2017-01-18 19:24] amberwreed opened #309 "Incident details refinement"
- [x] Refine charts based on user testing
- [x] Create production ready sketch files
- [x] Walk FE team through designs
- [x] FE design implement trend chart per annotated sketch file
- [ ] Visual design review for design consistency

[2017-01-19 01:06] #271 closed

[2017-01-19 01:07] LarryBafundo commented on #247
i'm closing this due to the existence of https://github.com/18F/crime-data-explorer/issues/97

[2017-01-19 01:07] #247 closed

[2017-01-19 01:07] #241 closed

[2017-01-19 01:15] LarryBafundo commented on #244
While we know that prospective users are interested in as much granularity of the data as possible, we haven't yet committed to delivering anything lower than a state perspective for the MVP. For now, let's scope this task as being able to search by state name and the District of Columbia.

However, we should this implement this in a way that allows us to scale the solution in future iterations an

[2017-01-19 01:19] LarryBafundo commented on #225
Priority updates to this issue based on today's review with Holly & Jez:

- [ ] Create a GSA LATO SSP based on the completed system-security-plan.yml file. Place that SSP into https://drive.google.com/drive/u/0/folders/0B8-KLfkQr4EVdHJqWXp5eFZmWTQ
- [ ] Change leveraged authorization to the cloud.gov fedramp (though we don't have a link for that yet as it is hot off the press.)
- [ ] Increase deta

[2017-01-19 01:25] #301 closed

[2017-01-19 01:47] LarryBafundo opened #310 "View UCR participation rate by state"
As a user, I want to understand how many agencies within a state participate in the UCR program when reviewing data for that state.

[2017-01-19 15:16] #279 closed

[2017-01-19 18:07] cacraig commented on #220
This is done.

[2017-01-19 18:07] #220 closed

[2017-01-19 18:49] #272 closed

[2017-01-20 00:06] LarryBafundo commented on #211
@harrisj we are deferring the county-level perspective for later releases; it will not be part of the MVP. in that case, should we move this issue to the backlog for future consideration? we still need to figure out how compute participation rate, but for individual states and more broadly at the national level. i know you're looking into that, but is that task better represented as a separate iss

[2017-01-20 00:36] harrisj commented on #211
We should move it to the backlog.

This issue actually covers three different problems as far as I can tell:

1. How do we calculate NIBRS participation (now handled by #291)
2. How do we scale crimes proportionally when agencies are in multiple counties?
3. How do we render county borders on the map?

I still have some interest in #2, but it's not needed now of course

[2017-01-20 00:37] LarryBafundo commented on #211
moved to the backlog

[2017-01-20 01:05] #238 closed

[2017-01-20 01:06] #270 closed

[2017-01-20 01:06] #80 closed

[2017-01-20 01:06] #135 closed

[2017-01-20 01:06] #200 closed

[2017-01-23 15:44] jeremiak commented on #300
Issue moved to [18F/crime-data-explorer #144](https://github.com/18F/crime-data-explorer/issues/144) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-23 15:44] #300 closed

[2017-01-23 19:24] LarryBafundo opened #315 "Implement design for no "data" trend state"
As a user I want to be alerted when no data exists for a time period while viewing a trend.

[2017-01-23 19:54] jeremiak commented on #239
This seems like a very low priority at this point. @LarryBafundo what would you like to do with this issue? We can move it back or we can just close it and open a new one when we have very specific API performance improvements?

[2017-01-23 19:59] LarryBafundo commented on #239
I think i would like us to create an epic for API optimizations that we can assign issues against and prioritize for sprints. so i'll move this to the backog and we can rope it in later.

[2017-01-23 21:18] #298 closed

[2017-01-24 18:09] harrisj opened #317 "Write up Documentation on SQL"
It was pointed out to me that it's a little confusing to an outside observer how the SQL for queries is being generated and there was some concern that the scripts in `sql/` were being used for queries. We need a little section/document on a few things SQL-related just to be clear:

1. What the `sql` directory is for and what gets loaded/run after the FBI provides data
2. How SQLAlchemy is used to

[2017-01-24 19:14] jeremiak commented on #279
Which endpoint is this data returned in? Making a request to `https://crime-data-api.fr.cloud.gov/incidents/count/?state=OH` does not return data with population counts

[2017-01-24 23:52] harrisj commented on #279
I have added some endpoints `/geo/states/OH` and `/geo/counties/` too that has that information, but it's not in the /incidents/count endpoint yet. I suppose it could be added to that endpoint too. I still need to do the population like in #290

[2017-01-25 22:00] #212 closed

[2017-01-25 22:09] LarryBafundo commented on #302
@brendansudol I assigned this to you because you took ownership of https://github.com/18F/crime-data-explorer/issues/144. this just pertains to being able to select a state and crime type from the UI.

however, we should also remember that we need to provide access to locations other than the 50 US states which we have UCR data for - locations like Puerto Rico and the tribal territories. I think i

[2017-01-25 22:19] #187 closed

[2017-01-25 22:33] LarryBafundo opened #323 "Make the "in beta" banner more pronounced"
The FBI security team has asked us to make the banner that says the site is in beta testing to be more pronounced so that nobody mistakes the site for a complete system.

@amberwreed has started to explore different ways of making this change, but it would be ideal if we could fit this into the current sprint.

![screen shot 2017-01-25 at 10 25 11 am](https://cloud.githubusercontent.com/assets/158

[2017-01-25 22:50] LarryBafundo commented on #303
this issue is covered by existing issues for the explorer view. closing due to redundancy.

[2017-01-25 22:50] #303 closed

[2017-01-25 23:53] amberwreed commented on #248
@nicoleslaw @LarryBafundo I think this can be closed based integrating census data into the overview.

[2017-01-25 23:55] amberwreed opened #324 "Implement header and footer design"
- [x] FE design implement trend chart per annotated sketch file
- [x] Visual design review for design consistency
- [ ] Add FBI/CDE logos
- [ ] View related links from footer

[2017-01-25 23:56] amberwreed opened #325 "Mobile designs of key screens"
- [ ] Navigation
- [ ] Trend chart
- [ ] Explorer page
- [x] Homepage
- [ ] Table

[2017-01-25 23:58] amberwreed opened #326 "Progress communication deck"
- [ ] Outline deck
- [ ] Create content
- [ ] Create visuals
- [ ] Send to partners
- [ ] Schedule time to review

[2017-01-25 23:58] amberwreed commented on #305
@LarryBafundo can we close this?

[2017-01-26 00:01] LarryBafundo commented on #305
yes

[2017-01-26 00:01] #305 closed

[2017-01-26 00:01] amberwreed commented on #323
Please implement a option 1. Option 2 which was implemented was implemented but doesn't call enough attention to the beta site status or the opportunity to provide feedback. Thanks.

[2017-01-26 18:17] LarryBafundo opened #327 "Finish SRS & NIBRS offense mappings"
This task relates to the offense mappings we've started to document here:

 https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit#gid=249246828

which show how summary and NIBRS offenses will be associated within the explorer view

[2017-01-26 18:18] LarryBafundo opened #328 "Preview data availability (place holder)"

[2017-01-26 18:18] LarryBafundo opened #329 "Prepare endpoints to view all violent and property crime data"
As a user, I want to view all violent and all property crimes as a trend for a given location and timeframe.

These perspectives should be selectable from the homepage and explorer views, as part of the offense drop-down menu.

[2017-01-26 18:36] LarryBafundo opened #330 "View crime data for non-US states"
As a user, I want to navigate to and view crime data for locations that report UCR data, but which are not one of the 50 U.S. states, from the homepage and explorer view.

@amberwreed: we need to think about the design implications of this view; however, let's definitely focus on the experience around the nation and US states first before we tackle this.

[2017-01-26 19:34] LarryBafundo opened #331 "have applications list what ports they're using"

[2017-01-26 19:42] LarryBafundo opened #332 "Reduce javascript log output in console"
The assessment pointed out that our javascript log output appears overly verbose; we should consider deferring some of this detail in the "debug" config. of the app instead of the production config.

[2017-01-26 19:44] LarryBafundo opened #333 "Verify how routes are being parsed in Chrome and possibly Firefox"
Verify how routes like `crime-data-explorer.fr.cloud.gov/#/explorer/arizona%11/` are being parsed in Chrome, possibly firefox as well.

Noah: any string after the state is getting appended in the title on the page. We don’t want that to happen, it makes it look like real data.

[2017-01-26 19:45] LarryBafundo opened #334 "Add a 404 page for missing routes"

[2017-01-26 19:45] LarryBafundo opened #335 "Valid API key doesn't work from Swagger UI"

[2017-01-26 22:05] brendansudol commented on #323
we should try to add issues like this to the crime-data-explorer repo (vs. the api one)

[2017-01-26 22:20] brendansudol commented on #323
done via https://github.com/18F/crime-data-explorer/pull/165

[2017-01-26 22:20] #323 closed

[2017-01-27 03:14] amberwreed commented on #323
Thanks for the heads up. I didn't realize I was adding all issues I create to the API repo. Do you want me to go through the board move issues into different repos?

[2017-01-27 03:36] cacraig commented on #333
This came out of the security assessment - Can you guys take care of this? @jeremiak @brendansudol

[2017-01-27 03:56] cacraig commented on #335
Where should we put this information @LarryBafundo  ?

[2017-01-27 13:53] harrisj commented on #335
I just tried this with one endpoint in the Swagger UI and the API key and it worked. Do they have a specific example?

[2017-01-27 13:58] harrisj commented on #334
We have a 404 page in the API. Is this for the API backend or the explorer frontend?

[2017-01-27 13:59] harrisj commented on #317
Was implemented in #322 and merged. I think we can close this?

[2017-01-27 14:47] brendansudol commented on #333
yes -- is there a date it's needed by?

for the record, here's what he means: https://crime-data-explorer.fr.cloud.gov/#/explorer/arizona/big+smiles

[2017-01-27 14:52] cacraig commented on #333
ASAP. - It's high priority because it's required to get the initial ATO - Thanks @brendansudol !

[2017-01-27 14:58] brendansudol commented on #333
roger that

[2017-01-27 15:18] cacraig commented on #335
^ It just doesn't work for urlencoded api_keys. I don't think it's a bug, but more of a usability issue?

[2017-01-27 15:26] afeld commented on #335
A workaround is to not put any characters in API keys that would require encoding. Not sure how SecOps would feel about narrowing the character set...

[2017-01-27 16:24] cacraig opened #336 "Pagination parameters can exceed total page values."
This is a usability issue (No security issue - as the input is filtered/escaped properly). The pagination parameter is currently read, and given back to the client as-is. We should be range checking this value with the counts or count estimates for queries.

[2017-01-27 16:33] cacraig opened #337 "Disable /arson, incident, and /arrests endpoints."
We need to rethink the implementation of these two endpoints. They do not scale with the size of the queries they are running, and they are actually bringing down our production environment when called. - Since they are not critical for the MVP, they should be disabled.

[2017-01-27 16:37] cacraig opened #338 "Assert 501/404's for certain non-implemented endpoints"
Add 501/404 for non-implemented API endpoints. See: https://crime-data-api.fr.cloud.gov/codes/ref_s

Should give HTTP 501: Not implemented, or 404: Not found.

[2017-01-27 16:51] cacraig commented on #334
@harrisj  - See: https://github.com/18F/crime-data-api/issues/338

Closing this one for redundancy.

[2017-01-27 16:51] #334 closed

[2017-01-27 16:52] #332 closed

[2017-01-27 17:23] harrisj commented on #336
I guess theoretically this would mean that you might miss some results for large queries (ie, more than 1000 results) if we underestimated the total count, but this is probably not an issue in practice

[2017-01-27 17:24] harrisj commented on #338
Well, that is an implemented endpoint (the `ref_s` is being passed to the CodesDetail endpoint, but we can tweak that definitely

[2017-01-27 17:47] cacraig opened #339 "ATO Security Assessment - Remove "body" field from swagger"
Some XSS issues are allowable via this endpoint. We should remove the field since it isn't required by our api's.

[2017-01-27 19:37] #339 closed

[2017-01-27 19:56] LarryBafundo commented on #274
@cacraig let's use this issue to document the likely infrastructure costs of hosting pre-prepared statewide incident reports on S3.

Per slack:

https://aws.amazon.com/govcloud-us/pricing/s3/
If we had 20 GB, and ~2000 download requests per month -> ~$5-10 a month

[2017-01-27 20:52] brendansudol commented on #333
this is now resolved

[2017-01-30 16:44] harrisj opened #342 "The view count endpoints should accept a state postal abbreviation"
So, you would be able to do `offenders/count/states/GA/race_code` to get codes for Georgia.

I think this is easily doable through a simple database join, but it would take about a day to add a bunch of tests and stuff. Still, I'd like to try it if we have the option.

[2017-01-30 17:43] amberwreed commented on #315
- [ ] Initial designs

- [ ] Test

- [ ] Annotate

- [ ] Implement

[2017-01-30 19:26] harrisj opened #343 "Year in offense_counts table is a VARCHAR(4)"
This causes some problems I didn't catch last week because it's an int in the other count_view tables. Can we fix how this is generated?

[2017-01-30 19:30] harrisj commented on #343
It seems like I am confused and this is as intended. Sorry!

[2017-01-30 20:22] cacraig commented on #343
No you're actually right here. In the _count views they are supposed to be int. This is a bug.

[2017-01-31 01:44] #285 closed

[2017-01-31 01:55] LarryBafundo commented on #337
@cacraig during our grooming session tomorrow let's also talk about the /incident endpoint and whether or not we should prioritize work on it for the next sprint.

[2017-01-31 01:55] LarryBafundo commented on #274
this issue appears to be out of date with the latest information (storage costs aside) so closing for now

[2017-01-31 01:55] #274 closed

[2017-01-31 01:57] #333 closed

[2017-01-31 01:57] LarryBafundo commented on #333
@brendansudol okay to close, right?

[2017-01-31 01:59] LarryBafundo commented on #329
@harrisj what's the status of this?

[2017-01-31 02:01] LarryBafundo commented on #25
@cacraig can you please update this list to reflect our level conformance with 18F's standards?

[2017-01-31 02:08] LarryBafundo commented on #335
have we identified a path forward for this yet? @cacraig @harrisj

[2017-01-31 02:08] LarryBafundo commented on #57
@cacraig is this still relevant?

[2017-01-31 02:30] harrisj commented on #335
We could do a uudecode on the API key checking step. I'll take this

[2017-01-31 02:33] harrisj commented on #329
Oh, I didn't know this was assigned to me? Can I get a little more detail about what these are? Let me tap in @cacraig too

[2017-01-31 04:00] #331 closed

[2017-01-31 16:31] #335 closed

[2017-01-31 18:08] jeremiak commented on #302
I think this is done. We should open a new issue to add areas like PR and tribal nations when we want to account/plan for that work

[2017-01-31 18:08] #302 closed

[2017-01-31 18:10] jeremiak commented on #308
I believe this is ready to be reviewed

[2017-01-31 18:12] jeremiak commented on #324
As far as I can tell, this is mostly done. There is remaining work to add the social icons into the footer

[2017-01-31 18:13] jeremiak commented on #309
Not sure what this card refers to, or if it should have ever been in progress. @AvivaOskow is still (to my knowledge) working on the improvement designs for the incident details, so I'm moving this out of in-progress

[2017-01-31 18:17] jeremiak commented on #309
Unless this card refers to the design work. I think we should document/agree upon a process for issues/labels/columns during the sprint retro for work that is shared amongst the design and dev folks

[2017-01-31 18:20] jeremiak commented on #248
Closing per ^^

[2017-01-31 18:20] #248 closed

[2017-01-31 18:21] jeremiak commented on #244
I think we should close this. We have agreed that states are the geographical entity that we will use for the MVP and that a `<select>` implementation is sufficient to start.

[2017-01-31 19:28] #343 closed

[2017-01-31 19:31] harrisj commented on #294
Going to close this for now

[2017-01-31 19:31] #294 closed

[2017-01-31 19:31] harrisj commented on #293
Going to close this for now, just wanted this issue to record the details of this

[2017-01-31 19:31] #293 closed

[2017-01-31 19:34] harrisj commented on #292
Going to close this issue for now, I mainly just wanted to have it as part of the record

[2017-01-31 19:34] #292 closed

[2017-01-31 19:42] harrisj commented on #291
So, we have answers thanks to our friends at the FBI. Basically, we should use `reta_month` as a general way to figure out if an agency has reported in a given month, since it will include both agencies that report SRS statistics only as well as NIBRS-reporting agencies whose data has been backconverted into SRS.

Furthermore, we can use ref_agency_county to derive a "covered" population of how ma

[2017-01-31 19:42] #291 closed

[2017-01-31 19:43] harrisj commented on #283
I think we are moving to materialized views and other optimizations so this is not as relevant, but I would still like to change some associations to dynamically loaded in the future.

[2017-01-31 21:56] LarryBafundo commented on #309
@jeremiak it's mainly design oriented tasks, but you're right, we should split out the implementation aspects, or talk about how we can more clearly differentiate between work streams.

[2017-02-01 00:15] LarryBafundo opened #346 "****Sprint 6 Divider****"

[2017-02-01 00:24] LarryBafundo opened #347 "Denormalize incident and arrest data"
@cacraig we should denormalize the incident and arrest data so we can support the download of archived NIBRS datasets, per our earlier conversation.

[2017-02-01 00:33] LarryBafundo commented on #329
@harrisj, i've updated the user story to better reflect what we want to do here. i believe that the FE team is waiting to for this endpoint to complete their implementation.

cc: @jeremiak

[2017-02-01 00:38] LarryBafundo commented on #290
@harrisj could you please provide an update on this prior to sprint planning tomorrow? thanks

[2017-02-01 00:38] #299 closed

[2017-02-01 00:40] LarryBafundo commented on #327
this is better reflected by https://github.com/18F/crime-data-explorer/issues/138, so closing due to redundancy

[2017-02-01 00:40] #327 closed

[2017-02-01 00:41] LarryBafundo commented on #306
closing as we will create a new issue to track prioritized design refinements for sprint 5

[2017-02-01 00:41] #306 closed

[2017-02-01 00:45] LarryBafundo opened #348 "Implement new incident detail chart designs"
This task relates to the implementation of the new incident detail chart designs:

- [ ] donut chart for demographics
- [ ] histogram for age distribution
- [ ] vertical bar chart for other details
- [ ] robo text for interactive charts

cc: @amberwreed, @AvivaOskow

[2017-02-01 00:47] LarryBafundo commented on #348
this issue also involves: https://github.com/18F/crime-data-explorer/issues/134

[2017-02-01 00:49] LarryBafundo commented on #253
closing this issue because its out of date; will replace

[2017-02-01 00:49] #253 closed

[2017-02-01 00:56] LarryBafundo opened #349 "Download incident details as a CSV"
As a user, I want to download a CSV for each "incident detail" chart I am viewing.

This CSV should reflect the "numbers behind the chart" and can be presented in a tabular format.

We will provide additional incident data through a separate download process made available by the "downloads and documentation" view.

[2017-02-01 00:58] LarryBafundo opened #350 "Download table-based data (LEOKA) as a CSV"
As a user, I want to download table-based data as a CSV.

[2017-02-01 00:59] cacraig commented on #347
This is happening as we speak!

[2017-02-01 00:59] LarryBafundo opened #351 "View national trends by crime type"
As a user, I want to be able to view national trends by crime type and location from the homepage and the explorer view.

[2017-02-01 01:00] LarryBafundo commented on #351
cc: @amberwreed

[2017-02-01 01:07] LarryBafundo commented on #309
i have a new task for the implementation of the new incident detail charts: https://github.com/18F/crime-data-api/issues/348

unless this issue speaks to something different we should close it.

[2017-02-01 01:22] LarryBafundo commented on #347
yes, thanks. when you have a chance, can you please elaborate on the technical approach we discussed earlier that this will support?

[2017-02-01 01:27] LarryBafundo commented on #349
we need to discuss the preferred technical approach for satisfying this story. ideally, all of the incident charts that are being displayed on the page would be downloaded as part of a single zip file; but my understanding is that this may be an expensive request of the API. let's discuss our options and their potential impact on the user experience during sprint planning.

cc: @cacraig, @amberwre

[2017-02-01 01:31] LarryBafundo opened #352 "Type in desired time range (explorer view)"
As a user, I want to set a time range for the data I am viewing by typing in the year, rather than having to click through a number of years.

[2017-02-01 01:35] LarryBafundo opened #353 "Update: Add link to data dictionary to the downloads view"
As a user, I want to view a data dictionary, or list of terms, that is included along with the SRS or NIBRS data that I've downloaded.

This issue covers the following tasks:

- [x] developing the data dictionary content: https://docs.google.com/spreadsheets/d/19EFBe2bpv2RfJ4IuaDvtUbenN8yFnSyh7cXV-1IUces/edit#gid=0
- [x] reviewing/finalizing it with CJIS
- [x] linking to it from the CDE

[2017-02-01 01:38] LarryBafundo opened #354 "Homepage refinements"
A collection of tasks related to refinement of the homepage:

- [ ]  add an error prompt for when a location or crime type isn't selected prior to viewing results
- [ ]  add rollover states for selected states on the map
- [ ]  view the name of states upon rollover (to make it easier to identify smaller states)

[2017-02-01 01:38] LarryBafundo commented on #354
@amberwreed this is designated for sprint 6, but please revise the to do list as you see fit.

[2017-02-01 01:42] LarryBafundo opened #356 "Selected explorer view refinements (sprint 5)"
A collection of prioritized tasks related to refinement of the homepage:

- [ ]  freeze placement of the lefthand navigational bar while scrolling vertically up or down the page.

[2017-02-01 01:45] cacraig commented on #347
https://github.com/18F/crime-data-api/pull/355

Basically, we need to denormalize the nibrs_incident, nibrs_property, and nibrs_arrestee tables.

After this, we will run a big script to generate an archive containing 8 CSV files (Agencies, Counties, Incidents, Property-Incidents, Offenses, Offenders, Victims, and Arrestee). Each row will contain either an ORI or ORI + Incident ID to allow for link

[2017-02-01 01:54] harrisj commented on #329
So this is an aggregate of several distinct NIBRS categories for property or violent crimes then? I think I need to confer with @cacraig. I apologize for not getting to this sooner, but in the future please assign this to me if you are waiting for me to do this.

[2017-02-01 01:59] LarryBafundo commented on #329
@harrisj will do and no worries.

let's talk about this tomorrow morning. i'm unsure of what we can support at the incident level and we may need to confer with @cacraig. ideally, the API would aggregate all violent and property crime for a given location and timeframe at the trend and incident details levels. but if we can't support the latter, we can make the case for it not making the MVP. so l

[2017-02-01 03:49] harrisj commented on #290
So, I have population figured out for states and counties using their preferred approaches in #341. I'm just trying to figure out how to join in the `CdeParticipationRate` table as appropriate in the IncidentsCount query. It's a bit obscure how this code works...

[2017-02-01 05:12] amberwreed commented on #309
I'm happy to split out design and implementation tasks. Let's keep this open because @AvivaOskow is still working on design refinements and annotating the NIBRS charts. There will be small changes based on the testing in Sprint 4.

[2017-02-01 05:14] amberwreed commented on #325
@AvivaOskow the initial designs are complete but we need to divide an conquer for the annotating and updating the style guide with new mobile type sizes.

[2017-02-01 05:26] amberwreed opened #357 "Design breakpoints"
@amberwreed commented on [Tue Jan 31 2017](https://github.com/18F/crime-data-style/issues/2)

@amberwreed commented on [Tue Jan 31 2017](https://github.com/18F/crime-data-explorer/issues/201)

From Brendan:

so we have three breakpoints, and we get to determine what they are — right now they are set at 640px, 832px, 1024px, but that’s pretty arbitrary. and we don’t need to use all of those if we d

[2017-02-01 05:27] amberwreed commented on #357
Issue moved to [18F/crime-data-explorer #202](https://github.com/18F/crime-data-explorer/issues/202) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-01 05:27] #357 closed

[2017-02-01 16:24] #348 closed

[2017-02-01 16:24] jeremiak commented on #348
Issue moved to [18F/crime-data-explorer #204](https://github.com/18F/crime-data-explorer/issues/204) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-01 16:24] jeremiak commented on #351
Issue moved to [18F/crime-data-explorer #205](https://github.com/18F/crime-data-explorer/issues/205) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-01 16:24] #351 closed

[2017-02-01 16:25] #356 closed

[2017-02-01 16:25] jeremiak commented on #356
Issue moved to [18F/crime-data-explorer #206](https://github.com/18F/crime-data-explorer/issues/206) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-01 16:26] #324 closed

[2017-02-01 16:26] jeremiak commented on #324
Issue moved to [18F/crime-data-explorer #207](https://github.com/18F/crime-data-explorer/issues/207) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-01 16:27] #354 closed

[2017-02-01 16:27] jeremiak commented on #354
Issue moved to [18F/crime-data-explorer #208](https://github.com/18F/crime-data-explorer/issues/208) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-01 17:09] harrisj opened #358 "Standardize how to identify states in API requests/SQL joins"
Assuming we don't want to pass state names around as arguments, there are three different ways in which to identify states in arguments to API functions or to select in denormalized tables:

1. The numeric `state_id` which indicates a specific state record in the database
2. The `state_abbr` which is an 2-letter FBI-specific abbreviation for the state
3. The `state_postal_abbr` which is the US pos

[2017-02-01 17:17] #225 closed

[2017-02-01 17:17] #297 closed

[2017-02-01 17:17] #147 closed

[2017-02-01 17:17] #230 closed

[2017-02-01 17:17] #208 closed

[2017-02-01 17:22] LarryBafundo commented on #309
@AvivaOskow can we enumerate what adjustments you're making here?

[2017-02-02 15:25] harrisj commented on #290
So, I'm not confident in how the full DB will work with my original plan of doing a join across from the `RetaMonthOffenseSubcatSummary` and `ParticipationRate` tables and the full-size DB. I know it's not an ideal answer, but could you just download the data for the state using the `/geo/states/STATE_ID/participation` endpoint in #341. This returns population counts by year in records like so:

[

[2017-02-02 15:32] jeremiak commented on #290
I'm totally fine getting this data from another endpoint. I made a small request for changing `data_year` to `year` in ^^, and other than that I just have a question on the `state_id` value: Is this the same as the [codes we already use for other endpoints](https://github.com/18F/crime-data-explorer/blob/master/src/util/api.js#L34-L86)?

[2017-02-02 15:52] harrisj commented on #290
It should be, and I pushed some code to make that change for you. Thanks for your understanding!

[2017-02-02 16:43] amberwreed commented on #307
@jeremiak We have new designs for the type sizes in the overview based on research and testing. I'll ping you when the files are updated.

[2017-02-02 20:50] #310 closed

[2017-02-02 22:31] amberwreed commented on #309
NIBRS/hate crime annotations are up:
https://drive.google.com/open?id=0B9bDBpzeNNaXYTZfbU1TUzF3dWs

plus an updated style guide

[2017-02-02 22:32] amberwreed commented on #309
The NIBRS has the annotations for the different charts, as well as a layout of the page. One thing to note about the page is that the units of space between the cards are 20px—not a multiple of 8. That’s because it was originally based off my 60px col., 20px gutter, 16 col. layout, so…not sure what that should be. But I trust you @bren @jeremiak to make them evenly spaced and beautiful :slightly_s

[2017-02-02 22:33] amberwreed commented on #309
I think the Explorer page annotations call for 24px between cards—just to keep you on your toes!

[2017-02-02 22:47] amberwreed commented on #315
No data scenarios are annotated. Pls refer to trend chart annotations for type sizes and spacing. https://drive.google.com/open?id=0B5cw7Ca2CjsyZDdNaFFfc2JWeHc

[2017-02-02 22:48] amberwreed commented on #315
![screen shot 2017-02-02 at 2 48 18 pm](https://cloud.githubusercontent.com/assets/13576520/22571904/b43084dc-e956-11e6-96f9-21d72f29ef3e.png)

[2017-02-02 23:08] amberwreed commented on #315
Explorer view:
https://drive.google.com/open?id=0B5cw7Ca2CjsyVG5sblZaVmMxa00

[2017-02-02 23:09] amberwreed commented on #315
![screen shot 2017-02-02 at 3 04 33 pm](https://cloud.githubusercontent.com/assets/13576520/22572578/93f03ad4-e959-11e6-93b4-0ea186bb5e4f.png)

[2017-02-03 00:15] LarryBafundo commented on #315
@amberwreed these are important elements to include in the CDE, but we had them slated for sprint 6. would you want to test them as part of an invision prototype during the next round of user testing, or @jeremiak do you think we'll be able to implement them during this round?

[2017-02-03 00:19] LarryBafundo commented on #329
@harrisj, @cacraig are we clear on what we need to do here, based on our conversation during sprint planning?

we just want to be able to view trends (summary data) for all violent and or all property crime at the state and national levels. whenever all violet/property crime is selected we will not show accompanying incident data.  let me know if there are any questions.

[2017-02-03 00:22] LarryBafundo commented on #349
@brendansudol, @jeremiak, just confirming the approach we decided on earlier today:

there will be one link for downloading the incident details charts at the bottom of the page. clicking download will trigger a process where the data behind each chart will be gathered as a CSV, but these CSVs would be downloaded independently, rather than as a zip file.

[2017-02-03 00:23] LarryBafundo commented on #350
hold off on this until we clarify the approach we're taking for table-based data.

[2017-02-03 13:22] harrisj commented on #342
This was implemented in #360. Closing...

[2017-02-03 13:22] #342 closed

[2017-02-03 13:23] harrisj commented on #329
Okay, so what we need is the ability to pass a RET A crime category argument to the `/incidents/count` endpoint for grouping and such, right?

[2017-02-03 15:09] jeremiak commented on #315
@LarryBafundo Let's keep the actual element implementation in sprint 6, if we get to it before then we can make a very basic placeholder component

[2017-02-03 16:07] AvivaOskow commented on #309
NIBRS and hate crime files annotated here:

https://drive.google.com/open?id=0B9bDBpzeNNaXYTZfbU1TUzF3dWs

[2017-02-03 16:07] harrisj opened #361 "Do we want to slice participation rates by population type?"
I think one of the questions we have generally is how different classes of agencies report. There is a table `ref_population_group` that ties into the `ref_agency` via the `ref_agency_population` table. Here's a rough breakdown of where all the agencies were in 2014:

| population_group_code   | population_group_desc                                                           |   count |
|----------

[2017-02-03 16:33] amberwreed commented on #315
@LarryBafundo I'm fine with sprint 6. I just wanted to get visibility into work that has been done. @jeremiak feel free to move it to where ever makes the most sense.

[2017-02-03 17:19] amberwreed commented on #349
If this is confirmed, we'll need to design for download table function at
the bottom of each chart.

On Thu, Feb 2, 2017 at 4:22 PM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-03 17:47] LarryBafundo commented on #361
@harrisj thanks for this. we might want to come back to this in future iterations. we could do interesting things with cities/crime by population size.

[2017-02-03 17:55] LarryBafundo commented on #329
just to be clear, this is about being able to show a summary trend for all violent or property crime at the national or state level. it does not involve NIBRS data

[2017-02-03 20:11] jeremiak commented on #307
Sounds good, thanks @amberwreed

[2017-02-03 20:13] AvivaOskow opened #362 "Explorer - Loading state"
Design for view of explorer when data is loading

- [ ] Design loading state

- [ ] Dev implementation

[2017-02-03 20:17] LarryBafundo commented on #350
this issue references the following:

https://github.com/18F/crime-data-explorer/issues/209

https://github.com/18F/crime-data-explorer/issues/146

[2017-02-03 22:36] LarryBafundo commented on #349
hey all, we're updating this issue per latest conversations with @amberwreed and @brendansudol.

instead of a single link for downloading all incident details on the page, we're going to allow users to download each chart individually. this will require an update to the design, where each chart will have a download link below it.

@amberwreed when you have a chance, can you please post a screensho

[2017-02-03 23:25] LarryBafundo commented on #315
@amberwreed, @jeremiak going to repurpose this issue to focus on "implementation" of the no data states and moving to the backlog.

[2017-02-03 23:31] amberwreed commented on #349
Pls see new designs for a download link on each card in the latest updated annotated NIBRS file on drive.

[2017-02-04 00:04] LarryBafundo opened #363 "View UCR participation rate & related info for a query"
As a user, I want to view the UCR participation rate for the summary or incident detail component I am viewing.

This participation rate would include a percentage of the known agencies that have reported at least one month of data for the location and timeframe I am viewing. If technically feasible (@harrisj), we will display a participation rate for the summary trend chart and the collection of

[2017-02-04 02:59] harrisj commented on #363
As you have noted, I count as agency as participating in a year, even if it has only one month it reports for. This makes it simpler to do the calculations. I don't really know how spotty the reporting is for specific agencies yet, but I would guess that generally an agency is either reporting or not reporting for a stretch, so most are either 12 months or 0 months. But this is just a hunch. I sup

[2017-02-06 14:44] harrisj commented on #290
This was fixed in #341

[2017-02-06 14:44] #290 closed

[2017-02-06 16:56] jeremiak commented on #352
Issue moved to [18F/crime-data-explorer #226](https://github.com/18F/crime-data-explorer/issues/226) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-06 16:56] #352 closed

[2017-02-06 22:37] harrisj commented on #329
So, I have another question here. Right now the `incidents/count` endpoint returns records like this:

[code]

Did you want the `violent-crimes` request to return a sum of all the subcrimes within the category (ie, like the above example but with offense of `Violent Crimes` or such). Or do you want this request to return individual records for each of the crimes within the broad grouping (so it wo

[2017-02-06 22:46] AvivaOskow commented on #325
**Homepage mobile**

![homepage mobile](https://cloud.githubusercontent.com/assets/21244661/22669741/0a4e93fa-ec94-11e6-817a-0b68cfcae514.jpg)

**Homepage mobile menu dropdown**

![homepage mobile menu](https://cloud.githubusercontent.com/assets/21244661/22669751/133118bc-ec94-11e6-9d3e-5544ba3c15c6.jpg)

[2017-02-07 00:17] LarryBafundo commented on #308
@jeremiak are we waiting on revised deigns in order to close this issue? i'm referring to the last two (unchecked) boxes in the to do list.

[2017-02-07 00:30] LarryBafundo commented on #329
@harrisj: when a user wants to view (summary) trends for "all violent crime", the API should return the aggregated counts for homicide, rape, robbery, and aggravated assault.  Similarly, "all property crime" should return the aggregate of arson, burglary, larceny theft, and motor vehicle theft. we should stick with the same offense categories we are using in the navigation panel, this is simply an

[2017-02-07 00:38] LarryBafundo commented on #330
working with CJIS to suggest that this waits until after delivery of the MVP.

[2017-02-07 00:51] LarryBafundo commented on #363
I've revised the title of this issue to more clearly explain what we want to enable with the CDE MVP. I still need to run this by CJIS, but here is the newest proposal for handling "UCR participation":

- We will show a single UCR participation rate for a given query (% of agencies providing data for a specified crime type, location, and timeframe)
- The "participation" of a single agency will be

[2017-02-07 03:06] harrisj commented on #329
Okay, it looks like we are going to need to modify the `reta_month_offense_subcat_summary` table to also generate counts for these broader categories. Right now we have this:

| classification   | offense                          |
|------------------|----------------------------------|
| Property         | Burglary                         |
| Property         | Motor Vehicle Theft              |

[2017-02-07 03:27] harrisj commented on #363
This seems good to me, only two quick comments:

We don't have varied participation rates for specific crime types, locations or timeframe, just if an agency has reported or not. I assume you are meaning we show it next to all the other types of views, but I figured I'd make sure.

Yes, we can tell in a given month how many agencies have reported overall and how many have reported NIBRS, but we ca

[2017-02-07 03:59] LarryBafundo commented on #363
sounds good. i think we are on the same page. i agree/understand that we can't tell participation rate by crime type, just by timeframe and location. i will try to get additional info on the scenario you're describing to determine how likely it is, but we'll need to explain all of this in the fine print.

cc: @nicoleslaw

[2017-02-07 04:59] amberwreed commented on #363
Sounds good to me. Jacob, I'm still confused about the math behind
participation. Let's chat.

On Mon, Feb 6, 2017 at 7:59 PM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-07 05:31] amberwreed commented on #308
Thanks @jeremiak! Looks good. Here are a couple of outstanding items for the trend chart. I've tried to prioritize. Pls look over the lower priority items because some of them maybe easy fixes but will not make or break the experience.

High priority:
- [ ] Missing source of chart
- [ ] Trend chart should use 4 horizontal bars and the trend line shouldn't ever go above the top horizontal bar.
<img

[2017-02-07 15:15] cacraig commented on #337
@LarryBafundo I will get to this today.

[2017-02-07 15:16] cacraig commented on #347
This is basically done, just fixing an issue with the denormalized victims tables age_num field atm.

[2017-02-07 17:10] harrisj commented on #337
I can also do this if you are swamped

[2017-02-07 20:27] harrisj commented on #329
Okay, I did a little more digging. It turns out I was looking at the wrong DB for that table above. Instead, it is

| classification   | offense                          |
|------------------|----------------------------------|
| Property         | Burglary                         |
| Property         | Larceny                          |
| Property         | Motor Vehicle Theft              |
| Vi

[2017-02-07 21:18] harrisj commented on #329
We don't have Arson data in there, but this seems to be feature-complete. I would like to close this out if it seems to work for you @jeremiak, with the plan to add Arson statistics in later as noted in https://github.com/18F/crime-data-explorer/issues/235

[2017-02-07 21:23] harrisj commented on #329
Also, it looks like I was wrong about Legacy Rape. It's an offense subcategory, not a top-level offense type, and it is in there if you do a query like https://crime-data-api.fr.cloud.gov/incidents/count/?by=year&offense_subcat_code=SUM_RPE_FRC_LEG

[2017-02-07 23:26] LarryBafundo commented on #362
hey @AvivaOskow i was talking with @amberwreed and we had some questions about what exactly was being planned for these loading states. do we need to design something from scratch in light of our other priorities, or can we reuse something that already exists and is readily available?

[2017-02-07 23:30] AvivaOskow commented on #362
@LarryBafundo This came out of a conversation with @jeremiak about whether we should have each element have it's own individual loading state, or if we should have one for the whole page until everything is ready to be viewed. I don't believe @amberwreed or I have had time to get to it yet, but I would like to try it out, unless Amber has a design she has done that could work for it in the meantim

[2017-02-07 23:34] LarryBafundo commented on #347
@cacraig does this issue pertain to the denormalizing of incident and arrest data AS WELL AS the generation of the archived files?

[2017-02-07 23:57] LarryBafundo commented on #362
I agree with having a loading state for each component, just asking if there is reusable code out there that we can use instead of designing from scratch. however, i defer to you both.

[2017-02-08 00:18] #254 closed

[2017-02-08 00:18] #255 closed

[2017-02-08 14:51] cacraig commented on #347
No, we can close this one. - We'll create another issue for the s3 + download generation.

[2017-02-08 14:51] #347 closed

[2017-02-08 15:03] harrisj opened #364 "Add Arson statistics to reta_month_offense_subcat_summary table"
To support the functionality requested in https://github.com/18F/crime-data-explorer/issues/235, we need to add Arson statistics to the `reta_month_offense_subcat_summary` table. These are not normally stored within the `reta_month` table family, but in separate arson reports. There is a similar structure though with `arson_month` and multiple `arson_month_subcat` records, so it should be relative

[2017-02-08 17:59] jeremiak commented on #362
Yup, we're building a loading component that we can reuse in any panel or even as a big page wide element if we wanted. Right now it is some really ugly red text that says "Loading" but once we get a design we can change that

[2017-02-08 19:20] jeremiak commented on #329
I am totally in favor of closing this in favor per @harrisj's suggestion

[2017-02-08 19:26] #329 closed

[2017-02-08 19:31] LarryBafundo commented on #349
@brendansudol, @jeremiak, seems like this has been implemented. can i close it?

[2017-02-08 19:32] jeremiak commented on #349
No, I don't think so. We have a download mechanism, but I read this card to mean that you should be able to download all NIBRS data as a single zip file of many CSVs, which is not yet started. I would prefer if we open a more explicit issue like that in the `crime-data-explorer` project to track the work though.

[2017-02-08 19:42] LarryBafundo commented on #349
@jeremiak we revised the issue. it's a separate download for each dimension chart.

[2017-02-08 19:48] LarryBafundo commented on #364
@harrisj i think we can pass on supporting counts by subcategory for the MVP. But let's note it for the future.

[2017-02-08 20:35] #350 closed

[2017-02-08 20:49] amberwreed commented on #349
Agreed. In addition, the annotated file is updated to include a download
link at the bottom of each card or table.

On Wed, Feb 8, 2017 at 11:42 AM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-08 21:00] amberwreed commented on #362
@jeremiak can you provide a little more detail about what you are imagining or an example of something you've seen in use.

[2017-02-08 21:06] amberwreed commented on #349
@jeremiak @brendansudol When a csv downloads from a NIBRS chart, it needs to have the name of the chart and preferably the state and time frame. I just noticed that you added links under each of the charts (not grouping all the offender demographics and offender demographics) is it possible to group those or is that the same issue as before? In this instance, assuming we can name the charts accord

[2017-02-08 21:10] jeremiak commented on #362
Sure. I imagine that we want the loading state to work a little bit like Facebook's news feed, which is to say that the broad elements of the page show up but individual elements are shown as "loading" until the data arrives. The alternative here is something more akin to having almost nothing show up on the page (beyond the Loading component) until all the data has arrived. This might look more l

[2017-02-08 21:19] jeremiak commented on #308
Thank you @amberwreed, that is super helpful. I think the order looks good so we'll work through those.

[2017-02-09 05:15] amberwreed commented on #362
I agree that the current solution could be easy to improve. I'd like to try a spinner (like either pictured below) in a shade of blue grey. I think the spinner should sit on the background color and not have the white box appear until there is content.

<img width="527" alt="screen shot 2017-02-08 at 8 59 19 pm" src="https://cloud.githubusercontent.com/assets/13576520/22770029/d863c824-ee41-11e6-9

[2017-02-09 05:16] amberwreed commented on #362
Thoughts @AvivaOskow ?

[2017-02-09 05:47] amberwreed commented on #308
Here's a link to the latest file. I moved the download link out of the header (to match how we are handling the downloads of the NIBRS charts). https://drive.google.com/open?id=0B5cw7Ca2CjsySUhicVVMSWxBSDA

[2017-02-09 05:55] amberwreed commented on #307
@jeremiak Here's the latest explorer view page. https://drive.google.com/open?id=0B5cw7Ca2CjsyMDJMMy1TNVhjWDQ

We should discuss the merits of using pink for no data available. I like that it draws attention to the fact but don't want to feel like the site is broken. We may need to adjust based on how often it shows up.

[2017-02-09 16:40] LarryBafundo commented on #349
@amberwreed, @brendansudol apologies for being out today, but could you two please sync up about this today? if we need to, we can write a new card for the proposed changes to how incident detail downloads will work and add it to the next sprint, but want to make sure you're both aligned on the approach. thank you.

[2017-02-09 16:49] jeremiak commented on #349
@amberwreed I think we can/should do what you outline. That is to say that we will revise the download button behavior so that:

1. Files that get downloaded have names that reflect the state, time period and dimension of data
2. Clicking on the download button for victim or offender dimensions will either download a single zip of three CSVs or trigger three individual CSV downloads that represent

[2017-02-09 17:13] brendansudol commented on #349
I don't think we can do one zipped file, but we can trigger 3 downloads with one button click.

[2017-02-09 18:45] jeremiak opened #366 "Data returned by the /geo/states/:id endpoint is similar for different states"
It seems like some of the data returned by the `/geo/states/:id` is the same, even with different state values supplied.

For example, the response for Arkansas (https://crime-data-explorer.fr.cloud.gov/api/geo/states/AR) is:

[code]

and Arizona (https://crime-data-explorer.fr.cloud.gov/api/geo/states/AZ) returns basically the same data:

[code]

Are these API responses accurate?

[2017-02-09 19:34] amberwreed commented on #349
Great. Thanks. Also, I noticed that some of the CSV files now have names.
It'd be great if they can have state, time period, and table info in the
names.

On Thu, Feb 9, 2017 at 9:13 AM, Brendan Sudol <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-09 19:44] amberwreed commented on #308
@jeremiak @brendansudol Making sure you see this. ^^

[2017-02-09 19:52] amberwreed commented on #307
@jeremiak Pls download new file: https://drive.google.com/open?id=0B5cw7Ca2CjsycVY2S0otdF9PMzg

[2017-02-09 20:06] AvivaOskow commented on #362
I like #1 and #4. I think #4 the best because it's loading where the actual content will be.

[2017-02-09 22:13] jeremiak commented on #362
We're going to go with the fourth loading indicator option because it is cheap to implement and we'll revisit this with a potentially more visually designed option in the next sprint or after shipping the MVP

[2017-02-09 22:14] jeremiak commented on #325
@AvivaOskow @amberwreed This is ready for your acceptance/disapproval

[2017-02-10 17:54] jeremiak commented on #308
High priority UI bugs have been recorded as individual issues:
* [#255 - Trend chart line shouldn't ever go above the top horizontal bar](https://github.com/18F/crime-data-explorer/issues/255)
* [#254 - Missing source of trend chart data](https://github.com/18F/crime-data-explorer/issues/254)

Given that, should this card be closed? Perhaps the lower priority bugs can be stored in yet another new

[2017-02-10 17:55] LarryBafundo opened #367 "Create new endpoint for downloading agency participation"
This task supports being able to download a list of participating agencies for a given query in the Explorer View & from the "other datasets" section of the downloads and documentation view. This data would include annual participation rates by agency and be joined against the ref_agency and state tables.

Related to this, we also need to figure out what the likely size of these CSVs will be - doe

[2017-02-10 17:58] jeremiak commented on #362
Closed in favor of [crime-data-explorer#273](/18F/crime-data-explorer/issues/273)

[2017-02-10 17:58] #362 closed

[2017-02-10 18:23] harrisj opened #368 "Fix police statistics on `/geo/state/` endpoint to only use reporting agencies"
This is the clarification we received from the FBI. We should only count police in `pe_employee_data` where `reported=Y`

[2017-02-10 21:16] harrisj commented on #367
So, I need a little more clarification of what I am supposed to be building here. There are several ways we could represent this data (in these examples `agency_information` would be 1 or more columns of detail about that specific agency):

One row per participation year:

|agency information|year|participated|
|-|-|-|
|agency info|1960|1|
|agency info|1961|1|
|agency info|1962|1|

A collapsed vie

[2017-02-11 00:00] amberwreed commented on #325
@jeremiak Thanks! Here are prioritized lists for items to fix before launch.

High priority:

- [ ] Trend chart isn't scaling to time period. For example, if I'm looking at a 10 year period, all years should be visible. It is currently impossible to see or scroll to all the years in mobile or ipad views.
- [ ]
- [ ] Double check that the margin on the homepage and the explorer page match. I prefer

[2017-02-11 01:50] amberwreed commented on #315
@jeremiak Here are revised designs for no data. They are in the same annotated file as the other trend charts.
![not data all](https://cloud.githubusercontent.com/assets/13576520/22850105/64f448d6-efb9-11e6-93dd-af2e90b951a0.png)
![revised definition and no data](https://cloud.githubusercontent.com/assets/13576520/22850104/64f39b5c-efb9-11e6-9f48-21123a962e8b.png)

[2017-02-11 02:07] LarryBafundo commented on #367
@harrisj which is easier to work with? my first inclination is to go with the first option since it seems easiest for conducting analysis, but will also probably result in the largest CSV sizes.

[2017-02-11 02:18] harrisj commented on #367
Okay, I will proceed with the first option for now and yes, let's move it into In Progress

[2017-02-14 15:02] #368 closed

[2017-02-14 15:02] #366 closed

[2017-02-14 15:52] #367 closed

[2017-02-14 22:26] LarryBafundo opened #376 "Provide names for downloaded files ("Downloads & Documentation")"
As a user, I want the bulk files that I download from the downloads and documentation view to be named so that I have a clearer sense of what this data consists of. The naming convention should be "state_year_NIBRS".

cc: @amberwreed

[2017-02-14 22:27] LarryBafundo commented on #376
this issue relates to: https://github.com/18F/crime-data-explorer/issues/252

conversation from that thread:

@LarryBafundo I think we can but given that it would likely require @cacraig to alter and re-run his scripts and it would take a code change in the Explorer application let's close this issue since it is done and open a discrete issue for renaming that file

[2017-02-14 22:30] LarryBafundo commented on #364
@harrisj if this isn't client-facing and isn't waiting for a code review we can close it out.

[2017-02-14 22:32] LarryBafundo commented on #337
@cacraig okay to close this?

[2017-02-14 22:33] #308 closed

[2017-02-14 22:36] LarryBafundo commented on #325
@jeremiak, @amberwreed i'm going to close this out and create new issues so we can more easily prioritize between issues for the next sprint.

[2017-02-14 22:38] LarryBafundo commented on #307
I'm going to close this issue - we will have new cards for refinements that have been prioritized for the next sprint.

[2017-02-14 22:38] #307 closed

[2017-02-14 22:47] LarryBafundo commented on #363
@harrisj is it fair to stay that the API work for this complete and it's now a front-end task? If so, we can repurpose this card to focus on that.

[2017-02-14 23:30] #346 closed

[2017-02-14 23:55] #263 closed

[2017-02-14 23:55] #288 closed

[2017-02-15 00:11] #317 closed

[2017-02-15 00:29] harrisj commented on #364
I still need to merge the PR, but yes, we can when that is done

[2017-02-15 00:37] #328 closed

[2017-02-15 00:43] #142 closed

[2017-02-15 20:23] LarryBafundo opened #377 "Implement new "beta banner""
The FBI has asked us repeatedly to make the in-beta banner more prominent until the site is ready to launch. Let's discuss what our options may be and what we can get implemented within Sprint 6.

This issue refers to two tasks:

- [x] Design new beta banner
- [x] Implement new banner

[2017-02-15 22:23] #376 closed

[2017-02-15 22:51] #326 closed

[2017-02-15 22:51] #349 closed

[2017-02-16 00:01] amberwreed commented on #325
@jeremiak I'm not sure what's been done on this. My top priorities, that I can break out into issues are:

- [ ] Trend chart isn't scaling to time period. For example, if I'm looking at a 10 year period, all years should be visible. It is currently impossible to see or scroll to all the years in mobile or ipad views.

- [ ] Beta bar missing on mobile version. Can provide file or suggest stacking a

[2017-02-16 02:06] jeremiak opened #378 "The beta banner is not visible on mobile devices"
The beta banner is not displayed on screens that are 640px wide or smaller.

![mobile-beta-banner](https://cloud.githubusercontent.com/assets/780941/23004064/899e6a6a-f3c2-11e6-8462-09b77e3fbc5d.gif)

[2017-02-16 02:09] jeremiak commented on #325
Thanks @amberwreed. Issue #326 captures the broken trend chart on mobile and I opened #378 for the beta banner. I also opened [an issue](https://github.com/18F/crime-data-explorer/issues/339) for the list of other improvements here so I'm going to close this issue now.

[2017-02-16 02:09] #325 closed

[2017-02-16 04:01] harrisj commented on #363
Yes, I think #372 should be all that is needed?

[2017-02-16 14:49] harrisj opened #379 "Fix bad state codes in the `reta_month_offense_subcat_summary` table"
So, the original table construction uses `ref_state.state_abbr` and not `ref_state.state_postal_abbr` like we might expect. The two are mostly identical, except for Nebraska and Guam. To fix, we need to run the two queries in production:

[code]

[2017-02-16 15:01] harrisj commented on #338
Is this still a priority?

[2017-02-16 17:05] harrisj commented on #337
This was merged, so I am going to close it.

[2017-02-16 17:05] #337 closed

[2017-02-16 17:20] harrisj opened #380 "Weird dip for aggravated assault in South Carolina"
This quite likely is just something in the data, but I figure I'll record it just in case and get back to it

![crime_data_explorer](https://cloud.githubusercontent.com/assets/2044/23032424/50cec06a-f442-11e6-8f73-e67a15acbfd0.jpg)

[2017-02-16 17:42] LarryBafundo commented on #378
FYI - per the FBI, we need to redesign the banner to make it more prominent. so we may want to hold off on this fix until the new one is designed and added.

cc: @amberwreed, @jeremiak

[2017-02-16 17:44] #363 closed

[2017-02-16 17:45] LarryBafundo commented on #338
@harrisj are you asking in terms of the MVP, or the ATO?

[2017-02-16 18:00] harrisj commented on #338
Either, really?

[2017-02-16 18:13] LarryBafundo commented on #338
i think we should have 404s for endpoints that aren't implemented. otherwise, how do we message that these requests aren't available to the user?

[2017-02-16 21:51] jeremiak commented on #380
A weird, and large, dip for Delaware violent crime as well

![](https://d3vv6lp55qjaqc.cloudfront.net/items/1I0f0r0f2Z0J1P172C2q/Screen%20Shot%202017-02-16%20at%204.50.43%20PM.png?X-CloudApp-Visitor-Id=586613&v=66c510ad)

[2017-02-16 22:06] harrisj opened #382 "Variable parameters are showing up twice for count endpoints in Swagger"
This seems to be a case where it thinks they come from the `query` as well as the `path`

[2017-02-16 22:08] harrisj opened #383 "Use FEC-forked version of the swagger-ui JS"
The [FEC forked Swagger-UI to be more 508-compliant](https://github.com/18F/swagger-ui) which seems like something we should use, but it is also now far behind the Swagger UI codebase so we might need to rebase

[2017-02-16 22:14] harrisj commented on #265
From the FBI:

1. I assume in general that we want to use the `hc_incident` table as the source for data on hate crimes. I know that it uses some NIBRS offense types or such, but is there any way to directly map an hc_incident to a corresponding nibrs_incident, or is this something that makes no sense since these involve two different reporting mechanisms? **In the new system, the there is a NIBRS

[2017-02-21 15:01] harrisj opened #384 "Add NIBRS participation stats to participation tables"
So we can highlight NIBRS-specific participation statistics on the detailed stats tables, we should highlight NIBRS-only participation data. This would involve a few changes:

- [x] Convert the `reported_12mos` table into `months_reporting` so we can actually get a count
- [x] Add a `nibrs_reported` and `nibrs_months_reporting` column to `cde_annual_participation` table (join against the `nibrs_mo

[2017-02-21 15:16] harrisj commented on #338
This is actually a case where the `ref_s` is an argument to the `/codes` endpoint, but fair enough. I will just fix this now

[2017-02-21 15:18] #364 closed

[2017-02-21 15:38] harrisj commented on #265
I think we are good to close this question. I think it would be good to understand why we have no records in the `hc_incident` table with a related NIBRS incident, since it sounds like some should be in there (and I checked we aren't scrubbing them). But this is not a deal breaker for the moment and we'd have to be able to support the fact that at least some hc_incident records will not have corre

[2017-02-21 16:54] #265 closed

[2017-02-21 17:25] harrisj opened #386 "Does ref_agency_population add up to == total_population for a state?"
Right now, we have two distinct population metrics that we provide for a given state in the participation_rates table:

- total population = this is actually a sum of the `ref_county_population` for all of the counties in that year since `ref_state_population` lags by a few years.
- covered_population = a sum of `ref_agency_population` for all agencies in that state that have reported in a given y

[2017-02-21 18:18] LarryBafundo opened #387 "Document reasoning & cost estimate for increasing DB resources"
Need to document reasoning and likely cost estimate for upgrading to an SQL-XL AWS instance.

[2017-02-21 19:02] jeremiak opened #389 "National NIBRS dimensions count are suspect"
I wanted to spot check that API endpoint. I made the following request `https://crime-data-explorer.fr.cloud.gov/api/victims/count/national/offender_relationship` but it showed that there was a single incident in 2014 where "Victim Was Boyfriend/Girlfriend".

Is that correct? It seems pretty low for the national count.

Originally from [18F/crime-data-explorer#274](https://github.com/18F/crime-dat

[2017-02-22 03:31] harrisj commented on #386
Decided to look at my own state

[code]

| county_name     |   population |
|-----------------|--------------|
| ALLEGANY        |       77,756 |
| ANNE ARUNDEL    |      549,659 |
| BALTIMORE       |      817,761 |
| CALVERT         |       97,969 |
| CAROLINE        |       34,417 |
| CARROLL         |      171,298 |
| CECIL           |      105,906 |
| CHARLES         |      150,570 |
| DORCHES

[2017-02-22 03:42] harrisj commented on #386
One thing that is concerning is county_id 3443 has a total population of 625,474. But when I look at the agencies within there...

| ori       | pub_agency_name                                        |   population |
|-----------|--------------------------------------------------------|--------------|
| MD0021000 | Comptroller of the Treasury Field Enforcement Division |            0 |
| MD0040100

[2017-02-22 17:34] harrisj commented on #389
I am looking into this now

[2017-02-22 18:03] harrisj commented on #389
I think what is happening here is since there is no `offense_name` specified in the query, the API is returning a breakdown of that `offender_relationship` by offense. So, you might see this

[code]

if your request is just taking the year and storing the count for it in a hash, it would overwrite with a single record's count multiple times (I'm just guessing because this is something I would do).

[2017-02-22 18:48] harrisj commented on #380
For Alabama, I don't see a dip in the total crimes in 1991

|   year | offense   |   reported |   unfounded |    actual |   cleared |
|--------|-----------|------------|-------------|-----------|-----------|
| 1960   | Assault   |      6,683 |           0 |     6,683 |         0 |
| 1961   | Assault   |      6,459 |           0 |     6,459 |         0 |
| 1962   | Assault   |      6,671 |

[2017-02-22 20:09] harrisj commented on #380
Oh wait, I was looking at the wrong state! **SOUTH** Carolina!

[2017-02-22 20:14] harrisj commented on #380
South Carolina assault totals
| year   | offense   |   reported |   unfounded |   actual |   cleared |
|--------|-----------|------------|-------------|----------|-----------|
| 1986   | Assault   |     48,172 |         285 |   47,887 |    35,540 |
| 1987   | Assault   |     43,332 |         270 |   43,062 |    30,604 |
| 1988   | Assault   |     53,669 |         324 |   53,345 |    36,123 |
| 198

[2017-02-22 20:25] harrisj commented on #380
The problem seems to be bad data in the database.

[code]

returns the following table of monthly totals

| data_year   |   month_num |   # reports |    reported | actual |
|-------------|-------------|-----------|--------|-----|
| 1990        |           1 |     1,962 |      5,320 |    5,285 |
| 1990        |           2 |     1,962 |      4,619 |    4,590 |
| 1990        |           3 |     1,96

[2017-02-22 21:06] RyanSibley opened #391 "Write copy that explains NIBRS participation rate as it relates to our visualizations"
When NIBRS data is available we visualize what we have. The issue is that NIBRS data often times only covers a small percentage of the population. We want clarifying copy so users understand that they aren't looking at visualizations representing all instances of crime or certain crimes.

More context:

- the SRS data counts instances of a crime that were reported in NIBRS data, but NIBRS data doe

[2017-02-22 21:21] harrisj commented on #380
From the FBI:

I wonder if we can get a good listing from the FBI of such dips for each state and why they occurred.  This would be useful to present alongside the trends for that state.

[2017-02-22 21:24] harrisj opened #392 "Add a few variables to the offense_victim_counts table"
Fixes https://github.com/18F/crime-data-explorer/issues/248

It seems like we need to add to `offense_victim_counts` the following fields to group by:

- location_name
- prop_desc_name

if we want the offense table to have parity with the `victim_counts` table,

[2017-02-22 21:47] #384 closed

[2017-02-23 13:58] RyanSibley commented on #391
whoops wrong repo. 🤦‍♂️

[2017-02-23 13:58] #391 closed

[2017-02-23 16:56] harrisj commented on #380
Okay, I did a little digging and here are cases where it looks like states had 0 crimes reported:

- Alabama: 1991, 1992 (0s for Jan-November, amounts entered for December
- DC: no reports on 2/93, 10/93, 2/96
- Florida: no data for 1988, (0s for most of 1989-2014 with annual data entered for one month)
- Iowa: no data at all for 1991
- Kentucky: no data from 7/1987 - 12/1998, 0s for most of 1991-

[2017-02-23 18:11] AvivaOskow commented on #377
Most recent designs, but waiting for more feedback on requirements from FBI. Seemed to be leaning towards the tab design (option 3), but need to wait for me real info from them.

![home-betabar-1](https://cloud.githubusercontent.com/assets/21244661/23272443/3f077836-f9c9-11e6-8872-25bf8cb37ef7.jpg)

![home-betabar-2](https://cloud.githubusercontent.com/assets/21244661/23272445/441e9656-f9c9-11e6-9

[2017-02-23 21:29] harrisj opened #393 "Clarify how we should be reporting on city data"
People are very interested in urban crime statistics, but I think we will have to see exactly what we can report. Sadly, it doesn't look like many cities participate in NIBRS for instance. Here are all the cities of population > 250,000 in 2014:

| ori       | name                          | state   |   population |   reported |   months_rpt |   nibrs |
|-----------|-------------------------------

[2017-02-23 22:08] cacraig commented on #379
Done 👍

[2017-02-23 22:08] #379 closed

[2017-02-23 22:33] jeremiak commented on #315
What are some examples of situations where we expect to see this component displayed? That is to say, are there any place/crime combinations that we know of that have "no" or "limited" data?

[2017-02-24 00:12] LarryBafundo commented on #315
@jeremiak, yes i believe @harrisj has already identified a few cases; however, i think its more along the lines of a state just not reporting for that year, rather than no data being available for a specific offense.

@harrisj is that right?

[2017-02-24 00:36] LarryBafundo commented on #315
@jeremiak specific examples here: https://github.com/18F/crime-data-explorer/issues/355

[2017-02-24 00:38] LarryBafundo commented on #380
@harrisj, @jeremiak what do we want to do with this issue as it doesn't seem to be a "bug" but a data quality issue?

[2017-02-24 00:43] #151 closed

[2017-02-24 00:44] #239 closed

[2017-02-24 00:44] #287 closed

[2017-02-24 00:45] LarryBafundo commented on #240
@harrisj is this still an issue?

[2017-02-24 00:45] #66 closed

[2017-02-24 00:46] #190 closed

[2017-02-24 00:47] #338 closed

[2017-02-24 00:48] LarryBafundo commented on #378
relates to: https://github.com/18F/crime-data-api/issues/377

[2017-02-24 03:08] harrisj commented on #380
I don't think it's a "bug" on our part (although I could look into Delaware), but I feel like it's something we should discuss about annotating, since it's something that will likely come up again and again. Basically, I would like that whenever there is a significant factor that is outside the data that affects the data (like these reporting gaps or the change in the rape definition) that we can

[2017-02-24 03:11] harrisj commented on #240
Yes, it seems like upgrading the library didn't make any difference. I think I would fix this if we switched to a hand-edited Swagger JSON

[2017-02-24 03:21] jeremiak commented on #380
Let's use a different github label, so that we can easily keep track of all these questions. How about "data quality"?

[2017-02-24 14:57] nicoleslaw opened #394 "Add link to README to the downloads and documentation view"
This issue relates to developing content for the README as well as adding links to the file from the CDE.

---

As a user I want to view a README (accessible via a link) as I am downloading bulk incident data.

This readme should explain the following:

- [x] This is raw data without estimates
- [x] These files can be joined together by ORI or Incident ID#

And include:

- [x] Link to [NIBRS manua

[2017-02-24 16:19] harrisj opened #395 "Add caching header to API responses"
In order to eventually use downstream caches like API Umbrella (part of `api.data.gov`), we need to add a `Cache-Control` header to API responses with a suitable time to cache the content (perhaps 10 minutes? 5 minutes? 3 minutes?). This will be used for caching responses in the browser and any proxy caches.

If we wanted to get fancy, [api.data.gov allows us to also specify a separate age just fo

[2017-02-24 17:09] harrisj opened #396 "Arson mismatch between SRS and NIBRS for Alabama"
When looking at https://crime-data-explorer.fr.cloud.gov/#/explorer/alabama/arson, there were only 10 arsons in Alabama in the last ten years in the NIBRS buckets, but 996 merged in from the arson tables. See if there is something we need to do about the mismatch.

[2017-02-24 20:04] harrisj opened #397 "Remove redundant `as_csv_response` in base.py"
This code seems to be only used by the `/codes` API endpoints

[2017-02-26 21:50] LarryBafundo commented on #377
FYI - i emailed Mike & Sammy about this over the weekend. Hopefully we will have new guidance by Monday morning.

[2017-02-26 22:10] LarryBafundo opened #399 "Arson trend chart includes months in between years along the X axis"
When viewing trend data for arson, the chart displays months in between years along the X axis. It looks like no data is associated with these months and so the trend line becomes skewed.

Here's an example:

<img width="899" alt="screen shot 2017-02-26 at 12 55 05 pm" src="https://cloud.githubusercontent.com/assets/15899668/23344215/4b1036de-fc2d-11e6-8370-6597af1c8b00.png">

[2017-02-26 22:52] #280 closed

[2017-02-26 22:56] LarryBafundo commented on #330
Need to define the locations we have data for and whether or not they can be addressed at the "state" level.

[2017-02-26 22:56] #159 closed

[2017-02-26 22:57] #57 closed

[2017-02-26 23:02] LarryBafundo commented on #242
TO DO: will break this concept into specific user stories based on the finalized design

[2017-02-26 23:05] #309 closed

[2017-02-26 23:29] jeremiak commented on #399
It looks like we are getting monthly data from the API, any idea why this endpoint is behaving differently?

For reference, here is the API URL that the app uses to get arson data for the trend chart:
`/incidents/count?explorer_offense=arson&per_page=11&year>=2004&year<=2014&state=mi`

[2017-02-27 06:08] jmcarp commented on #280
?

@LarryBafundo

[2017-02-27 15:31] harrisj commented on #280
Some of these schema aren't really being used in production anymore (we have instead denormalized them into materialized views or such), so I suppose we could revisit some of this loading once we get past the MVP. I myself have been vexed by how much _eager_ loading is happening for some other models since that means joining in a bunch of tables that aren't being used.

[2017-02-27 15:33] harrisj commented on #280
To clarify further, this is not really a great project to use as an example, because it is denormalized far more than many RESTful projects and is much larger than many RESTful projects often are, so eager loading can quickly lead to performance issues, as generally desirable as it usually is. That said, there are ways we can optimize it further and this might be something to discuss in a few week

[2017-02-27 17:24] LarryBafundo commented on #377
hey @AvivaOskow: I heard back from CJIS and security doesn't actually have firm requirements for a beta banner, there's just a prevailing concern that what we have and what we've shown isn't noticeable.

Mike has suggested that we work with the option below, but change the banner color to yellow, or another color that serves as an "alert" and increase the size of the text.

[2017-02-27 18:11] LarryBafundo commented on #399
@harrisj  ^^^

[2017-02-27 18:28] harrisj commented on #399
Yes, I will guess this is my bug. I will look into it

[2017-02-27 21:59] harrisj opened #401 "Deploys are failing because of old Python version"
Getting this error when trying to deploy

[code]

[2017-02-28 01:50] jeremiak opened #403 "Standardize API endpoints on postal abbreviations when state parameters are needed"
The data set refers to states in different ways depending on what we're looking at ([4 different ways as @harrisj points out](https://github.com/18F/crime-data-explorer/issues/410#issuecomment-282845598)). For the API user, this creates some confusion and uncertainty about what to use and when.

We should standardize on postal abbreviations as they're the most commonly known.

[2017-02-28 02:51] harrisj commented on #403
I actually have a few related issues I'd like to create about refactoring the API if we reach a sprint where we feel ready for them.

[2017-02-28 03:37] #401 closed

[2017-02-28 03:41] harrisj commented on #399
We aren't getting monthly data. Instead it looks like the process of inserting the Arson records was run multiple times and insert multiple records for the same groupings (so it ran 8 times in 1979). We had been getting some errors, and I think these errors were actually writing things to the database. I have run the query that would put things in the table, and there are no duplicates in that.

T