[2017-02-28 04:58] LarryBafundo commented on #399
ouch. @harrisj we should probably start on this right away then.

[2017-02-28 13:57] harrisj commented on #399
I want to wait until after the user interviews are done today. Let me see how bad the issue is

[2017-02-28 16:22] harrisj commented on #397
I've created a new "code quality" label for flagging this and other cases where code quality issues could be addressed

[2017-02-28 17:07] harrisj commented on #28
This issue has been deprecated in favor of https://github.com/18F/crime-data-explorer/issues/351

[2017-02-28 17:07] #28 closed

[2017-02-28 18:15] #395 closed

[2017-02-28 18:37] harrisj commented on #389
Were we able to clarify this one?

[2017-02-28 18:39] harrisj commented on #386
Still awaiting FBI response from this. Note that [in some cases, it seems like the sum of ref_agency_population is actually greater than the sum of ref_county_population](https://github.com/18F/crime-data-explorer/issues/343). Will need some advice from the FBI on that.

[2017-02-28 18:57] harrisj commented on #392
This has been fixed in #400

[2017-02-28 18:57] #392 closed

[2017-03-01 01:24] LarryBafundo commented on #394
Re: data dictionary, good examples here https://openjustice.doj.ca.gov/data

[2017-03-01 01:29] LarryBafundo commented on #394
@cacraig to link the files, will people use the ORI #s, or the incident IDs?

[2017-03-01 01:30] LarryBafundo commented on #394
@nicoleslaw thoughts on there being just a single document to include with the download package and the readme also containing the data dictionary?

[2017-03-01 02:43] cacraig commented on #394
@LarryBafundo - They can use either. ORI links all the data. Incident ID links to Incident, Offense, Victim, and Offense.

[2017-03-01 15:02] nicoleslaw commented on #394
Personally, I think it would be easier to maintain as two separate files, but I defer to our engineering team on this one. The data dictionary may vary based on the data you're downloading. The readme info is generally the same across the project, but is more licensing, how-to info, links to UCR documentation, etc.

[2017-03-01 15:56] LarryBafundo commented on #394
okay @nicoleslaw, makes sense. but let's prioritize the readme then over the data dictionary (hopefully we can get them both in during the next sprint).

@cacraig developing the content for these assets is one thing, but can you tell me how we would include them in the download package? is this something that we could add at the front end? want to understand if we need to group this issue with som

[2017-03-01 16:22] harrisj opened #406 "Update: Replace state_id with the state_postal_abb"
I think it would be good to clean up a few inconsistencies with the API as part of this sprint or in the next phase:

- [x] Replace `state_id` with the `state_postal_abbr` as a parameter for selecting states. All states have postal abbrs, so this should work. The parameter should be accepted if uppercase or lowercase (see also #403)
- [x] See if we can use `fips` for identifying counties in county

[2017-03-01 16:26] harrisj commented on #406
I think the other long-term goal we might consider is to limit the API requests to only use basic or denormalized views tailored to their responses. This could then mean that "production" databases would be a smaller subset of the full DB we need to creating such views (although I have no idea what fraction of size they would be and they would still get large once we start including NIBRS single i

[2017-03-02 01:32] amberwreed commented on #161
This is still a goal that I hope to get to.

[2017-03-02 15:25] nicoleslaw commented on #394
I started a draft here: https://docs.google.com/document/d/1WMZvUOj_EyHc_RvKcCg_XR_Zc03it9JUnjQzbk35qns/edit#

Would love some input from, well, everyone really! @LarryBafundo @RyanSibley @harrisj @jeremiak @brendansudol @cacraig @amberwreed @AvivaOskow ❤️

[2017-03-02 21:23] harrisj opened #408 "R and U offender relationships in victim counts"
For instance, see https://crime-data-explorer.fr.cloud.gov/#/explorer/arkansas/aggravated-assault and there are weird realtionship types in there

![crime_data_explorer](https://cloud.githubusercontent.com/assets/2044/23526319/a566a624-ff5f-11e6-804e-6ce1e86082f2.jpg)

I'm a little perplexed since this seems to be coming from the API. But these values only exist in the `offense_victims_table`

[co

[2017-03-02 22:29] LarryBafundo commented on #408
Let me share with CJIS and see if they have any insights.

[2017-03-02 22:57] LarryBafundo commented on #377
We decided on this option with the core team this morning:

<img width="490" alt="screen shot 2017-03-02 at 3 00 01 pm" src="https://cloud.githubusercontent.com/assets/15899668/23530854/6dac794a-ff58-11e6-8afb-5dd9a7238ee8.png">

@amberwreed can we decide on the interaction? does the banner need to float and be dismissed, or can it just be fixed at the header? the latter seems cheaper and having t

[2017-03-02 23:42] amberwreed commented on #378
@AvivaOskow please attached annotated sketch file for mobile beta banner here.

[2017-03-02 23:51] LarryBafundo commented on #399
@harrisj, i'm going to move this back into in progress, okay? let me know how it goes.

[2017-03-03 02:05] LarryBafundo commented on #378
related to: https://github.com/18F/crime-data-api/issues/377

[2017-03-03 03:37] amberwreed commented on #377
I propose fixing it to the top of every page. I would prefer if it could be
closed but if that is more work, it is not necessary until we get
complaints.

On Thu, Mar 2, 2017 at 2:58 PM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-03-03 17:36] harrisj commented on #408
Just to clarify, this was a bug in how the `offense_victim_counts` table was assembled from sub-aggregations (not an issue with data provided to us). We have corrected the code and are regenerating the table.

[2017-03-03 21:43] nicoleslaw commented on #394
This is getting pretty close. I will try to wrap up all of the edits on Monday morning after y'all take another look. @LarryBafundo When this v1 draft is ready, should I pass it to someone to implement or add it to To Do?

[2017-03-03 22:26] harrisj opened #409 "Check the filenames of CSVs for various API endpoints"
See https://github.com/18F/crime-data-explorer/issues/501 for context

[2017-03-03 23:56] LarryBafundo commented on #408
@harrisj been reading the NIBRS spec and came across some of the weird classifications mentioned by this issue. see below:

<img width="660" alt="screen shot 2017-03-03 at 3 54 23 pm" src="https://cloud.githubusercontent.com/assets/15899668/23573326/fdc2f4c4-0029-11e7-8ba4-b524644f8828.png">

[2017-03-04 00:09] LarryBafundo opened #410 "Add victim/offender ethnicity data to NIBRS dimensions"

[2017-03-04 00:11] LarryBafundo opened #411 "Add weapon type data to NIBRS dimensions"

[2017-03-06 02:46] LarryBafundo commented on #394
@nicoleslaw for tasks like this, where the issue refers to both design/content and implementation, let's use the appropriate tag (either "design" or "content") to indicate what stage it's in and then remove it once it's ready for implementation.

cc: @amberwreed, @AvivaOskow, @RyanSibley

[2017-03-06 18:17] cacraig commented on #408
^ This was a bug, we rebuilt the dataset, and it should be fixed now.

[2017-03-06 21:15] #399 closed

[2017-03-06 21:55] harrisj commented on #396
This is still there, but I don't think this is something on our end. Rather it's just an effect of two different types of counting

[2017-03-06 22:45] AvivaOskow commented on #377
@LarryBafundo I haven't uploaded an annotated file yet.

[2017-03-07 02:55] LarryBafundo commented on #408
verified on master, great work.

[2017-03-07 02:55] #408 closed

[2017-03-07 16:10] nicoleslaw commented on #394
@jeremiak @cacraig @harrisj I have a few remaining questions in the draft. Would you mind taking a look before I wrap up this round? Happy to chat during standup time if that's easiest. https://docs.google.com/document/d/1WMZvUOj_EyHc_RvKcCg_XR_Zc03it9JUnjQzbk35qns/edit#

[2017-03-07 16:26] #378 closed

[2017-03-07 17:17] AvivaOskow commented on #377
@brendansudol here is the annotated file for desktop and mobile:

https://drive.google.com/open?id=0B9bDBpzeNNaXbHhrNGl5ejdxOFU

Thanks!

[2017-03-07 22:42] brendansudol commented on #377
this is now live: https://github.com/18F/crime-data-explorer/pull/533

[2017-03-07 23:50] AvivaOskow commented on #377
@brendansudol Looks good! I'm wondering if the break point for the banner should be when it starts to cover the US Gov. Website banner on the left? Maybe once it hits that is goes to full width? Or does that feel too soon?

[2017-03-07 23:50] AvivaOskow commented on #377
@brendansudol also wondering if they are going to want it to pin to the top...

[2017-03-08 20:10] LarryBafundo commented on #377
@AvivaOskow, okay to close this based on your design review? I don't think we need to worry about having the banner float as the user scrolls down the screen. It's not something we discussed during our call last week and as it is, the new design seems to do the job.

[2017-03-08 20:32] LarryBafundo commented on #315
@AvivaOskow, @amberwreed the no design state is ready for review on master. try iowa / 1992, or this link:

https://crime-data-explorer.fr.cloud.gov/#/explorer/iowa/homicide?since=1984&until=2014

[2017-03-08 20:47] harrisj opened #412 "Compute state and county population by adding up ref_agency_population"
Since right now it seems like the sum of `ref_agency_population` is greater than the sum of `ref_county_population` in some years, we might need to be more creative.

1. For states, add up `ref_agency_population` for all agencies in that state that year.
2. For counties, add up the population value if `ref_agency_county` for all agencies in a year.

[2017-03-08 22:15] LarryBafundo opened #413 "Weird spike in DC arson"
<img width="725" alt="screen shot 2017-03-08 at 12 22 33 pm" src="https://cloud.githubusercontent.com/assets/15899668/23726621/be353202-0409-11e7-99b4-40c4446bf5b0.png">

[2017-03-08 22:26] LarryBafundo commented on #410
@cacraig moving this into in progress, per our earlier convo.

[2017-03-08 22:31] LarryBafundo commented on #211
hey @harrisj can we close this out?

[2017-03-08 22:36] LarryBafundo commented on #387
@cacraig moving this into in progress

[2017-03-08 23:00] harrisj commented on #211
Yes, will close.

[2017-03-08 23:00] #211 closed

[2017-03-08 23:59] amberwreed commented on #377
Let's not worry about the banner floating until it is requested.

On Wed, Mar 8, 2017 at 12:10 PM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-03-09 00:28] cacraig commented on #387
Here is the working doc for this. - Still working on it.

https://docs.google.com/document/d/1Xu65gsDJHUJqaQLT1n60f7GZbnB7Al0WCnImjaxkNEw

[2017-03-09 16:33] harrisj commented on #386
Okay, just got confirmation from the FBI that `ref_county_population` is not to be trusted and that we should derive all numbers from adding up `ref_agency_population` or `ref_agency_county` populations

[2017-03-09 17:53] amberwreed commented on #353
https://github.com/18F/crime-data-explorer/issues/203

[2017-03-09 17:54] amberwreed commented on #353
#203

[2017-03-10 01:26] LarryBafundo opened #416 "Map "location type" to selected offense within the explorer view"
Currently, when we show the breakdown of NIBRS data by "location type", we aggregate location data for all offenses within that location, rather than the specific offense selected. For example, rather than showing where all "arson" offenses occurred within Ohio, we are showing where all offenses within Ohio occurred.

We should update the API endpoint to show only the location type for the offense

[2017-03-10 02:51] harrisj commented on #386
Going to close this since there is now an issue to make this change in #412

[2017-03-10 02:51] #386 closed

[2017-03-10 02:51] harrisj commented on #409
This is actually not something I need to fix

[2017-03-10 02:51] #409 closed

[2017-03-10 15:36] AvivaOskow commented on #315
@jeremiak The key for no data state: I think the stroke around the light blue box next to "Insufficient state data reported" makes it look like a button or field you can click into. Did you add the stroke because the box was hard to see otherwise?

@amberwreed thoughts?

[2017-03-10 15:48] harrisj commented on #396
So, I did a little bit of arson work today, and I saw there is a flag for `arson_month` that indicates if the report is supposed to come from NIBRS or was direct

But when I looked at the source for `arson_month.source_flag` since 2004, it was entirely just `M`, which seems to be a different field and suggests nothing is linked from NIBRS

[2017-03-10 15:58] AvivaOskow commented on #377
This looks great, just want to follow up on my earlier question about the breakpoint before closing:

@brendansudol Looks good! I'm wondering if the break point for the banner should be when it starts to cover the US Gov. Website banner on the left? Maybe once it hits that is goes to full width? Or does that feel too soon?

[2017-03-10 16:02] amberwreed commented on #315
Yes. I asked Bren to add it because it was hard to read. @avivaOskow

On Fri, Mar 10, 2017 at 7:36 AM, Aviva Oskow <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-03-10 17:43] LarryBafundo commented on #353
@RyanSibley assigning this to you to continue refining the data descriptions per our convo with Evan today.

[2017-03-10 20:26] harrisj commented on #406
cc @brendansudol and @jeremiak since they will be using the API changes

[2017-03-10 20:40] harrisj opened #417 "Rebuilding the participation table should use same rename strategy as reta_month_offense_subcat_summary"
Instead of a drop and then generate, build with a different name and rename the original table

[2017-03-10 20:47] harrisj opened #418 "Reta_month_offense_subcat_summary should ignore the records with actual_status=3"
Every counted field in `reta_month_offense_subcat` has a corresponding `_status` equivalent. In the comment for `actual_status` I see this message

We use the `reta_month_offense_subcat` table to assemble the counts within the `reta_month_offense_subcat_summary` table (hence the name). It seems like we should not include any records where `actual_status IN (2, 3)` when we are building those counts

[2017-03-10 20:49] harrisj commented on #413
Investigated this, and it seems like there are cases in `arson_month_by_subcat` where `actual_status=3` and the count is positive. If this field works exactly the same as the one in #418, then we should filter those out and that might be the cause of the spike here – one caused by counting records that have been disqualified, not by a crazed arsonist.

[2017-03-13 13:13] nicoleslaw commented on #394
It looks like we're all set on the content for this round. @LarryBafundo, this is in the api repo — how should we assign it now?

[2017-03-13 14:29] harrisj opened #419 "Participation table should also compute covered population for NIBRS"
This seems important since sometimes the NIBRS proportion can be very small compared to the total state population

[2017-03-13 16:48] LarryBafundo commented on #394
@nicoleslaw i'm going to close this as we linked to the readme on Friday from the downloads and documentation view. its not an ideal location, but at least its accessible now.

[2017-03-13 16:48] #394 closed

[2017-03-13 17:14] harrisj commented on #412
This was fixed in #415 and can be closed.

[2017-03-13 17:14] #412 closed

[2017-03-13 18:04] LarryBafundo commented on #315
@AvivaOskow, @amberwreed i suggest we close this as we have a separate issue for addressing the design fixes around this implementation

[2017-03-13 18:14] cacraig commented on #410
This one is on hold because it's going to have to bring down the victims/offenders endpoints. Probably best to wait until we know we can withstand some downtime.

[2017-03-13 18:27] LarryBafundo commented on #410
update: we are holding off on this until we finalize our demo schedule with the FBI.

[2017-03-13 18:42] amberwreed commented on #315
👍

On Mon, Mar 13, 2017 at 11:04 AM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-03-13 20:09] jeremiak opened #420 "National participation endpoint is returning data for Alabama (JSON & CSV)"
The following two requests return data that should be for the national perspective, but come with `state` set to "Alabama":

* `/participation/national`
* `/participation/national?output=csv`

State endpoints (like `/geo/states/AK/participation`) seem to be returning the proper data

[2017-03-13 20:30] harrisj commented on #420
I was told it should return participation data for all states (and what you are seeing is Alabama because per_page is not being set so it's defaulting to the first 10 rows?) Am I wrong about what the data should be, @LarryBafundo?

[2017-03-13 20:31] LarryBafundo commented on #420
the national participation endpoint should provide participation data for all states.

[2017-03-13 20:36] jeremiak commented on #420
Oh, got it and now I understand why you had put the `count` in previously.

@LarryBafundo that statement is ambiguous to me. Let me try and ask it a different way.

Should the API endpoint look like this:

[code]

Or should it just return the data calculated for the entire nation, meaning there would not be a `state_name` field and all of the numbers would be aggregates from across the country?

I

[2017-03-13 20:50] AvivaOskow commented on #377
@brendansudol can we switch to mobile view (full width red banner) as soon as the mobile menu breakpoint happens?

[2017-03-13 21:51] LarryBafundo opened #421 "Compile a list of data quality issues/questions for CJIS"
Let's budget some time to compile a list of data quality issues/questions that we can bring up with CJIS next time we're onsite.

[2017-03-13 21:51] #315 closed

[2017-03-13 21:55] LarryBafundo commented on #419
Relates to https://github.com/18F/crime-data-explorer/issues/318

[2017-03-14 20:49] harrisj opened #423 "Enable county perspective"
As a a user I can view reported crime rates, population, and participation data for selected counties.

[2017-03-15 13:02] harrisj opened #424 "Territories have really spotty data"
The data for US territories seems particularly spotty. Need to see if this is an issue with the source database:

* Puerto Rico has 1 agency that doesn't report, 0 population from 1982 -
* Guam has 1 agency that does report, 0 population from 1982-
* Canal Zone has 1 agency that does not report, 0 population from 1982 -
* Virgin Islands have 2 agencies that do report, 0 population, records only ba

[2017-03-15 14:21] harrisj opened #425 "Tribes have 0 population"
Here is a link to [tribal agencies reporting in 2014](https://docs.google.com/a/gsa.gov/spreadsheets/d/1s839vbmJ7ej8n-TkBrKb2DtzQVX3HKcfJPFjuXFb_Ms/edit?usp=sharing)

Tribes are generally good at reporting into SRS (and a few have reported NIBRS!), but one quirk of the participation data I have is that all tribes are listed as having 0 population and almost all are part of UNSPECIFIED COUNTY. The

[2017-03-15 15:50] #377 closed

[2017-03-15 15:52] jeremiak opened #426 "Georgia reports a small number of incidents of rape between 2004 and 2014?"
<img width="820" alt="screen shot 2017-03-15 at 11 51 23 am" src="https://cloud.githubusercontent.com/assets/780941/23957457/cc8aa136-0975-11e7-9b0d-2c52c048a79c.png">

Explorer URL:
https://crime-data-explorer.fr.cloud.gov/explorer/georgia/rape

[2017-03-15 15:53] jeremiak opened #427 "DC reports a single homicide for 2004 through 2014"
<img width="809" alt="screen shot 2017-03-15 at 11 52 54 am" src="https://cloud.githubusercontent.com/assets/780941/23957527/f9a43a92-0975-11e7-8362-917d995d81ac.png">

Explorer url:
https://crime-data-explorer.fr.cloud.gov/explorer/district-of-columbia/homicide

[2017-03-15 16:51] LarryBafundo commented on #416
@jeremiak is this ready for review?

[2017-03-15 16:53] jeremiak commented on #416
It is, apologies for not applying the label

[2017-03-15 19:51] #419 closed

[2017-03-15 19:51] #420 closed

[2017-03-15 23:25] LarryBafundo commented on #416
looks good

[2017-03-15 23:25] #416 closed

[2017-03-15 23:45] #242 closed

[2017-03-15 23:45] #330 closed

[2017-03-15 23:50] LarryBafundo opened #428 "Explore opportunities for surfacing summary-based sub offense data"
Given the lack of data below the state-level, we may want to consider surfacing summary-based sub offense data, like handgun violence.

[2017-03-15 23:51] LarryBafundo commented on #244
reopened this as we may need to incorporate a search function for reporting entities other than states. will also rename as such.

[2017-03-16 00:03] jeremiak commented on #417
Per [this comment from #422](https://github.com/18F/crime-data-api/pull/422#issuecomment-286467623), this seems like it should be done.

Is this ready to be closed @harrisj or @cacraig?

[2017-03-16 00:17] jeremiak opened #430 "Use postal abbreviations instead of state_code in LEOKA CSV"
The LEOKA CSV download from the Downloads and Documentation page uses `state_code` which is ambiguous because the FBI uses a few different state codes and they're hard to keep track of. We use postal abbreviations else where, so let's use them here too since they're easy to define.

data_year|state_code|leoka_assault|leoka_felony|leoka_accident
---|---|---|---|---|
1960|17|0|0|0
1960|39|0|0|0
1960

[2017-03-16 00:24] LarryBafundo opened #431 "Identify & document the key constraints, in terms of data quality and availability, for reporting areas below the state-level"
This issue is aimed at understanding the key constraints we need to consider when developing solutions around granularity.

@harrisj has already started a great write-up on this here: https://docs.google.com/document/d/1y16IT_age4UWeLnYsnzNg01FQG6bfuS_h3mbGPe1wlk/edit

And has provided the following reports:

county level participation: https://docs.google.com/spreadsheets/d/1-HWNX_EcUU1DlfZ5WUMEb

[2017-03-16 00:30] LarryBafundo opened #432 "Clarify how the FBI defines cities/major population centers & assess how this affects potential approaches for improving the granularity of the CDE experience"

[2017-03-16 00:55] LarryBafundo commented on #430
FYI - @RyanSibley

[2017-03-16 02:50] jeremiak opened #433 "Police employee download has same population for every year of a state"
All rows for a given state in the `pe_employment.csv` download have the same population value. For example, all California years have a population value of 16190816.

[2017-03-16 12:45] RyanSibley commented on #430
got it. thanks.

[2017-03-16 14:07] RyanSibley commented on #430
Is the field name changing as well? Or just the values?

[2017-03-16 14:08] jeremiak commented on #430
In other CSVs I've seen from our site it has used `state_postal_abbr` as the column heading. I think we should use the consistent heading and then change the values

[2017-03-16 14:15] harrisj commented on #406
One question: should we also rename `/incidents/count` to something more descriptive?

[2017-03-16 14:37] jeremiak commented on #406
Yes please, since it does also sometimes return SRS data as well, right?

[2017-03-16 21:19] harrisj opened #434 "API should accept api key as HTTP header"
There is an issue where the private API key used by the backend can get exposed when the backend API attempts to redirect requests

[2017-03-17 02:53] harrisj commented on #406
Well, it's always SRS data, it's just some was reported that way originally and some was converted from NIBRS

[2017-03-17 14:35] RyanSibley opened #436 "Validate data dictionary"
Please review the dictionary and make sure the definitions are correct. Keep an eye out for the following things:

- [ ] Identify places where we can provide values and we don't already

- [ ] Make sure the descriptions accurately describe the data and locationspecific to a value, if relevant.

- [ ] Give the trafficking section some love -- I feel like I was guessing  with a lot of that.

- [ ] I

[2017-03-20 15:48] cacraig commented on #436
One note -> For offense_name, we have that mapping to the NIBRS offense_code. Which isn't quite right. More accurately, it's the value of the NIBRS code, or just that: The NIIBRS Offense Name.

[2017-03-20 19:03] harrisj commented on #427
This is because the only agency in DC to report to NIBRS is the Metro Transit Police, and there was one homicide on Metro I guess.

[2017-03-20 19:28] harrisj commented on #426
This is like the #427, in that the issue here is limited participation in NIBRS. In this, case Georgia had only one agency (Norcross PD) that submitted via NIBRS. What is especially weird is the agency submitted NIBRS reports from 2001-2008 and then switched to submitting only SRS from 2009 onwards (meaning that 0% report NIBRS for Georgia in 2009 onwards)

[2017-03-21 02:18] harrisj opened #437 "Some agencies have abandoned NIBRS"
One of our general assumptions is that once you go NIBRS, you don't go back. However, while debugging #426, I discovered it was due to a single agency that had reported NIBRS for a while and then switched back to just SRS. I did a little more digging and discovered with this query

[code]

There are some 2847 agencies that reported NIBRS in one year and abandoned in a later year. IN some cases it

[2017-03-21 20:44] harrisj commented on #431
Curious to hear about where we are now on this after today's meeting

[2017-03-22 15:33] #434 closed

[2017-03-23 01:48] harrisj commented on #413
From the FBI:

[2017-03-23 01:49] harrisj commented on #437
From the FBI:

[2017-03-23 01:50] harrisj commented on #425
From the FBI:

So, it seems like we just need to close this out for now.

[2017-03-23 01:50] #425 closed

[2017-03-23 01:51] harrisj commented on #396
From the FBI:

I think this is just a case of NIBRS counting differently from arson reports

[2017-03-23 01:51] #396 closed

[2017-03-23 01:52] harrisj commented on #380
From the FBI:

The reason that it is lowers is that your other counts include Simple Assault which is not part of aggravated assault.

So, this sounds like it's a bug on our part? Will investigate

[2017-03-23 15:02] harrisj commented on #437
Going to close this, since it isn't an open issue, but it's something to be aware of

[2017-03-23 15:02] #437 closed

[2017-03-23 15:03] harrisj commented on #433
I had fixed this in the past I thought. It was a caching bug, but let me check it out.

[2017-03-23 15:04] harrisj commented on #387
Did you need me to do anything on this?

[2017-03-23 15:04] harrisj commented on #417
Yes, this should be closed.

[2017-03-23 15:04] #417 closed

[2017-03-23 15:07] harrisj commented on #406
So, this might be something for another PR, but I think we need to go back and reexamine the `/agencies' endpoints for getting a list of agencies or looking at a specific agency. I would like to recommend that we denormalize this as well into a single table or view (I think all the associations are essentially 1-1). Then we could also more easily inline participation data or such for that agency.

[2017-03-23 15:45] harrisj commented on #418
This might be a moot point, because we are are going to be using estimated trends in the future, making the specific construction of this table now largely irrelevant. But there are some cases where we might still need to care about this:

1. When reporting trends for specific agencies, those would still be derived from the reta_month tables if I understand it correctly.
2. We still need to see if

[2017-03-23 15:46] LarryBafundo commented on #387
I don't think so. I just need to work with Alex Bisker to close this out. Will try to do that today.

[2017-03-23 15:47] LarryBafundo commented on #437
@harrisj is there anyway to know how extensive this problem is? during the meeting on tuesday i mentioned this, and people seemed to be surprised that it happened.

[2017-03-23 15:48] harrisj commented on #437
Yep, the spreadsheet I have linked above seems to be all of the examples I found. I was rather surprised by it too, that's why I wanted to explore it.

[2017-03-23 16:05] harrisj commented on #433
Looping in @cacraig, did we build these by running some SQL queries or by calling a specific API endpoint?

[2017-03-23 20:51] harrisj commented on #433
So, the internal SQL needs to be tweaked a little. It was calling `ref_state_population` with a LIMIT 1 which returned only the most recent population for a given state. Going to suggest that we not use `ref_state_population` and instead use what's computed in `cde_participation_rates`. This is the modified internal SQL

[code]

@cacraig, do you mind looking it over and seeing if it's good to rege

[2017-03-23 22:19] LarryBafundo commented on #413
so @harrisj should we convert this into a bug/issue and prioritize accordingly?

[2017-03-23 22:19] LarryBafundo commented on #266
@harrisj is this still a question?

[2017-03-23 22:20] LarryBafundo commented on #389
@harrisj, @jeremiak i believe we addressed this in the last sprint through a separate fix. am i right?

[2017-03-23 22:25] #49 closed

[2017-03-23 22:25] #175 closed

[2017-03-23 22:27] LarryBafundo commented on #223
@harrisj do we want to still keep this around? in the meanwhile, i'm going to tag with "data quality"

[2017-03-23 23:18] #2 closed

[2017-03-23 23:20] #427 closed

[2017-03-23 23:20] #426 closed

[2017-03-23 23:21] LarryBafundo commented on #72
@harrisj do we still need this?

[2017-03-23 23:22] #432 closed

[2017-03-23 23:23] #421 closed

[2017-03-23 23:24] harrisj commented on #424
Apparently, this is a known problem. Closing.

[2017-03-23 23:24] #424 closed

[2017-03-23 23:24] LarryBafundo commented on #336
@cacraig moving this to in progress. can you provide an update?

[2017-03-23 23:25] harrisj commented on #413
Well, I don't know if it's something to prioritize, since we are going to switch to the estimated data for states. I don't know if we'll have estimated data for arsons though? But going to close this, especially since we have #418 already

[2017-03-23 23:25] #413 closed

[2017-03-23 23:29] harrisj commented on #380
Okay, I am a little confused by this one still and will likely need to email the FBI back. If I understand the sentence above, the reason why the count for that year is low because the other SRS or NIBRS-derived data included counts for "Simple Assault" within the RET A "Aggravated Assault" category. But that doesn't quite make sense to me, since UCR's offense is called "Aggravated Assault" too an

[2017-03-23 23:29] #380 closed

[2017-03-23 23:30] harrisj commented on #393
I think this has been superseded by a few other issues and discussions on city data. Closing

[2017-03-23 23:30] #393 closed

[2017-03-23 23:31] harrisj commented on #389
I think this was fixed?

[2017-03-23 23:32] harrisj commented on #266
I think this remains an open question since one is so far off from the other. I think we will be using ct_incident, but I do wonder why it's so far off from the other table.

[2017-03-23 23:33] harrisj commented on #223
I think we can kill this for now and reopen if it bothers us. It's becoming less of an issue as we move away from complicated JOINs to using denormalized tables and views.

[2017-03-23 23:33] #223 closed

[2017-03-23 23:41] harrisj commented on #72
We removed the `/incidents` endpoint for now, so no. Closing

[2017-03-23 23:41] #72 closed

[2017-03-27 19:53] #431 closed

[2017-03-27 19:56] LarryBafundo commented on #406
@harrisj can we please get an update on this issue prior to the end of the sprint (tomorrow)? if there are items that we want to defer to the next sprint we should break them out into a separate issue, or create a new issue or epic to track future work. i believe @jeremiak will also be adding tasks for API cleanup based on the results of last week's testing. thanks!

[2017-03-27 19:58] LarryBafundo commented on #436
@RyanSibley okay to close this out?

[2017-03-27 19:58] harrisj commented on #406
So, I think @cacraig was doing some of the reorganization (but I can pick up some of these). I do have a PR pending review that is for the new API documentation that will allow me to close out many of the issues linked in https://github.com/18F/crime-data-explorer/issues/314

[2017-03-27 20:01] #336 closed

[2017-03-27 20:05] harrisj commented on #184
Going to sidestep this and just use a manual swagger.json instead

[2017-03-27 20:05] #184 closed

[2017-03-27 20:07] harrisj commented on #217
Going to use a manual swagger.json instead (see https://github.com/18F/crime-data-api/pull/435)

[2017-03-27 20:07] #217 closed

[2017-03-27 20:07] harrisj commented on #382
Fixed by using a manual swagger instead (#435)

[2017-03-27 20:07] #382 closed

[2017-03-27 20:08] harrisj commented on #185
By default, any Swagger JSON schema include additional fields.

[2017-03-27 20:08] #185 closed

[2017-03-27 20:19] harrisj commented on #196
Fixed by https://github.com/18F/crime-data-api/pull/435

[2017-03-27 20:19] #196 closed

[2017-03-27 20:19] harrisj commented on #240
Fixed by https://github.com/18F/crime-data-api/pull/435

[2017-03-27 20:19] #240 closed

[2017-03-27 20:30] #281 closed

[2017-03-27 20:39] #428 closed

[2017-03-27 20:40] #389 closed

[2017-03-27 22:24] #387 closed

[2017-03-27 22:41] LarryBafundo commented on #403
hey @harrisj is this issue a duplicate? we seem to have a couple others floating around this same idea, although maybe I'm missing the differences.

[2017-03-27 22:43] LarryBafundo commented on #418
keeping this issue in the backlog per the points made by @harrisj. also checking with Loretta to see if arson data will be included in the estimates CJIS is providing.

[2017-03-28 00:19] RyanSibley commented on #436
yes!

[2017-03-28 00:19] #436 closed

[2017-03-29 15:18] harrisj commented on #383
So, the current standard Swagger UI has only two major issues for 508 compliance according to a a11y check I ran on https://crime-data-api.fr.cloud.gov/ (both are related to nesting of header fields). It's still pretty terrible on WCAG compliance, but this might be enough to go for now?

[2017-03-29 16:05] amberwreed opened #442 "test"

[2017-03-29 18:42] harrisj commented on #406
Do we have any API endpoints that require you to use the state_id and not the state postal?

[2017-03-29 18:45] harrisj commented on #406
Also, I was thinking of renaming the `*/count/...` offenses to be more like `/nibrs/counts/offenses/...` and `/nibrs/counts/victims`. This would mean we might have URLS that look like `/nibrs/counts/offenses/states/OH/race_code/offense_types/homicide` or such. What do you all think? @jeremiak @cacraig

[2017-03-29 18:46] harrisj opened #443 "Make Swagger-UI WCAG2AA-compliant"
This looks bad at first sight

![swagger_ui](https://cloud.githubusercontent.com/assets/2044/24470924/824619d8-148e-11e7-83d6-8a1a95a8f07e.jpg)

But given how the page is dynamically generated, this might be just the same few errors repeating over and over.

[2017-03-29 18:52] harrisj opened #444 "Swagger API documentation needs some help"
For starters, it needs a good introduction text on what the API is and how to use it. In addition, methods can be grouped into one or more tagged sections that have their own optional introductory text.

See https://crime-data-api.fr.cloud.gov/ for documentation

[2017-03-30 01:58] jeremiak commented on #403
@LarryBafundo The explorer card is meant to represent the front end app work to be done to stop using state codes when requesting data from the API. This issues is for those API changes

[2017-03-30 20:00] harrisj commented on #286
So, this is something we probably could include as part of the estimated data endpoint and maybe is something we could compute for agencies, but the issue here was for adding to the `reta_month_offense_subcat_summary` table which we will eventually be deprecating. So I'm going to close this issue now.

[2017-03-30 20:01] jeremiak commented on #406
I like that approach. I like including "nibrs" as that makes it clear what the source is and by having `states/:state/` URL parameter it seems logical that we could also include `agencies/:ORI/` endpoint.

[2017-03-30 20:20] jeremiak commented on #403
This looks great on the currently deployed app. Closing

[2017-03-30 20:20] #403 closed

[2017-03-30 20:22] jeremiak commented on #353
Is it accurate that the data dictionary is complete and we now need to just figure out where to link to it from on the explorer application?

If so, is there an initial idea on where we should put it?

[2017-03-30 20:29] LarryBafundo commented on #383
@harrisj what do you recommend? Should we close this out and add a separate issue to the backlog for improving WCAG compliance? We can also bring in an outside perspective to evaluate.

[2017-03-30 20:38] harrisj commented on #383
Well, I think we are actually okay on 508 Compliance, so if that's the minimum bar, then we can probably let it slide. I know that 18F generally goes for the more strict standard of WCAG2AA compliance and the FEC fork is more like that, but I've found it simply does not display some API responses and doesn't quite work for API requests probably because it's so old. There are a few things we could

[2017-03-30 22:40] LarryBafundo commented on #353
@harrisj originally, the intent was to include it in the bulk NIBRS downloads. but we are going to hold off on doing that for now.

in the meanwhile, i propose adding a link to the data dictionary here, along with the links we currently have in place for the readme and NIBRS diagram.

<img width="971" alt="screen shot 2017-03-30 at 3 39 09 pm" src="https://cloud.githubusercontent.com/assets/158996

[2017-03-30 22:46] LarryBafundo commented on #406
@harrisj looks like you've made more progress with this than what the checklist shows. Can you please update this issue? Depending on where you're at, we may close this issue out and create a new one for what's not finished.

[2017-03-30 22:51] LarryBafundo commented on #433
@cacraig, @harrisj how are we coming along with this one?

[2017-03-30 22:53] #286 closed

[2017-03-30 22:55] LarryBafundo commented on #444
relates to #314

[2017-03-30 23:06] #442 closed

[2017-03-30 23:13] LarryBafundo commented on #383
@harrisj let's go with option #1. what do you think?

[2017-03-30 23:17] LarryBafundo commented on #383
related to https://github.com/18F/crime-data-api/issues/443

[2017-03-30 23:20] LarryBafundo commented on #430
@cacraig can you make this change to the update script for our LEOKA dataset? We should use postal abbreviations for the state rather than state_code.

[2017-03-30 23:25] LarryBafundo commented on #418
@harrisj confirming that arson will not be included in the estimates Loretta is providing. How does that affect the path forward with this issue?

[2017-03-30 23:31] LarryBafundo opened #446 "Conduct proof of concept for aggregating ORIs to represent a single agency view"

[2017-03-30 23:32] LarryBafundo opened #447 "Develop ORI endpoint"
The purpose of this effort is to enable an ORI-specific view of the data, which in turn may be aggregated in order to represent a single agency with multiple ORIs associated with it.

[2017-03-30 23:33] LarryBafundo opened #448 "Create new denormalized table for agency annual counts"
This will be a similar approach to reta_month_offense_subcat_summary

[2017-03-30 23:34] LarryBafundo opened #449 "Make a denormalized table for ref_agency"

[2017-03-30 23:49] LarryBafundo commented on #447
@jeremiak let me know if i've described this adequately, or if more direction is needed.

[2017-03-30 23:58] LarryBafundo opened #450 "Assess what is required to use estimated data for national and state trends"
The FBI is providing estimated data for the last 20 years of national and state-level trends. We should assess how this data affects our current implementation, recognizing that it may require some front end changes, and doesn't include arson. We should also confirm that our revised implementation matches, or is at least comparable to, the historical CIUS reports.

[2017-03-31 00:00] LarryBafundo opened #451 "Explore how we can programmatically show agencies that have reported sufficient data"
The FBI has asked us to only show agency data when that agency has reported 12 months worth of data. How will we do this programmatically and how will we know when to show an agency that has reported a full year's worth of data, but over the course of a single month or so?

[2017-03-31 01:56] harrisj commented on #383
I think we go with #1 for now. Looks like the main issues are:

1. It uses `<h2>` and `<h4>` instead of `h1/h2/h3` hierarchy. So rename those and restyle sizing as appropriate.
2. Some colors could be adjusted to have better contrast ratios

Both of these should be doable to fix within a day or so of work.

[2017-03-31 02:05] harrisj commented on #418
We can do the computation to count in Arson. In the case here, we probably need to clarify a few things first though:

1. Is there an objection from the FBI to adding in raw counts for arson to a table that is nothing but estimated data that would stop us from doing this at all?
2. Are there other rules we should follow besides checking `actual_count==0` I seem to recall seeing something about not

[2017-03-31 02:41] harrisj commented on #447
So, we have had a prior `/agencies` endpoint that could probably be retooled

[2017-03-31 02:59] harrisj commented on #448
I figure it might have these columns

|column|notes|
|-|-|
|agency_id||
|year||
|month||
|state_id||
|state_postal_abbr|grouped with state_id|
|months_reported|0-12|
|nibrs_months_reported|0-12|
|population||
|classification (property, violent)||
|offense_category|(do we need this?)|
|offense_code||
|offense_name||
|offense_subcat_code||
|offense_subcat_name||
|reported/actual/etc.||

This would d

[2017-03-31 03:09] harrisj commented on #449
I figure this might potentially include the following columns. Should we call it `agencies` or `cde_agencies` or such?

|column|notes|
|-|-|
|ori||
|legacy_ori||
|name|(we actually have 3 names fields to choose from here)|
|city||
|state_id||
|state_abbr||
|metro_division_id|joined from ref_population|
|msa_id|joined from ref_population|
|start_year|when first reported|
|end_year|when stopped repo

[2017-03-31 14:20] harrisj commented on #449
I can start on this if you want, since I know these tables pretty well

[2017-03-31 16:38] LarryBafundo commented on #418
@harrisj I'll ask them about this today and copy you.

[2017-03-31 16:58] jeremiak commented on #447
Yup, maybe something like `/agencies/:ORI/counts` to match the structure of requests you had proposed [in #406](https://github.com/18F/crime-data-api/issues/406#issuecomment-290187122)?

I expect that the data should be returned in a similar structure to the current summary related endpoints:

[code]

Thoughts?

[2017-03-31 18:43] LarryBafundo commented on #418
answers from Loretta:

1. I cannot speak for management but I’m going to say yes there is an objection.  My opinion:  adding actuals in with estimated will led to confusion with the data and the counts could possibly be significantly lower than an estimation would.  Arson is difficult to estimate because of the offense and the way it is reported.

2. Not sure I follow this.

3. No, do not add the

[2017-03-31 18:44] LarryBafundo commented on #418
so, to recap, sounds like they dont want us to combine estimated and actuals, they dont want us to combine arson to the property crime totals, and they might either come up with a new way to estimate arson, or they may ask us to drop it from the CDE.

[2017-03-31 19:21] harrisj commented on #418
Welp, better to figure this out now than after we build it I guess

[2017-04-03 18:25] LarryBafundo commented on #444
closing in favor of https://github.com/18F/crime-data-explorer/issues/314

[2017-04-03 18:25] #444 closed

[2017-04-03 18:28] LarryBafundo commented on #448
@harrisj as part of this sprint we want to validate (or invalidate) the value AND feasibility of providing an agency-level perspective, so we should definitely assess the scalability of the approach you describe above.

[2017-04-03 21:46] cacraig commented on #433
This has been pushed to s3://${BUCKET_NAME}/pe_employee_data.csv

[2017-04-03 21:46] #433 closed

[2017-04-03 21:47] cacraig commented on #430
This is done, and has been pushed to: s3://${BUCKET_NAME}/leoka.csv

[2017-04-03 21:47] #430 closed

[2017-04-04 02:02] harrisj commented on #448
I think I will need @cacraig's expert assistance on this one to see how bad it might be to create, although I think once it is created, it might be scalable enough for our purposes.

[2017-04-04 15:22] cacraig commented on #448
@catherinedevlin ran into the issue of their just being too many cities (or agencies) in this case to precompute these groupings.  With state their are only 59 entries to account for... with agencies there are ~23,706 (probably less if we only count those that are full-reporters).

the reta_month_offense_subcat_summary table as is contains ~2,000,000 rows.

If we apply the same methodology for age

[2017-04-05 16:58] harrisj commented on #448
Thanks, this makes a lot of sense! It sounds like we should not support monthly groupings (only annual counts) and limit to just offenses and not offense_subcat codes. That should cut down the results to at most ~23K * 56 * 11 = 14,168,000 rows which is a little better? Of course to generate, we would still need to group the offense subcat counts for a month into offense counts for a year, so that

[2017-04-05 17:17] cacraig commented on #448
Ah I see, yeah if we stick to annual counts, and offenses. This will make sense. I am sure that only showing full-reporters will reduce it as well.

If we partition the resultant table by some heuristic, and limit queries (State or year) + massage our queries to query by agency ID  + date range the read-access will be doable (Likely won't need cstore_fdw - 14M isn't bad if the queries are simple)

[2017-04-05 19:26] harrisj commented on #448
So, I would suggest we partition by state or such. Conveniently, the first 2 letters of the ORI are also usually the first two letters of the state abbr (although I'd have to look at Nebraska to see if it's the postal code or the FBI abbr).

Based on our conversation today, it seems like we could potentially merge in a "city_slug" classification or such (or such that a bunch of agencies in Chicago

[2017-04-05 19:45] harrisj opened #453 "Enable agency lookup by zip code"
We have explored several prototypes that allow people to look up agencies by location. Zip code is a good way beyond city name for users to identify a specific area they want to find agencies for. There is a good question is "search by zip" means "find agencies near this zip" (proximity) or "find agencies whose jurisdictions include this zip" (coverage). We have several ways we could implement thi

[2017-04-06 23:50] #449 closed

[2017-04-07 00:55] LarryBafundo commented on #448
hey so does this mean this approach will prevent us from one day adding sub offenses to the explorer?

[2017-04-07 00:56] LarryBafundo commented on #453
@harrisj the county mapping seems to make the most sense, but lets try to settle on a direction prior to the end of the current sprint.

cc: @jeremiak, @amberwreed

[2017-04-07 12:33] harrisj commented on #453
I wanted to see how technically feasible the third option was, so I wound up building it partially (https://github.com/18F/crime-data-api/pull/454). But let me go see some rough parameters on how many results it might return...

[2017-04-07 12:45] harrisj commented on #453
One issue is that some counties do have a lot of agencies. Here are the 20 largest counties:

| state_name    | county_id   | county_name   |   count |
|---------------|-------------|---------------|---------|
| Illinois      | 722         | COOK          |     181 |
| Pennsylvania  | 2258        | ALLEGHENY     |     141 |
| California    | 215         | LOS ANGELES   |     120 |
| Missouri

[2017-04-07 14:55] harrisj commented on #447
We could look to add this. This would require us to set up the necessary backend table for offenses summarized by agency in #448

[2017-04-07 22:21] harrisj opened #456 "Need to recalculate NIBRS/SRS participation"
So, 100% NIBRS states are reporting only 80% NIBRS participation in my stats. Those statistics were calculated before I knew about `dormant_year` and agencies covering other ones. I need to reexamine a few things:

- [x] Does a covered agency get listed as reporting SRS or NIBRS?
- [x] Does a dormant_year agency get listed in `reta_month` and `nibrs_month` after it is dormant?
- [x] Do `0 populati

[2017-04-09 13:33] harrisj commented on #448
I mean, we could do suboffenses. But I think I want to see how it scales first without suboffenses and we would probably have to partition by some means first.

[2017-04-10 16:42] harrisj opened #458 "Create flattened coverage tables"
So, I just discovered that the FBI stores coverage as a tree (this was always a possibility, but I hadn't check it yet). To translate to English, coverage is represented as a table with three columns: `data_year, agency_id, covered_by_agency_id`. So, if an agency is covered by another agency that is covered by an agency in turn, they will represent it with two rows like this

|year|agency|covered_

[2017-04-10 17:31] jeremiak opened #459 "Remove /geo/states/<state_abbr>/participation endpoint"
With [18f/crime-data-explorer#639](https://github.com/18F/crime-data-explorer/issues/639) getting merged, we can remove the `/geo/states/<state_abbr>/participation` endpoint in favor of `/participation/states/<state_abbr>`

[2017-04-10 17:32] jeremiak opened #460 "Remove /incidents/count endpoint"
With [18f/crime-data-explorer#620](https://github.com/18F/crime-data-explorer/issues/620) getting merged, we can remove the `/incidents/count` endpoint in favor of `/counts`

[2017-04-10 18:10] harrisj commented on #456
Need to figure out #458 first

[2017-04-10 18:39] harrisj commented on #456
Looks like dormant agencies sometimes show up in `reta_month` after going dormant, although always with `reported_flag=N`

[2017-04-10 19:25] harrisj commented on #456
Okay, I've found some cases where an agency is listed as covered by another yet is also reporting a count. Will have to investigate

[2017-04-11 14:40] harrisj commented on #456
Okay, after running some queries, it looks like I might want to use the following logic:

An agency participates in SRS for a month if:
1. It has `reta_month.reported_flag` set to `Y` for a given month
2. It is covered by another agency with `reta_month.reported_flag` set to `Y`

It reports to NIBRS if:
1. It has `nibrs_month.reported_status` set to `I` or `Z` for a given month
2. It is covered by

[2017-04-11 17:25] #459 closed

[2017-04-11 17:25] #460 closed

[2017-04-11 17:46] harrisj opened #464 "Load Estimated data into tables"
It doesn't look like we ever made an issue for this, but we'll need to load the estimated data into the database. This process will likely involve a few steps:

1. SQL to create the estimated data table (name?)
1. Saving XLS as machine-readable CSV files
2. Loader script to load a file into the tables
3. Script that runs the loader for all files

Separately, we will need an issue for the API endpo

[2017-04-11 20:31] #458 closed

[2017-04-11 20:47] AvivaOskow opened #465 "Design solution for header content alignment for wide browsers"
The "logo" doesn't align with the left content for the side nav in the explorer on wide browsers, ends up looking broken:

<img width="830" alt="screen shot 2017-04-11 at 1 38 35 pm" src="https://cloud.githubusercontent.com/assets/21244661/24930034/1e5ae956-1ed6-11e7-889f-2ebe0fe7700b.png">

"Logo" could always align with content of left nav (see "Location"), but need to design a solution for when

[2017-04-11 23:57] LarryBafundo commented on #453
hey @harrisj we're going to bring this up during sprint planning tomorrow with Cynthia & Sammy and get their opinion, but has your thinking on this changed since you first wrote up this issue? seems like in either case we're either looking at providing too narrow of a view or one that is too large with many results. so maybe that means we need a secondary qualifier to narrow the results?

also, be

[2017-04-12 00:01] LarryBafundo commented on #456
just a note that this came up during testing today. one of the start UCR program staff we spoke with said their state has 100% and questioned our participation rates.

[2017-04-12 00:02] LarryBafundo commented on #464
@harrisj is the plan to continue to use the unestimated arson counts alongside the estimated ones?

[2017-04-12 00:17] LarryBafundo commented on #406
@jeremiak what do you think about retiring this issue as well and adding new ones to account for changing state_id with state_postal_abbr and renaming the offense endpoints. seems like we would want to hold off on exploring if we can use fips for identifying counties for now.

[2017-04-12 00:17] LarryBafundo commented on #446
this is no longer relevant

[2017-04-12 00:17] #446 closed

[2017-04-12 00:23] #353 closed

[2017-04-12 00:29] LarryBafundo commented on #450
@harrisj has this captured elsewhere. closing.

[2017-04-12 00:29] #450 closed

[2017-04-12 00:29] harrisj commented on #464
I thought the FBI told us not to do that and that we would likely be removing arson as a sidebar

[2017-04-12 00:30] harrisj commented on #456
I apologize for not detecting it earlier, but this is a point of these exercises I suppose.

[2017-04-12 02:06] harrisj commented on #453
Well, the current approach I have is to translate zip code to 1 or more counties and then pull in all the agencies in those counties. This could lead to some unexpected behavior: if I enter my own zip code, it'll pull in country agencies 30 or more miles away but not include agencies just over the border in DC or Prince Georges' County. But it doesn't rely on mapping agencies to zip codes or lat/l

[2017-04-12 02:08] harrisj commented on #453
Ooops, I meant the [ICPSR crosswalks](https://www.icpsr.umich.edu/icpsrweb/ICPSR/series/366)

[2017-04-12 14:16] harrisj commented on #456
So, #458 has been merged and the flat covered_by table has been created so I am now rebuilding the participation tables

[2017-04-13 14:48] harrisj opened #468 "Load ICPSR crosswalks into DB to promote agency search by zipcode"
Note that since the terms of use for these datasets include the following terms:

we should only check in the loading scripts to the repo and not any data files. A lot of these caveats are for files that identify individuals (not these crosswalks), but the terms still apply.

[2017-04-14 16:03] AvivaOskow commented on #465
@brendansudol and I decided the logo should align with the left content of the side nav, and should use that same margin for the homepage and on the right for the menu.

[2017-04-14 18:01] LarryBafundo commented on #464
@harrisj copied you on an email asking for a decision on this. if the rationale is to not include arson because we want to match the CIUS reports, i'm not sure that's a good reason because we're going to have differences no matter what.

[2017-04-14 19:59] LarryBafundo commented on #451
@harrisj cynthia is going to help us figure out an approach for this; but can I tag you as the lead for this particular issue?

[2017-04-14 20:12] LarryBafundo commented on #406
Prioritizing replacing state_id with the state_postal_abbr in the short-term for this sprint.

[2017-04-14 20:43] LarryBafundo commented on #244
it doesn't seem like this issue will ever be relevant.

[2017-04-17 13:38] harrisj commented on #451
Yes, please do!

[2017-04-17 14:13] harrisj commented on #468
Just out of curiosity, I looked what was in the files for population and such too

|Label|2012|2005|2000|1996|
|-|-|-|-|-|
|State Code (alnum)||STATE|STATE|
|FIPS state code|FSTATE|FSTATE|FSTATE|FSTATE|
|FIPS county code|FCOUNTY|FCOUNTY|FCOUNTY|FCOUNTY|
|FIPS place code|FPLACE|FPLACE|FPLACE|FPLACE|
|FIPS state code (alphanum)|FIPS_ST|||
|FIPS county code (alphanum)|FIPS_COUNTY|||
|FIPS state-count

[2017-04-17 15:20] harrisj commented on #468
Mainly, I was wondering if we could use the crosswalks for measuring actual population for agencies (although it wouldn't be updated as frequently). It looks like the populations for the crosswalks come from the following sources

|Crossswalk|Source|
|-|-|
|2012|2010 decennial census|
|2005|2000 decennial census, 2000 Census of State and Local Law Enforcement Agencies|
|2000|Census of State and Lo

[2017-04-17 15:20] harrisj commented on #468
So for now, I think I'll just work on loading the 2012 one and seeing how it matches against all agencies

[2017-04-17 21:56] LarryBafundo commented on #456
how's this coming @harrisj?

[2017-04-17 21:57] LarryBafundo commented on #447
@harrisj, @cacraig who should be assigned this? seems like @cacraig is more likely?

[2017-04-18 01:02] harrisj commented on #448
This would probably be best handled by @cacraig to be honest

[2017-04-18 01:04] harrisj commented on #456
I have been receiving some invaluable assistance from @cacraig on why this job kept stallng, and we might have it figured out now, but will look into it later.

[2017-04-18 03:35] LarryBafundo commented on #448
@cacraig okay to assign this to you?

[2017-04-18 03:37] LarryBafundo commented on #406
moving this back to ready since nobody seems to be owning it while in progress.

[2017-04-18 03:41] LarryBafundo commented on #464
@harrisj moving this into in progress

[2017-04-18 04:23] cacraig commented on #448
Yep! - @LarryBafundo

[2017-04-19 19:18] harrisj commented on #468
Should I move this back into `in progress` and work on this next?

[2017-04-19 20:57] #464 closed

[2017-04-19 21:02] LarryBafundo commented on #468
yes, @harrisj

[2017-04-20 17:37] jeremiak commented on #244
In that case, @LarryBafundo, it seems like we should close it

[2017-04-20 17:46] #244 closed

[2017-04-20 18:22] cacraig opened #472 "Participation query re-work."
The Participation data building job will need to be re-worked. https://github.com/18F/crime-data-api/blob/31d7e8e11bccf3cb30f654f808988ba892f7c3c3/dba/after_load/participation_table.sql

See:
[code]

My suggestion is to break this job up into smaller steps.

(1) Create the temporary table.
(2) Try to write to an intermediary table.
(3) *REDACTED* - I think we can just remove everything so that we'

[2017-04-24 14:34] harrisj commented on #468
I  will hold off on this for now and work on agency summary counts with @cacraig and reworking the participation tables for agencies

[2017-04-24 14:35] harrisj commented on #472
I will work on this and clean things up to be more minimal and less of a DB disaster

[2017-04-24 14:35] harrisj commented on #456
This will be resolved as part of #472

[2017-04-24 14:36] harrisj commented on #451
We sent this to the FBI for comment next week and are waiting on their feedback

[2017-04-24 14:37] harrisj commented on #447
We are still working on the backend data table in #448 but have made some real strides in optimizing the creation of that table

[2017-04-24 17:29] jeremiak commented on #465
@AvivaOskow This is deployed to crime-data-explorer.fr.cloud.gov and is ready for review. Not sure which PR it made it in ATM

[2017-04-24 23:50] LarryBafundo commented on #451
understanding how we can definitively know when an agency has reported 12 month worth of data is still an open question. working with cynthia and CJIS to clarify an approach.

[2017-04-24 23:51] LarryBafundo commented on #468
this may be deprioritized altogether, as the current design doesn't allow for users to search for agencies by zipcode. however, we may find in future research sessions that this is necessary.

[2017-04-24 23:55] LarryBafundo commented on #410
closing this as it now covered by other tasks.

[2017-04-24 23:55] #410 closed

[2017-04-25 01:50] harrisj commented on #468
Good point! I think in the future we might potentially want to have the mapping of agencies to specific FIPS places to allow people to better link to Census demographics, but it's not an immediate concern

[2017-04-25 19:59] LarryBafundo commented on #472
i moved this into in progress, what's the status of it?

[2017-04-25 20:03] harrisj commented on #472
I am currently rewriting this to use some temporary tables to make it more efficient to run. In addition, it seems like we want to record an agency as "participating" if either it or an agency covering it reported for 12 months

[2017-04-25 20:58] cacraig commented on #448
We have generated this table in prod. We are going to verify that it's what we need to move forward on: #447     - @LarryBafundo @harrisj

[2017-04-26 17:33] harrisj opened #473 "Split reta_agency_offense_summary rape into legacy and revised?"
Right now the estimated data endpoint returns two distinct counts for rape (legacy definition and the revised definition since 2013). I don't think these are additive (ie, I don't think total rape for 2015 is the sum of those both). For the sake of consistency, we might want to provide a similar breakdown for the agency data. There are equivalent suboffenses for the SUM_RPE offense for legacy and

[2017-04-26 20:41] LarryBafundo commented on #473
@harrisj i think we have to break out the counts for the different definitions, otherwise we're not representing the data accurately. but defer to @amberwreed as to how this impacts the design.

[2017-04-26 22:31] harrisj commented on #473
Well, it's a bit weird since let's say an Agency changes how it reports in June of 2014, we will have 6 months of counts for the old definition and 6 months for the new

[2017-04-27 17:30] #448 closed

[2017-04-27 19:58] LarryBafundo commented on #465
this is ready for your review @AvivaOskow

[2017-04-28 21:07] harrisj opened #476 "Change Swagger to point to new API endpoint"
The base URL should https://api.usa.gov/crime/fbi/ucr now

[2017-05-01 16:39] harrisj opened #477 "Recompute reta_month_offense_subcat_summary"
It looks like we will need to recompute the reta_month_offense_subcat_summary table. Even though this is not being used for state and national views, it will continue to be accessible in the API as part of the `/counts/` endpoint (should we change that?) and may be used for the Arson tabs in the crime data explorer. Changes we possibly need to make:

1. Include arson into the table, but do not lab

[2017-05-01 21:00] harrisj commented on #477
@LarryBafundo: did the FBI give us

[2017-05-01 21:01] harrisj commented on #477
Cool typing, Jake

[2017-05-02 16:54] LarryBafundo commented on #451
@harrisj seems like we can close this since we can use the reported_flag: Y, N to determine if an agency has reported 12 months worth of data. right?

[2017-05-02 16:54] LarryBafundo commented on #447
@harrisj, @cacraig hey folks, can we update larger issues like this every few days with where we're at?

[2017-05-02 16:59] harrisj commented on #451
Yes, my fear is that it would not be enough for agencies in places like Florida that report an entire year of data in a single month, but I am happy to report I am wrong and `reta_month.reported_flag` works for those as well.

[2017-05-02 16:59] #451 closed

[2017-05-02 18:27] #465 closed

[2017-05-02 22:18] harrisj opened #480 "Add a column to cde_agencies that tells when they changed over to the revised rape definition"
It might be null for agencies that haven't changed yet

[2017-05-02 23:01] cacraig commented on #447
@LarryBafundo - Sure thing. See #478  - Still working on this implementation.

[2017-05-03 18:50] cacraig opened #481 "Add tests for RETA agency level counts."
Add tests for RETA agency level counts. Using new (and improved) DB dump

[2017-05-04 19:58] #476 closed

[2017-05-05 15:00] harrisj commented on #473
So, I checked the DB and it looks like agencies switch at the beginning of the year and don't thus report both legacy and revised in a single year. So, there is no need for this change and I have added a column to the cde_agencies table for the year switched in #457

[2017-05-05 15:00] #473 closed

[2017-05-05 20:41] harrisj opened #489 "Estimated API endpoint should return data sorted by year"
Currently out of order because I fixed a data field

[2017-05-08 13:56] harrisj commented on #472
Closing since this was merged

[2017-05-08 13:56] #472 closed

[2017-05-08 13:56] harrisj commented on #456
Closing since this was merged

[2017-05-08 13:56] #456 closed

[2017-05-08 19:59] #489 closed

[2017-05-09 05:23] jeremiak opened #492 "Rename /agencies/count/states/offenses/:state/:ori endpoint"
This endpoint is pretty long and is a bit ambiguous since it mixes nested resources and variables. I propose `/agencies/count/offenses/:ORI` on the principle that the user should need to provide as little as possible. If we can infer the state from the ORI, I think the API should just do and simply the route. Thoughts?

[2017-05-09 18:25] jeremiak opened #493 "What do "agency_status" and "agency_type_id" mean?"
It would be nice to have a human readable description of some of these values, in particular the `agency_status` and the `agency_type_id` values.

From the following response it is hard for me to know where to look to determine the definitions of "A" and "1".

[code]

For what its worth, I like how this is handled for the population groups, with a `*_desc` key:

[code]

[2017-05-09 18:29] jeremiak opened #494 "What is the difference between the offenses and suboffenses endpoints?"
What is the difference between these two endpoints in the data they return?

We were looking at this data to build the bar chart for the agency view with `reported` and `cleared` values. But these two endpoints return different keys. Both return `reported`, but the suboffenses endpoint returns `cleared` but not `covered`, while the offenses endpoint returns `covered` but not `cleared`.

[2017-05-09 18:38] jeremiak opened #495 "How do we know which data reporting system a single agency participates in?"
We want to get UCR participation data for a single agency so that we can know if it submits SRS or NIBRS. Right now there is a `/participation/agencies` endpoint but it returns all agencies at once. The implications of this for the front end are fetching _all_ the data and then filtering it down by agency ORI even if the user just wants to see a single agency.

I noticed some keys in the `/agencie

[2017-05-09 19:16] harrisj commented on #493
What endpoint is this? I can add in `agency_type_desc`. I am thinking of removing `agency_status` since I haven't really gotten a good explanation of what it means.

[2017-05-09 19:17] harrisj commented on #493
Here are the agency_type values by the way

|Code|Name|
|-|-|
|1|City|
|2|County|
|3|University or College|
|4|State Police|
|5|Other|
|6|Other State Agency|
|7|Tribal|
|8|Federal|
|99|Unknown|

[2017-05-09 20:21] harrisj commented on #495
Hmm, I will have to look into why those were `null`. Do you have the specific API URL?

In response to your question though, it's complicated. Right now, we have `reported` and `nibrs_reported` because the database allows us to see if a given agency has filed a Return A report and/or a NIBRS report for any given month. The complication is that the Return A reports may either be from direct SRS rep

[2017-05-10 16:32] #447 closed

[2017-05-10 18:01] jeremiak opened #496 "Style API documentation to match general CDE aesthetic"
Before we publicize the API, let's make it look a bit more like part of the broad product. I propose the following elements for the first pass, recognizing we can always improve after we publicize it:

- [ ] Matching fonts and sizing between API docs and CDE front end
- [ ] Matching colors used
- [ ] Applying the same border radii
- [ ] Using the same width container
- [ ] Adding the basics of the

[2017-05-10 20:18] harrisj opened #497 "Append " County" to agency names for county agencies?"
So, the FBI's agency names can sometimes be ambiguous when you have an agency for a city within a county that has the same name as its county (eg, both the LAPD and Los Angeles County Sheriff have the name "Los Angeles"). [This happens a fair amount](https://docs.google.com/spreadsheets/d/1v0wCD_UtmGK2T33meqz_MZZe12vwRoFbH8hCoYOUS0Y/edit#gid=0)

Even for non-ambiguous names (eg, Montgomery County

[2017-05-10 20:20] LarryBafundo commented on #497
I think this makes sense, but how does this affect how they present in a list as a selectable agency versus as the header for the page?

[2017-05-10 20:30] harrisj commented on #497
Well, if we join against `cde_agencies` instead of `ref_agency` then it'll show up everywhere. The `/agencies/` endpoints are supposed to pull in from the `cde_agencies` table

[2017-05-11 19:23] harrisj commented on #497
This was merged as part of #457

[2017-05-11 19:23] #497 closed

[2017-05-11 19:23] harrisj commented on #493
Also, the agency type should be in the response for the `/agencies/` and `/agencies/:ori` endpoint

[2017-05-11 19:24] harrisj commented on #480
This was added in #457

[2017-05-11 19:24] #480 closed

[2017-05-11 20:09] jeremiak commented on #495
The specific URL where those `null` values is `/agencies/NJ0110500`.

So, if we wanted to display the NIBRS table only for agencies that submit NIBRS we should check for a `months_reported` value? Or should we look for both `nibrs_reported` and `nibrs_months_reported`?

[2017-05-11 20:24] jeremiak opened #498 "State abbreviation is case sensitive which makes the endpoint a bit harder to work with"
Right now, the `/estimates` endpoint is case sensitive with regards to the state abbreviation. When a lowercase state abbreviation is provided an error is not returned but there is no data.

* `/estimates/states/CA` returns data
* `/estimates/states/ca` returns an empty array

Requiring this value to be upper cased seems unnecessary and adds an additional burden to using the API.

[2017-05-11 20:29] jeremiak opened #499 "Sometimes the state value is supplied in the URL and other times as a query parameter"
In the `/counts` endpoint the state is a query parameter but in other endpoints the state is part of the URL path.

For example, to get arson in Nevada the endpoint is `/counts?explorer_offense=arson&state=NV`. However, to get the estimated reported crime counts for Nevada we use `/estimates/states/NV`.

For what it is worth, I prefer passing in the state abbreviation as a URL path parameter prece

[2017-05-12 02:33] harrisj opened #501 "Reported and months_reported are returning as NULL in cde_agencies tables"
This is my bug to fix. I think the issue is that `current_year` is being used to pull in participation, but the current year for agencies table is 2016 and the most recent data we have is from 2014. I should fix the current_year to ensure it uses reta_month and not what it is using.

cc @jeremiak

[2017-05-12 16:30] #498 closed

[2017-05-12 22:52] LarryBafundo commented on #496
@jeremiak moving this up in the queue for this sprint based on our conversation about getting broader feedback on the API as early as next week.

[2017-05-12 23:08] LarryBafundo commented on #468
this isn't something we'll likely tackle by launch, but deserves to be in the backlog for future consideration

[2017-05-15 12:51] jeremiak opened #504 "How do I use the API to get information about other NIBRS offenses?"
For example, how would I make an API call to get data on the following NIBRS offenses?
* kidnapping
* bribery
* gambling

I see that there are reported offenses in the state by state NIBRS bulk download that are these offenses, but I don't see how to do it from the API documentation. I see I can use `variable` for "NIBRS summaries" endpoints but I'm not sure what that means.

[2017-05-15 12:56] jeremiak opened #505 "What does the "aggregate_many" parameter mean?"
There is no description for the `aggregate_many` parameter in some of the API endpoints, though it is a somewhat vague variable name. Can we define it in the API documentation?

For reference, I am specifically referring to the `/offenders/count/national/{variable}` endpoint.

[2017-05-15 13:01] jeremiak commented on #504
It looks like I can use the `/codes` endpoint (in particular `/codes/nibrs_offense_type`) to find out the following:

Offense | Offense code
--- | ---
Kidnapping | 100
Bribery | 510
Gambling | 39D

Therefore, I can find out NIBRS related dimensions for reported kidnapping offenses with `/offenses/count/national/location_name?offense_code=100`.

How can we make these codes more apparent to the user

[2017-05-15 14:25] harrisj commented on #505
I don't know really what it does but it had something to do with CSVs. I think Colin probably has the answers

[2017-05-15 14:32] harrisj commented on #504
So a few quick points:
1. I created the codes endpoints for us mainly as we learned about the API and it includes code tables currently that are not used in any API methods currently (for instance `nibrs_drug_type`). We might want to remove those for now.
2. We absolutely want to use codes rather than internal IDs in the API methods and should make sure to denormalize the codes into tables to make

[2017-05-15 14:35] harrisj commented on #504
But to your more immediate point, the NIBRS denormalized tables like offense_counts and victim_counts only use the Offense Name and don't include the offense code currently. We should fix that. So you could pass offense_name=Kidnapping where you pass explorer_offense for now....

[2017-05-15 15:02] harrisj commented on #496
I think all of these should be doable. And I wonder if we should perhaps move the API documentation to within the frontend, since it just is JS that pulls JSON in from elsewhere (we might need to do some CORS fiddling) and it could reuse CSS elements defined in the CDE. That said, my biggest concerns about Swagger right now is its UX, which is more clever than good

[2017-05-15 16:10] harrisj opened #506 "Deprecate/restructure the reta_month_offense_subcat_summary table?"
In the earlier days of the API, Catherine Devlin built a table `reta_month_offense_subcat_summary` for rolling up the `reta_month` offenses from monthly offense counts into annual counts, with support for multiple levels of grouping. This allows users to potentially see counts for any combination of one or more fields: year, month, state, offense classification, offense, suboffense which makes for

[2017-05-15 16:29] cacraig commented on #505
I'm not sure if it still works anymore - but it was intended to aggregate the CSV rows.

aggregate_many=false

Agency, Incident
(agency_1, incident_1)
(agency_1, incident_2)
(agency_1, incident_3)

aggregate_many=true

Agency, Count
(agency_1, 3)

[2017-05-15 16:31] harrisj commented on #505
Any objection to me removing it then from documentation?

[2017-05-15 16:35] cacraig commented on #505
No objections here @harrisj ! Although it may come up in the debates on where to go with the Incident endpoint. (aggregating vs. flattening)

[2017-05-15 17:15] harrisj commented on #496
Here is a link to [documentation on customizing the Swagger UI](http://swagger.io/docs/swagger-tools/#customization-36)

[2017-05-15 19:20] LarryBafundo commented on #506
is there a short-term and long-term view we could take here? for example, could we decide on a course of action through launch (mid june) and one that we might take post launch, depending on priorities?

[2017-05-15 19:25] LarryBafundo commented on #361
this is not something that we're going to tackle prior to launch, but it deserves consideration for the roadmap

[2017-05-15 20:03] harrisj commented on #506
Not sure, I do have to regenerate the table to fix some things and I was wondering if it is worth it or not.

[2017-05-16 01:22] harrisj commented on #423
The data is in the database, this just would need an endpoint if we wanted to do it

[2017-05-16 16:54] jeremiak opened #509 "Can we add swagger validation to the CI process?"
The current `swagger.json` doesn't validate. Using the online validator tool (https://online.swagger.io/validator/debug?url=https://crime-data-api-demo.fr.cloud.gov/static/swagger.json) I get the following error:

[code]

Perhaps we can add swagger validation to the CI pipeline so that builds break when the JSON file has errors?

[2017-05-16 18:40] jeremiak commented on #509
Just came across this swagger badge/validator concept which could be useful: https://github.com/swagger-api/validator-badge

[2017-05-16 18:47] harrisj commented on #509
So there is validation on some API endpoints, and that would trigger some errors if the Swagger is malformed in some ways. But there are obviously cases where it doesn't quite work (and the issue here is that you could define Swagger schema objects that have no properties and match and that particular validator is being more strict than the one I am using I guess.

Still, we don't have something t

[2017-05-16 21:41] LarryBafundo commented on #453
should this still be in review? we're tabling agency search by zipcode for now...

[2017-05-16 21:44] jeremiak commented on #509
I think the problem here is that a key is misspelled as `prvoperties`. From the docs it looks like (not a proposal, just some quick research) we can `CURL` the document against a swagger validator. So using the `test: pre:` option in `circle.yml` we might be able to do something like `curl -X POST -d @crime_data/static/swagger.json -H 'Content-Type:application/json' -i http://online.swagger.io/val

[2017-05-16 22:17] harrisj commented on #509
Well, we could put the badge on it regardless (might be good to add), but I will look into why the validator within my Swagger tester didn't find that...

[2017-05-17 18:59] #505 closed

[2017-05-17 20:33] jeremiak opened #510 "Enable CORS on swagger.json file and endpoints"
Swagger-UI makes all HTTP calls client side but currently chokes because we haven't yet enabled CORS on the API endpoints. Swagger-UI also makes a client side call for the `swagger.json` file so that resource to allow CORS as well.

Related to #496

[2017-05-18 15:03] harrisj opened #512 "Add county information to the cde_agencies table"
We want to add the primary county for a given agency to the cde_agencies table. This involves a few little considerations:

1. Agencies may be in multiple counties, but let's pick the one they are mainly in to display (will have to see if some agencies are evenly split, but I assume most are usually in one county mostly)
2. County names in `ref_county` are capitalized, and there are some cases whe

[2017-05-18 15:07] harrisj commented on #509
This was merged into production

[2017-05-18 15:07] #509 closed

[2017-05-18 15:07] harrisj commented on #501
There is a PR for this, but this should be fixed on production now. Can you confirm @jeremiak?

[2017-05-18 15:18] jeremiak commented on #501
Looks good to me! I see that for ORI `NY0303000` we now have:

[code]

[2017-05-18 17:41] harrisj opened #515 "Create cde_states table"
As part of the work on #512, I created a denormalized `cde_counties` table instead. This allowed me to clean up the hackish code for CdeRefCounty. It might make sense to make a similar denormalized table for the CdeRefState model that pulls into a single table the data queried by the CdeRefState model

[2017-05-22 16:55] harrisj commented on #510
I want to enable CORS for the swagger.json so you can put the UI in the frontend if you need to, but does the CORS matter if we are proxying the endpoint through api.usa.gov? I honestly don't know...

[2017-05-22 16:59] jeremiak commented on #510
Good question, from looking through the docs I see nothing that contradicts the idea that api.data.gov is mostly a transparent proxy and so if we add CORS support to our API, api.data.gov will forward that along to the client.

@gbinal is the above correct?

[2017-05-22 17:44] gbinal commented on #510
@gui just answered over in Slack.  Crossposting here for convenience.

[2017-05-22 17:49] brendansudol opened #517 "update agency suboffense endpoint"
* add explorer_offense parameter so that we can filter results to a particular explorer offense (and do group-by aggregation on the front-end)

example: `https://crime-data-api-demo.fr.cloud.gov/agencies/count/states/suboffenses/NJ/NJ0110500?api_key=API_KEY&per_page=100&explorer_offense=FOOBAR`

  cc: @harrisj @cacraig @jeremiak

[2017-05-22 17:50] harrisj commented on #510
Thank you very much good sir. @jeremiak, is there any reason we should not enable CORS on all routes in the Flask application?

[2017-05-22 17:53] brendansudol opened #518 "update agency offense endpoint"
* use sub-offense table and group results (reports, cleared, actuals) by the offense that's supplied

i.e., /offenses/ORI_ID?offense=SOMETHING returns

[code]

cc: @harrisj @cacraig @jeremiak

[2017-05-22 18:53] LarryBafundo commented on #496
hey @jeremiak, @harrisj considering that this issue is in review I'm assuming it's complete, but did we ever get to the sub tasks Jacob added at the bottom of the main description? if not, we can split those out and and create a new task for them.

[2017-05-22 18:56] jeremiak commented on #496
Ya, the front end tasks are in review and being looked at, though not yet merged. I didn't address the first two points Jacob raised but I did take a first stab at adding some better auth UX including adding a default key so people can get going _right_ away.

+1 for pulling other the other tasks into separate issues.

[2017-05-22 18:57] LarryBafundo commented on #453
@harrisj closing this as we're not supporting search by zipcode for this first iteration of the CDE and we have a user story along those lines in the backlog.

[2017-05-22 18:57] #453 closed

[2017-05-23 01:52] LarryBafundo commented on #443
@harrisj is this still an issue for us?

[2017-05-23 02:04] LarryBafundo commented on #229
this is no longer applicable

[2017-05-23 02:05] #229 closed

[2017-05-23 02:09] #25 closed

[2017-05-23 02:34] LarryBafundo commented on #496
done

[2017-05-23 13:48] harrisj commented on #512
So, if we would prefer to list all counties an agency is located in, we can do that. I can also give you a count of counties, so you could say in the text "is located in X" vs. "is primarily located in X"

[2017-05-23 15:52] LarryBafundo commented on #512
@harrisj we have a call with the CJIS technical team to talk about this, so let's update this after that.

[2017-05-23 17:24] #496 closed

[2017-05-23 23:50] #517 closed

[2017-05-24 23:33] #501 closed

[2017-05-25 20:49] harrisj commented on #413
I just checked and this is still there, but it seems to be in the underlying data. Ah well...

<img width="766" alt="crime_data_explorer" src="https://cloud.githubusercontent.com/assets/2044/26470010/18e5bcf6-416a-11e7-91b1-56aeb179a182.png">

[2017-05-25 22:46] #510 closed

[2017-05-26 18:05] #518 closed

[2017-05-26 21:18] harrisj commented on #506
Let's defer this for now

[2017-05-26 21:18] #506 closed

[2017-05-26 21:19] harrisj commented on #492
This was merged

[2017-05-26 21:19] #492 closed

[2017-05-26 21:46] harrisj commented on #504
Okay, so I did a little more digging. There are 2 ways in which lesser offenses might show up in NIBRS. In some cases, the offense will be listed as part of a `nibrs_arrestee` record, but this is really only when there is a more major offense also associated with the incident. For truly minor offenses, they only record arrests in a separate table names `nibrs_grpb_arrest` which associates with oth

[2017-05-29 17:34] LarryBafundo commented on #481
hey @cacraig & @harrisj can i close this out?

[2017-05-30 14:20] harrisj commented on #495
This seems to be a duplicate of #501, which was fixed. I am going to close it.

[2017-05-30 14:20] #495 closed

[2017-05-30 14:21] harrisj commented on #512
CJIS approved displaying a primary county for an agency and this will be in production once #514 is merged.

[2017-05-30 14:41] harrisj commented on #494
The difference is just the level of granularity. One aggregates counts on an annual basis at the suboffense level for a given agency and the other at the offense level (an offense might be one or more suboffenses). The table you were looking at was an experiment that has been removed. The actual structure of an offense call has records that look like this:

[code]

[2017-05-30 14:44] harrisj commented on #493
The `agency_status` has two possible values `A` for active and `L` for legacy (agencies included more for historical reasons)

[2017-05-30 14:44] harrisj commented on #481
Yes, I think we can.

[2017-05-30 14:44] #481 closed

[2017-05-30 16:16] #512 closed

[2017-05-30 16:52] #493 closed

[2017-05-30 16:53] #494 closed

[2017-05-30 19:16] jeremiak opened #526 "Participation endpoint is case sensitive"
The `/participation/states/:state` endpoint is case sensitive.

So the following works:
`/participation/states/CO?output=csv`

while this does not:
`/participation/states/co?output=csv`

[2017-05-30 19:17] LarryBafundo commented on #526
ah i was wondering why this kept breaking

[2017-05-30 19:17] harrisj commented on #526
I will do a fix for this shortly.

[2017-05-30 22:32] LarryBafundo commented on #266
@harrisj okay to close this item based on our conversation about cargo theft with CJIS earlier today?

[2017-05-31 13:50] harrisj commented on #266
Agreed to close.

To recap the discussion, some agencies have their NIBRS submissions set so that every offense that could potentially be a NIBRS offense (there is a `ct_flag` on the `nibrs_offense_type` to indicate that it's a potential cargo theft) is accidentally counted as an actual offense. Many of these are not, so the `ct_incident` table is what we should use if we wanted to derive cargo th

[2017-05-31 13:50] #266 closed

[2017-05-31 13:57] harrisj opened #528 "Follow-up with CJIS on any manual pre-publication processes for CIUS"
It was mentioned briefly in the call with CJIS on 5/30 that they have to do some manual work to present crime data for Puerto Rico since the data provided doesn't align with the database requirements (ORIs and structure). This is why the crime data API has no crime data for Puerto Rico. We can look into any processing we might be able to do with that data in a separate issue, but I wanted to make

[2017-05-31 21:32] LarryBafundo commented on #528
@harrisj i already followed up with CJIS about this yesterday,  but still waiting on a response.

[2017-05-31 21:37] LarryBafundo commented on #528
this issue relates to https://waffle.io/18F/crime-data-explorer/cards/5924c389ccee550020e4d3a7

[2017-06-01 01:55] harrisj commented on #528
Larry, you're always one step ahead of me

[2017-06-01 19:11] harrisj opened #529 "Agency offenses endpoint needs to support classification and arson"
Currently the agency offenses endpoint does not work when passed the explorer_offenses of `property`, `violent` or `arson.` This will require a few fixes:

- [x] Mix in classification rollups to the data (or sum up as another table?)
- [x] Mix in arson data for the agency

[2017-06-02 19:12] harrisj opened #530 "Suppress unspecified counties in agencies table?"
Right now, if you make a request for an agency that is not in a real county (ie, a tribe or a state agency or a federal agency or NYC or DC), the primary county might look like this:

[code]
This is because even things are aren't in counties are mapped to fake counties in UCR. (That FIPS is really bad too) I wonder if it would make more sense to assign these values to NULL which would make it easi

[2017-06-05 00:26] LarryBafundo commented on #529
@harrisj can you please provide an update on this ?

[2017-06-05 00:34] LarryBafundo commented on #161
@amberwreed this seems like an ongoing task. should we just close this out and add a card to update the wiki with the latest documentation after each sprint?

[2017-06-05 01:09] harrisj commented on #529
1. Classification grouping work is done, but I need to generate a new backing table on production (going to start the job soon)
2. Arson grouping work needs to be done next.

[2017-06-05 04:26] LarryBafundo commented on #530
hey @harrisj i've seen some counties listed as "not specified" and others as "unmapped." is there a difference between the two and could we consolidate them into a single category?

see the list of agencies by county for New Jersey, for example: https://crime-data-explorer.fr.cloud.gov/explorer/state/new-jersey/robbery?agencySearch=true

[2017-06-05 13:58] harrisj commented on #530
I'm not sure what exactly the difference is between the two, but I would guess there is some arcane answer buried deep within the FBI processes (it's not worth teasing out). I could indeed consolidate into something generic for any county that doesn't have a real FIPS identifier, but the question I would like to get some feedback from @jeremiak and @brendansudol for is if they would prefer:

a) Sh

[2017-06-05 19:52] harrisj commented on #529
This was merged. Closing

[2017-06-05 19:52] #529 closed

[2017-06-05 21:43] #161 closed

[2017-06-06 03:14] harrisj opened #532 "Load corrected human trafficking data"

[2017-06-06 13:47] jeremiak commented on #530
@harrisj My weakly held preference would be for both values to be `null` but setting the FIPS code to `null` sounds good to me.

[2017-06-06 14:51] harrisj opened #535 "Load corrected cargo theft incidents"

[2017-06-06 14:52] harrisj commented on #477
This is done, but I want to get #519 merged before I close it out

[2017-06-06 20:53] #526 closed

[2017-06-06 21:00] LarryBafundo commented on #528
@harrisj it doesn't seem like we're ever going to get a complete accounting of all of the potential actions that may result in a difference between what the CDE displays and what is published. Do we want to keep at it, or close this issue based on what we know?

[2017-06-07 16:27] #532 closed

[2017-06-08 15:08] harrisj opened #546 "Add endpoint for retrieving cargo theft incidents in a state"
We currently just provide Cargo Theft data only as a bulk download, but it could potentially become its own type of page. Right now we have endpoints in front of the `ct_counts` and `offense_ct_counts` tables (the NIBRS-like details of types of property stolen, etc.) But we could also potentially share trends of cargo theft data for a given state based on individual incidents. We'd start by adding

[2017-06-08 15:11] LarryBafundo commented on #546
thanks for adding @harrisj

[2017-06-08 15:16] LarryBafundo commented on #411
superseded by #7, closing

[2017-06-08 15:16] #411 closed

[2017-06-08 15:33] #535 closed

[2017-06-08 15:53] #528 closed

[2017-06-08 19:49] harrisj commented on #515
This would be a necessary step if wanted to use our own separate API database distinct from the larger FBI database. I think it would be a good optimization step too.

[2017-06-08 21:54] LarryBafundo commented on #515
thanks @harrisj, could you describe some of the potential optimization benefits here?

[2017-06-09 15:10] harrisj opened #548 "Setup Voyage for the FBI to transfer files to us securely"
Not sure if we should use our existing S3 bucket or a new bucket, but the idea would be for them to use Voyage to upload the files to an S3 bucket we control. See [https://github.com/18F/voyage](18F/voyage) for more details.

[2017-06-09 15:12] harrisj commented on #515
Well, right now this is the only API endpoint that does multiple distinct queries against the database to get things like police staff or such. Would be quicker/less complicated to just inline that all into a single table.

[2017-06-09 16:23] harrisj opened #549 "Regenerate CSV for human trafficking"
With the recent merger of #533, the new human trafficking tables are now live. It looks like we might need to regenerate the CSV though. We have two choices for the table:

1. The /ht/agencies endpoint gives an agency-level count of human trafficking statistics for agencies that have reported.
2. The /ht/states endpoint gives a state-level rollup of the human trafficking data.

We could potentiall

[2017-06-09 18:56] LarryBafundo commented on #530
@harrisj, @amberwreed, @RyanSibley are we all on the same page as to how we should handle agencies with unspecified counties in the agency overview text?

[2017-06-12 02:03] harrisj opened #552 "Create special arson table for national/state arson table"
Right now, the only CDE use of the /codes/ endpoint and reta_month_offense_subcat_summary table is for arson counts as the state and national level. I think we should move this usage to a separate endpoint and deprecate the /counts/ API since this table is huge and takes forever to generate and would slow down a load of 2015 or later data.

[2017-06-12 18:37] harrisj opened #554 "Spike: test if significant performance improvements from bypassing Marshmallow"
It's looking like Marshmallow is becoming a bit of performance drag on the application. This is because rendering output means deserializing objects into Marshmallow objects and then rendering out JSON or CSV. It also adds a layer of code complexity. Given that the DB instance is now more powerful than the API instances and that Postgres can produce JSON and CSV (see [this library for calling COPY

[2017-06-12 18:58] harrisj opened #555 "Remove TableFamily code"
In earlier versions of the API, endpoints like `/incident/counts` and such extensively used SqlAlchemy's support for doing joins and dynamically controlling what columns were used to filter and group results. This was implemented in the code by defining various subclasses of `TableFamily` that could be used. Since then, we have deprecated most of the need for arbitrary open-ended queries supported

[2017-06-12 21:50] LarryBafundo commented on #549
hey @harrisj, let's go with the state-level roll-up, since that approach is similar to the other downloads we provide on the page. Also, we have an API endpoint for human trafficking, so we make more granular perspectives available in other ways.

[2017-06-12 22:12] #548 closed

[2017-06-12 22:13] LarryBafundo commented on #548
i think we can close this based on recent email traffic with Justin

[2017-06-12 23:05] #361 closed

[2017-06-12 23:09] #283 closed

[2017-06-12 23:09] #504 closed

[2017-06-13 09:17] harrisj opened #556 "Add some overrides for some agency names?"
Since we have created our own separate table `cde_agencies` for doing agency lookup, it allows us to potentially override the names of agencies in the CDE database if they don't match what a user might look for. A prime case of this is the NYPD (ORI=NY0303000) which simply has the agency name  of "New York," making it all but impossible to find in the current agency search interface for New York s

[2017-06-13 17:30] harrisj commented on #10
I don't think the FBI data lends itself to this. So I'm going to close it

[2017-06-13 17:32] #10 closed

[2017-06-13 17:33] harrisj commented on #397
Will likely be removed/fixed as part of #554

[2017-06-13 17:33] harrisj commented on #406
I think this is done. Closing

[2017-06-13 17:33] #406 closed

[2017-06-13 17:35] harrisj commented on #418
This change was made in #519

[2017-06-13 17:35] #418 closed

[2017-06-13 17:35] harrisj commented on #186
This is irrelevant since we are now hand-editing our swagger.json and are moving away from arbitrary query endpoints with dozens of possible parameters

[2017-06-13 17:35] #186 closed

[2017-06-13 21:35] harrisj commented on #48
This would be deferred for a future release

[2017-06-13 21:35] #48 closed

[2017-06-13 21:37] harrisj opened #557 "Add nibrs_participating_population to participation_rates?"
We might need this as a better measure to decide whether to display NIBRS for a given state, since looking at total agencies might be distorted for smaller states (ie, for DC's 5 agencies, 20% (or 1) participate in NIBRS)

[2017-06-15 01:38] harrisj opened #561 "Create download(s) from estimated data"
Should we have a single file with national counts and state counts in a single file or did you want two separate files?

[2017-06-15 02:03] harrisj commented on #561
I uploaded a file to S3 with the name estimated_crimes.csv

[2017-06-15 03:41] jeremiak opened #562 "Offender ethnicity endpoint is returning "null" for all counts"
The offenders' ethnicity endpoint returns a response where all the `count` values are `null`. This is not the case for the victims' ethnicity endpoint, which is returning values. This seems to be a bug since it is acting the same for all states.

URL: `offenders/count/states/oh/ethnicity/offenses?per_page=250&explorer_offense=homicide`

[2017-06-15 14:26] LarryBafundo commented on #561
@harrisj, could we do it as a single file?

[2017-06-15 14:27] harrisj commented on #561
Already did

[2017-06-15 14:45] harrisj commented on #562
Okay, I just ran:

[code]

And got 42 rows back. Which is _odd_. Will investigate further.

[2017-06-15 14:54] harrisj commented on #562
Okay, I just did this

[code]

And got 55 rows back. Which suggests the issue is in the data. Will have to follow up with the FBI.

[2017-06-15 15:11] harrisj opened #564 "Make test DB slice much smaller"
It's huge and unwieldy. My suggestion is to just limit to Rhode Island 2014 data and such and fix any tests to use it. Will get to it here and there.

[2017-06-15 16:05] harrisj commented on #562
Oops! I was looking at the wrong DB. But when I look at the production DB

1,879 rows with ethnicity in the offense_offender_counts table
618,622 rows with ethnicity_id in the nibrs_offender table. Which is a bit better but only 0.07% of the 87,630,489 offender rows

[2017-06-15 16:11] harrisj commented on #562
In contrast, 50,897,315 of 84,693,100 nibrs_victim records have an ethnicity (60%)

[2017-06-15 16:28] cacraig commented on #562
@harrisj  - The offense_offender_counts table is aggregate so those numbers make sense. It seems like ethnicity is just not reported much with offenders.

[2017-06-15 17:04] #555 closed

[2017-06-15 20:05] harrisj opened #565 "Recalculate how we compute aggravated assault totals"
For most agencies, there is a large discrepancy between the agency-level counts for aggravated assault and those published in Crime in the United States. For instance, in Antioch, CA in 2014, we report 1890 aggravated assaults to the CIUS figure of 466.

Looking into the problem, the issue is that SUM_AST (what we know as Aggravated Assault) has 5 different suboffenses:

|   offense_subcat_id |

[2017-06-16 14:17] harrisj opened #566 "Considerations for arrest data"
There are [41 tables for arrest statistics in Crime in the United States](https://ucr.fbi.gov/crime-in-the-u.s/2015/crime-in-the-u.s.-2015/persons-arrested/persons-arrested). I don't think we necessarily need to emulate all of these, but I think it would be good to have a few available for download:

- [ ] [Estimated Number of Arrests by Year](https://ucr.fbi.gov/crime-in-the-u.s/2015/crime-in-the

[2017-06-16 16:13] harrisj opened #567 "Proposal for how to handle specific annotations"
I was thinking about annotations for specific data issues in the RETA database and how we might support overlaying comments at various levels of specificity:

* Annotations related to an entire state for a given year
* Annotations related to a specific offense in a state for multiple_years
* Annotations for a single agency
And so on...

I was thinking that we could support this with a database tab

[2017-06-16 16:14] #552 closed

[2017-06-16 16:15] harrisj opened #568 "Load Territory data into a specific table for it"
See https://github.com/18F/crime-data-explorer/issues/183 for context. This can be used then to generate downloads

[2017-06-16 16:21] harrisj commented on #565
This has been confirmed by CJIS that we need to not include SIMPLE ASSAULT in our Aggravated Assault totals. I will make the change

[2017-06-16 17:22] harrisj opened #569 "Add reported_past_10years column to cde_agencies"
Contains how many years the agency has reported in the past decade. This will be used to gray out agencies that have been dormant for a while

[2017-06-16 18:31] harrisj commented on #565
So here is the issue. And this is partially my mistake...

The RETA Offense above all of these suboffenses is not Aggravated Assault but Assault. Aggravated is just a collection of those first four suboffenses...

Originally I thought I would just not include SIMPLE ASSAULT in the totals for Assault and that would be enough, but it technically is a type of assault and it would be weird for an API

[2017-06-16 18:49] #530 closed

[2017-06-16 19:58] LarryBafundo commented on #569
note, this will require both backend and front end changes to implement. let's use this card to track both, but update it's status here.

@jeremiak, @harrisj

[2017-06-16 20:24] #562 closed

[2017-06-16 20:24] LarryBafundo commented on #562
closing. this isn't actually an issue.

[2017-06-17 00:09] amberwreed commented on #549
@harrisj Is the latest files on the crime data explorer? I don't understand why some states have so many months that they have reported.

![Screen Shot 2017-06-16 at 5.08.28 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56393caf761ba64300ac16ef/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77256455f56b7191a37df112234f5d575ecc3c4a4356bcbbd671f3e57862804e0

[2017-06-18 00:53] harrisj commented on #549
Sorry for the confusion. That means that in 2014, 741 agencies in Illinois reporting 8739 total months of human trafficking reports (which is approx 11.79 months per agency). There is probably a better way to provide this statistic.

[2017-06-20 14:07] LarryBafundo commented on #549
@harrisj should this still be in progress?

[2017-06-20 14:20] harrisj commented on #549
No, this is done, but did you need me to edit the column names because of the confusion that @amberwreed pointed out?

[2017-06-20 14:39] LarryBafundo commented on #549
@harrisj can we just rename that column "avg. months reported" and show the average of months reported for the number of agencies participating by year, rather than the aggregate that we show currently?

[2017-06-20 14:53] #565 closed

[2017-06-20 15:51] #564 closed

[2017-06-20 19:13] #561 closed

[2017-06-21 00:30] LarryBafundo commented on #566
just a quick update: i sent an email to CJIS on Friday, June 16 asking for guidance here. Will update this issue once we know more.

[2017-06-21 00:32] LarryBafundo commented on #567
let's use this space as a place holder for potential ways of addressing agency-specific caveats and footnotes for future iterations of the CDE. for the initial release we will follow an approach where we make state-based footnotes available and reference those files at the agency level.

[2017-06-21 00:36] LarryBafundo commented on #556
CJIS doesn't want us to rename agencies on an ad hoc basis, but is considering whether or not we can use the crosswalk file to be more descriptive. closing this issue out in the meanwhile.

[2017-06-21 00:36] #556 closed

[2017-06-21 00:37] LarryBafundo commented on #554
@harrisj, @cacraig can we please provide an update to this issue as part of the broader discussion around CDE readiness?

[2017-06-21 10:39] harrisj commented on #549
This is done

[2017-06-21 10:39] #549 closed

[2017-06-21 15:10] harrisj commented on #567
I tried some data entry to see how I would record these things and it's clear I would need to add a few columns:

start_year
end_year (for multi-year annotations, inclusive end)
data type (estimated, raw)
state_postal_abbr
agency type (city, county)
agency name (would map to agency ORI)
agency ori
reta_offense_code
annotation

[2017-06-21 16:12] LarryBafundo commented on #14
Ask about this in open source channel.

[2017-06-21 16:15] harrisj commented on #14
Once we have settled on the proper license, I should also link to it from the swagger.json

[2017-06-21 16:16] #554 closed

[2017-06-21 17:12] harrisj opened #576 "P0: Update README.md to have correct setup directions"
This means a few tweaks:

1. Remove the incorrect flask migration instructions
2. Note about the test database
3. Note about using production API on frontend

[2017-06-21 18:24] #557 closed

[2017-06-21 18:25] #569 closed

[2017-06-22 17:10] harrisj opened #580 "Add to CDE_TABLES.md"
As a complement to the README, the idea is that it's a complete listing of the tables we add to the UCR and what API endpoints use them.

[2017-06-22 17:13] harrisj opened #581 "Remove /counts/ endpoint"
Now that the frontend is moving to use a separate arson table, remove the /counts/ endpoint and the code within cdemodels that is required to support it.

[2017-06-22 17:14] harrisj opened #582 "Merge cdemodels and newmodels.py"
It seems a bit weird to have two separate files with these records so I'm going to suggest we move to just one (named cdemodels?)

[2017-06-22 20:56] #576 closed

[2017-06-23 01:41] harrisj commented on #568
This is done.

[2017-06-23 01:41] #568 closed

[2017-06-23 14:26] LarryBafundo commented on #499
@jeremiak reminder to look into this and see if still necessary

[2017-06-23 14:28] #443 closed

[2017-06-23 14:29] LarryBafundo commented on #383
@harrisj, @jeremiak are we still thinking of doing this? if not, let's close this.

[2017-06-23 14:41] jeremiak commented on #383
Let's close it and re-open if we decide we need it.

[2017-06-23 14:41] #383 closed

[2017-06-23 16:40] brendansudol commented on #209
should we close this @jeremiak ?

[2017-06-26 19:01] harrisj opened #584 "Load ICPSR crosswalk names into cde_agencies"
After we raised the issue that the default public names for agencies are often confusing (ie, in New Jersey there is Camden County Police Department and Camden County for the sheriff), we got the go-ahead to use the ICPSR crosswalk if we want to. This process would involve a few steps:

- [x] Load the latest ICPSR data into the database (from the TSV)
- [x] Copy over the name fields to cde_agencie

[2017-06-26 19:01] harrisj commented on #584
One wrinkle is that we probably can't put the crosswalk TSV in the repo because of #468

[2017-06-27 02:02] jeremiak commented on #499
@LarryBafundo and @harrisj  This is good to close now that we aren't using the `/counts` endpoint.

[2017-06-27 02:02] #499 closed

[2017-06-28 20:15] harrisj commented on #584
After a discussion with the FBI this morning, we have supplied them with a CSV of agency names that are just the following rule:

1. If a city, append " Police Department" to the `pub_agency_name`
2. If a county, append " County Sheriff's Department" to the `pub_agency_name` if doesn't already have that County in its name
3. Otherwise, just use the `pub_agency_name`

This covers 95% of what we nee

[2017-06-29 03:13] #584 closed

[2017-06-29 03:17] harrisj opened #590 "Upgrade buildpack to Python 3.4.6"

[2017-06-29 17:12] #581 closed

[2017-06-29 18:15] harrisj commented on #266
To further clarify, the ct_incident table was also overreported and the FBI has instead provided us with some manual files to load for cargo theft data. The issue was that some agencies were misconfigured so that if a type of offense involved a property type with a flag indicating it could potentially be part of a cargo theft it was counted as a cargo theft whether it met the criteria or not.

[2017-06-29 18:17] harrisj opened #594 "Write up process for updating an agency name in the database"
Requested as part of the call this week so that it can be corrected after we are gone.

[2017-06-29 18:17] harrisj commented on #567
I think we can close this, right?

[2017-06-29 20:15] LarryBafundo commented on #567
yes closing.

[2017-06-29 20:15] #567 closed

[2017-06-29 23:39] #468 closed

[2017-06-30 00:02] LarryBafundo commented on #140
@harrisj what's the status of this task for versioning the API?

[2017-06-30 01:59] harrisj commented on #140
I had put it on the backburner behind some other things, but it could be a post-launch task

[2017-06-30 12:39] harrisj opened #596 "Arizona has a weird spate of teen burglaries"
It might be in the database like that, but just putting a note here to check that out

<img width="406" alt="cde____explorer" src="https://user-images.githubusercontent.com/2044/27735865-a09f7b2a-5d6f-11e7-9252-593458c8feae.png">

[2017-06-30 14:56] harrisj opened #597 "Document how to regenerate downloads using the script in the sql directory"
Relatively straightforward, but add it to the README

[2017-06-30 14:58] harrisj opened #598 "Have the API use a read-only key for accessing the database"
It's a good belt-and-suspenders way of ensuring data integrity in case bad actors are able to get access to the database.

[2017-06-30 15:00] harrisj opened #599 "Revise the DB tunnel documentation to use the cf command for DB connections"
Since the key used by the crime-data-api might be changed to read-only (see #598), better to setup a tunnel the official way with cloud foundry service connections. Revise the instructions in README.md to match that.

[2017-06-30 16:34] harrisj commented on #590
Okay, this is only a CircleCI issue. We can pass on this for now

[2017-06-30 16:37] harrisj opened #601 "Write a script for updating the DB agency names from the master file in dba/after_load/ext"
The idea would be to load in the agency names into a temporary table and update cde_agencies to change any names where the name is different from the old one.

[2017-06-30 18:30] #599 closed

[2017-06-30 18:44] harrisj opened #604 "Rename the crime-data-upload-db service to "crime-data-production-db", or similar"
Like maybe crime-data-production-db or something?

cc @cacraig

[2017-07-02 12:43] harrisj commented on #594
This is redundant to #601. Closing

[2017-07-02 12:43] #594 closed

[2017-07-03 14:53] #515 closed

[2017-07-05 18:28] LarryBafundo commented on #397
hey @harrisj where do we stand with this?

[2017-07-05 18:29] LarryBafundo commented on #566
closing this issue as we're going to discuss this during the technical check in on Thursday

[2017-07-05 18:29] #566 closed

[2017-07-05 19:00] harrisj commented on #397
I'd like to clean this up but in general all of this needs to be simplified. But I haven't gotten it resolved yet

[2017-07-06 14:54] cacraig commented on #604
@harrisj @LarryBafundo  - Yeah, I can probably pick this up today.

[2017-07-06 15:02] #601 closed

[2017-07-07 18:00] harrisj opened #607 "Load estimated national arrest data into the database"

[2017-07-10 18:37] harrisj commented on #596
I definitely see this reflected in the `offense_offender_counts` table which is derived from NIBRS. The next step would be going back to look at the source NIBRS data to understand why

[2017-07-10 18:39] dannguyen opened #609 "Make locality-year aggregate counts downloadable in bulk, similar to ucrdatatool.gov's table builder"
Hello, just wanted to first say thanks for building such a great tool. Even in beta, already feels more accessible and welcoming to the alternatives.

I've liked using the FBI's UCR data tool for generating crime count aggregates for cities/counties, specifically, the "Single agency reported crime" table type:

https://www.ucrdatatool.gov/Search/Crime/Local/LocalCrimeLarge.cfm

![image](https://us

[2017-07-10 18:46] dannguyen commented on #609
Oops, noticed that you do have state-level aggregates on the bulk datasets:

![image](https://user-images.githubusercontent.com/121520/28034163-106ee892-6576-11e7-8416-3e823aa66a1a.png)

OK so I guess I am asking for the more different/difficult task of having data broken down by cities/jurisdictions :)

[2017-07-10 18:52] harrisj commented on #596
But I also wonder if this is some quirk of how the data is collected in Arizona and also the hierarchy rule. Like if you are older, do you move on to other crimes? Are you more likely to commit some sort of aggravated assault with the burglary, which would be counted instead of the burglary?

I don't think I have the resources to chase this down in my remaining time. Sorry.

[2017-07-10 18:59] LarryBafundo commented on #609
thanks for the feedback Dan. have you tried searching by agency yet? see the drop-down within the state view. it allows you to view data for individual agencies within that state.

<img width="347" alt="screen shot 2017-07-10 at 11 59 10 am" src="https://user-images.githubusercontent.com/15899668/28034840-4280ff28-6567-11e7-9db4-65c823640a07.png">

[2017-07-10 19:56] dannguyen opened #610 "Redundant records for /agencies/count/{ori}/offenses endpoint"
Tried fetching all of the crime counts for the NYPD and found that in some years, the Arson counts have multiple rows but identical data (in those rows), with the exception of the `id` field. Haven't tried this with other agencies so don't know if it's a uniform problem or just a quirk with the NYPD.

Reproduction steps below:

[code]

Noticed that some of the years had varying number of records -

[2017-07-12 13:06] harrisj commented on #610
I will look into this today

[2017-07-12 13:10] harrisj commented on #598
Did we make this switch @cacraig?

[2017-07-12 13:11] harrisj commented on #597
This will be closed once its related pull request is merged

[2017-07-12 14:03] harrisj opened #612 "PO: Possible bug in nibrs_participated calculation on cde_agencies"
Noticed something weird when looking at the village of West Brocton,

It's listed as having participated in NIBRS from 1979 through its covered agency (Chatauqua), but Chatauqua did not report into NIBRS then and I'm not sure NIBRS even existed then.

[2017-07-12 15:22] #612 closed

[2017-07-12 18:50] #596 closed

[2017-07-18 19:48] harrisj opened #616 "Downloads for SHR and ASR Tables"
This issues is for tracking what downloads might be made available from the ASR and SHR tables we have derived from the FBI database. There are a variety of downloads and endpoints that could potentially be enabled down the road.

## National Arrest Totals
National arrest data is estimated by the FBI and provided to us as a CSV that is in the `dba/after_load/ext` directory and loaded into the `asr

[2017-07-18 19:58] harrisj commented on #610
I never got around to this. Sorry.

[2017-07-18 20:00] harrisj opened #617 "Add script for updating lat/lng"
Similar to the script for loading the agency_names.csv and updating cde_agencies, we should have a script that loads the icpsr file and updates cde_agencies as changed. This will help in cases where the crosswalk geocoding is wrong

[2017-07-18 23:44] #477 closed

[2017-07-19 00:42] #590 closed

[2017-07-19 01:50] LarryBafundo commented on #616
@cacraig let's sync up on this tomorrow. looks like we can include arrest data in the current sprint, but that we still have questions about the SHR, so that will likely need to wait until the next sprint.

[2017-07-19 01:50] LarryBafundo commented on #140
moving this to the backlog for future consideration

[2017-07-19 01:52] LarryBafundo commented on #597
@jeremiak looks like this just needs to be merged.

[2017-07-19 17:34] LarryBafundo commented on #598
no, we didn't. but moving to the backlog to do eventually

[2017-07-19 17:34] LarryBafundo commented on #604
moving to the backlog

[2017-07-19 17:51] jeremiak commented on #604
FWIW, I think we should still do this as the service names (and for that matter the cloud.gov space name, which is currently `prototype`) should be changed to be as accurate as possible to ease the cognitive load on future developers/maintainers for this project

[2017-07-19 19:30] RyanSibley commented on #616
@harrisj's write up is wonderful. Thanks!

[2017-07-20 15:26] #607 closed

[2017-07-20 21:28] LarryBafundo commented on #616
i'm going to move this into review since the arrest data is now available via the CDE; however, since the write-up is so great, i'm going to create a separate task for finishing off the SHR report and reference this.

[2017-07-25 19:06] #597 closed

[2017-08-02 19:22] LarryBafundo commented on #616
we need to hold off on creating the SHR report until we're in a better  place with the 2015 update.

[2017-08-02 19:26] #616 closed

[2017-09-27 12:50] crossonrose commented on #211
I don't know how to.

[2017-11-06 18:35] harrisj opened #639 "Offender and victim denormalizations go too far"
So, @jpwentz and I have been looking into issues where there are miscounts for total victims and offenders for a given state and we found two issues that seem to be causing problems in the rollups and undercounting things. The first one is here.

As a precursor to generating the rollup tables like offense_offender_counts or the like, our `after_load` scripts populate tables like `nibrs_offender_de

[2017-11-06 18:46] LarryBafundo commented on #604
@jeremiak, @jpwentz do you guys want to make an executive decision on what to name the upload service?

[2017-11-06 18:50] LarryBafundo commented on #423
Closing as we are going to focus this board on tasks related to the discovery effort; enhancements and new feature work will be tracked on the Jira board managed by CJIS

[2017-11-06 18:50] #423 closed

[2017-11-06 18:50] LarryBafundo commented on #546
Closing as we are going to focus this board on tasks related to the discovery effort; enhancements and new feature work will be tracked on the Jira board managed by CJIS

[2017-11-06 18:50] #546 closed

[2017-11-06 18:51] LarryBafundo commented on #580
Closing as we are going to focus this board on tasks related to the discovery effort; enhancements and new feature work will be tracked on the Jira board managed by CJIS

[2017-11-06 18:51] #580 closed

[2017-11-06 18:51] harrisj opened #640 "offense_offender_count (and similar) rollups can't include NULL values"
When looking into #639, I found another issue that can affect how data is displayed on the NIBRS rollup tables. Right now we build rollup tables where a column is NULL except if it's relevant to the counts. So to get all counts for `sex_code` you'd include `sex_code IS NOT NULL` in your query to find the values.

The problem is that there are some cases where there is no information recorded about

[2017-11-06 18:57] LarryBafundo commented on #397
closing as we are going to focus this board on tasks related to the discovery effort; enhancements and new feature work will be tracked on the Jira board managed by CJIS

[2017-11-06 18:57] #397 closed

[2017-11-06 18:57] LarryBafundo commented on #582
closing as we are going to focus this board on tasks related to the discovery effort; enhancements and new feature work will be tracked on the Jira board managed by CJIS

[2017-11-06 18:57] #582 closed

[2017-11-06 19:06] LarryBafundo commented on #14
@jeremiak do you have a strong point of view here?

[2017-11-06 19:11] LarryBafundo commented on #639
thanks for the write-up @harrisj; let's talk through it during our meeting later today. we'll want to flesh out a recommendation and then run it by Cindy.

but in reading your summary, i was curious about this:

"We only include the single offender record and pick only one of the offenses for that offender (similarly, only a single location or property)."

Are you saying that in cases where there

[2017-11-06 21:20] LarryBafundo commented on #640
@harrisj we've discussed this issue before, but i don't think we have the issue anymore. when you have a chance, can you outline your ideas here  and we can talk with Cindy about the path forward?

[2017-11-06 23:44] jeremiak commented on #14
@LarryBafundo I think this is a good opportunity to work with OPA on how they want to license their data

[2017-11-15 21:59] #604 closed

[2017-11-16 00:34] harrisj opened #649 "Post-Mortem: outage on the API after a buildpack upgrade"
There was an outage today on the crime-data-api following a merge to master by @jpwentz. The problem was an update to the Python buildpack used by cloud foundry which caused pip to fail when it attempted to installl its requirements because it failed at resolving a local directory path.

Fixed by #648

[2017-11-16 02:41] harrisj commented on #639
So I have deferred on the `_denorm` tables for now, but we can regenerate those later to have multiple offenses in them. I didn't want to block later step by worrying about that format. Right now I have a table for offender_offenses_states I am building on master for @jpwentz to review with the following changes from the previous version:

1. We join against the `nibrs_offense` table to record eve

[2017-11-16 16:21] harrisj commented on #640
This can be fixed as part of #646

[2017-11-16 23:29] #649 closed

[2017-11-17 16:39] harrisj opened #650 "Preferred way to find gang-related violence in NIBRS?"
We have some interest in looking at gang-related crimes within NIBRS but there seem to be two potentially redundant ways in which gang-related crimes are recorded:

The `nibrs_criminal_act` table is mapped 1:1 to specific entries in the `nibrs_offense` table and includes the following values for the `nibrs_criminal_act_type`:

|   criminal_act_id | criminal_act_code   | criminal_act_name

[2017-11-17 18:26] harrisj commented on #650
So, some other questions that need to be asked about the criminal act mapping:

1. Since gang stuff is linked to the `offense` and not the `offender`, does this affect the "in concert" determinations used for incidents? (ie, if you have a robbery and 2 of the offenders are in a gang and the third is not, do you split to separate incidents?) Or is the person considered in the gang because he's doin

[2017-11-17 18:53] harrisj opened #651 "Changes to the offender_denorm table"
So, based on some recent feedback about errors in the offender_denorm_table (see #639 ) as well as some questions about gang-related violence, it looks like we'd need to make a few changes to the nibrs_offender_denorm table:

## Multiple Offenses
Currently the table doesn't record all offenses committed by an offender, picking one arbitrarily. There are several ways we could present multiple offen

[2017-11-20 00:51] LarryBafundo commented on #651
I'll bring this up in the status report and as an open issue in the core team call on Monday

[2017-11-20 16:54] harrisj commented on #639
So here is the plan I'm proposing for this project:

1. Redefine the offense-specific offender, victim and offense views to use this corrected approach that doesn't denormalize offenses too much. While I am at it, I am going to add fields to these tables to include the offense_codes as well as names to make it easier to query by offense.
2. Alter the API endpoints that call these tables to also ru

[2017-11-20 17:34] harrisj opened #652 "Victim denormalizations should not include offender relationship"
Issue #639 already goes into some of the general problems with victim and offender denormalization related to an erroneous reduction of multiple offenses into a single offense (and how those offenders and victims would not be included in the counts for other offenses. There is a similar issue for offender-victim relationships currently captured in the `nibrs_denorm_victims` table that means such i

[2017-11-20 18:00] harrisj commented on #652
Okay, this is frustrating, but I just wanted to double-check myself and looked at 2014 NIBRS reports for West Virginia

| Table | Rows |
|--|---|
| Offenders | 70,547 |
| Offenses | 69,139 |
| Victim-Offender Relationships | 19,391 |

It looks like for this state and year there are only 0.0003976% of all possible relationships specified (I get that most relationships might not be apparent at arres

[2017-11-20 18:25] harrisj commented on #652
Oh wait, my math is wrong. We don't want to know the relationships between all offenders and all victims for all NIBRS offenses. My bad!

Instead, let me add of the sum of all offenders * victims for each incident

[code]

And the result of all possible victim-offender relationships is **78,538** which means that for 2014, 24.6% of possible offender-victim relationships were specified

[2017-11-21 17:01] harrisj opened #654 "Devise a better mechanism for enforcing year-ceilings on queries"
In the course of fixing #653, I discovered several places where queries against agency tables were forced to be `< 2016` which is just something that is easy to forget (as it was). We could potentially dynamically find the maximum year, but I understand the potential of limiting access to a top year even if there is later data in the database (ie, if you don't want to "publish" it yet). Let's move

[2017-11-24 19:19] LarryBafundo commented on #639
@harrisj when you have a chance, can you provide an update on this?

[2017-11-24 20:18] harrisj opened #655 "Changes to denormalized NIBRS tables"
This issues replaces #639 and is going to be a parent issue for several issues of work.

The problem is our current denorm tables for NIBRS offender and victim collapse 1..many relationships of offender to offense (with location), victim to offense, and incident to property affected. In addition, they also prematurely reduce the many-to-many relationships between victim and offenders. This issue i

[2017-11-24 20:19] harrisj commented on #639
Replacing this with #655

[2017-11-24 20:31] harrisj opened #656 "Fix overly denormalized data in nibrs_offense_denorm table"
The `nibrs_offense_denorm` table has the following columns:

| Column                | Type                        | Modifiers   |
|-----------------------|-----------------------------|-------------|
| offense_id            | bigint                      |  not null   |
| incident_id           | bigint                      |             |
| agency_id             | bigint                      |

[2017-11-26 22:07] harrisj opened #657 "Denormalize the offender_count_states/offender_counts_ori tables"
Currently these have one row per offender:

| Column         | Type                   | Modifiers   |
|----------------|------------------------|-------------|
| count          | bigint                 |             |
| ethnicity      | character varying(100) |             |
| prop_desc_name | character varying(100) |             |
| offense_name   | character varying(100) |             |
| state_

[2017-11-26 22:28] harrisj opened #658 "Changes to the nibrs_victim_denorm table"
Content TK

| Column                | Type                        | Modifiers   |
|-----------------------|-----------------------------|-------------|
| victim_id             | bigint                      |  not null   |
| incident_id           | bigint                      |             |
| agency_id             | bigint                      |             |
| state_id              | integer

[2017-11-26 22:30] harrisj opened #659 "Fix denormalization issues in the victim_counts_states table"
| Column                | Type                   | Modifiers   |
|-----------------------|------------------------|-------------|
| count                 | bigint                 |             |
| ori                   | character(9)           |             |
| resident_status_code  | character varying(1)   |             |
| offender_relationship | character varying(100) |             |
| circumst

[2017-11-26 22:36] harrisj opened #660 "Fix the offense_victim_counts_states/offense_victim_counts_ori tables"
The table currently has this structure

| Column                | Type                   | Modifiers   |
|-----------------------|------------------------|-------------|
| count                 | bigint                 |             |
| ori                   | character(9)           |             |
| resident_status_code  | character varying(1)   |             |
| offender_relationship | character

[2017-11-26 22:37] harrisj opened #661 "Fix the offense_counts table"
This table has the following structure

| Column               | Type                   | Modifiers   |
|----------------------|------------------------|-------------|
| year                  | integer |       |
| count                | bigint                 |             |
| ori                  | character(9)           |             |
| offense_name         | character varying(100) |

[2017-11-26 22:39] harrisj opened #662 "Rework the offense_offense_counts_states table"
| Column               | Type                   | Modifiers   |
|----------------------|------------------------|-------------|
| count                | bigint                 |             |
| ori                  | character(9)           |             |
| offense_name         | character varying(100) |             |
| weapon_name          | character varying(100) |             |
| method_entry_c

[2017-11-27 03:14] harrisj commented on #655
In general we can see the same repeating themes in multiple of these issues I want to just highlight here. First, let's review

A single NIBRS incident:
Belongs to a single month/year of reporting for a single agency
Can have 0..many offenses (each with a location type)
Can have 0..many offenders (with codes for age, race type, ethnicity that must be dereferenced)
Can have 0..many victims (same de

[2017-11-27 17:10] harrisj commented on #639
Going to close this now that I have migrated things over to #655

[2017-11-27 17:10] #639 closed

[2017-11-27 23:55] LarryBafundo commented on #652
@harrisj just following up on your latest thinking here. are you still in favor of create a special table for offender-victim relationships?

[2017-11-28 00:01] LarryBafundo commented on #651
@harrisj should i close this as we're most likely going to address this by advocating for more discrete tables that can be joined with an incident ID, rather than cramming everything in a single file?

[2017-11-28 02:37] harrisj commented on #651
Yes, I think we can close it, but we will probably be mergning the criminal act flag into the offenses table too

[2017-11-28 02:42] harrisj commented on #652
I don't really see how we can not do that, given that if there are M offenders and N victims there might be N*M relationships between offenders and victims. There already is a table in the CDE for just that named `nibrs_victim_offender_rel` and the only question is if there is anything else we really need to add to it or if that is enough.

Under this model if you wanted to know what percentage of

[2017-11-28 16:25] harrisj opened #664 "Not all NIBRS victims are people"
So, one potential source of confusion specifically in regards to how expert users might count things differently from the general public is that not all NIBRS victims are people. From the NIBRS documentation we have this

(I = Individual), and the pistol-whipped customer (I = Individual). Therefore, agencies should enter the appropriate codes into their respective Victim Segments.

Indeed, when I

[2017-11-28 17:46] harrisj commented on #664
Under further investigation, it seems like there are no NIBRS incidents that don't include at least one victim. For instance, for the crime of Pornography, the single victim is 1 of type 8 "Society/Public"

[2017-11-28 18:52] harrisj opened #665 "Victim-offense mappings must account for the nibrs_victim_offense table"
Early in the NIBRS documentation, they state that all offenders are assumed to be acting in concert

But later on, there is the option to record the offenses affecting a specific victim

And there seems to be a table for that. But we need to use it and it currently isn't being used in #658 and other victim tables

[2017-11-28 19:10] harrisj opened #666 "Weapons will show up multiple times in the nibrs_weapon table"
Currently the `nibrs_weapon` table is used to map the NIBRS weapon types to offenses.

What this means is that if there is an incident (ie, a robbery-homicide) where there are two offenses that use the same weapon, there will be two rows in the table mapping a weapon type like handgun to the specific offenses. This means a few things:

1. We need to look at the maximum number of weapons for a sing

[2017-11-28 19:50] #651 closed

[2017-11-29 15:20] harrisj commented on #664
Two more notes:

1. Non-people victims will not show up in our demographic breakdowns, since banks do not have race or ethnicity. But this is why reason why victim counts may be bigger than adding up all the victim demographics to a total.
2. Although one of the the offender_victim_relationship types is "Employer Of" I checked in the DB and it doesn't seem to be used for any non-people victims. So

[2017-11-29 16:38] harrisj commented on #664
One final comment on this issue from me. It seems like we could decide whether or not we want to include non-people victims in our bulk downloads. Pros and cons of each approach:

Include non-people victims:
1. Matches counts/mapping for NIBRS data as was submitted/recorded
2. Potential source of error if people count people victims by total lines without removing these entries

Do not include non

[2017-11-30 22:27] LarryBafundo commented on #664
@harrisj we never got a judgement from CJIS about this during the call; but it sounds like we would recommend only counting persons as victims for the purposes of the CDE.

[2017-11-30 22:41] harrisj commented on #664
So I think we should do the following:

1. For NIBRS-denorm tables we should keep all victims and include the victim_type as a string so that it's very clear when you scan the table that some victims are banks, etc. but if you wanted to find those offenses with victims, we should do that.

2. For the NIBRS-derived demographic visuals, I think actually we are unchanged because those victims would n

[2017-11-30 22:46] harrisj commented on #650
I think we can defer this issue for now and include both of these fields in the denormalized tables. It only will become something we have to explore if we either want to make our own gangland crime report (in which case we probably will just pull all incidents with at least 1 Gang-offense flag on them) or if we wanted to make some sort of "gang_violence" boolean flag on another table. It doesn't

[2017-11-30 22:47] #650 closed

[2017-12-01 15:56] jeremiak opened #667 "Add a Content Security Policy (CSP) header"
We currently have no Content Security Policy set, but we should (refs [18f/crime-data-explorer#336](https://github.com/18F/crime-data-explorer/issues/336)). A CSP tells the browser which URLs it can load content/resources from, reducing the risk of a XSS attack by loading 3rd party code.

Considering that this application has no HTML returned for it, I think this should be pretty simple since we c

[2017-12-01 16:33] harrisj opened #668 "Race count errors for arrest crosstabs"
From user feedback

[2017-12-01 16:53] harrisj commented on #668
Confirmed I am definitely seeing this for the arrests_national_adults and arrests_national_juvenile CSV files. Next steps will be to check the source crosstab tables and the process to saving to CSV.

[2017-12-01 17:11] harrisj commented on #668
The issue is in the DB source table sadly

| year | offense_code | white | black | asian_pacific_islander | american_indian |
------|--------------|-------|-------|------------------------|-----------------|
 |2014 | ASR_ARSON    |    32 |    38 |                    619 |            1815 |
 |2014 | ASR_AST      |   253 |   338 |                  10201 |           13285 |
 |2014 | ASR_AST_SMP  |  1

[2017-12-07 14:39] harrisj commented on #668
I think I found the problem. The racial counts were being inserted in the wrong order. I'm not sure when this happened, but I should be able to rebuild the tables today.

[2017-12-13 15:21] jrisi256 opened #677 "Error in Hate Crime Data, Error In Estimated National Crime Count"
Apologies in advance if this is a known issue, my etiquette is wrong, etc.

In any case, I'm getting conflicted numbers concerning the amount of hate crime that's happened to certain groups.

For example making the following 2 queries and looking specifically at the year 2014 for anti-white crimes:
https://api.usa.gov/crime/fbi/ucr/hc/count/national/bias_name?page=1&per_page=10&output=json&api_key

[2017-12-18 15:38] LarryBafundo commented on #667
@jeremiak what's the status of this ticket?

[2017-12-18 15:39] LarryBafundo commented on #668
@harrisj any updates on this?

[2017-12-18 15:40] LarryBafundo commented on #652
@harrisj since we're not immediately pursuing a denormalization strategy for the bulk downloads, should i close this? i'm not sure if we'll push on this next sprint, or switch gears and just leave CJIS with a roadmap for a more denormalized approach for the bulk downloads , so i dont want to lose your notes.

[2017-12-19 01:06] jeremiak commented on #667
Just opened a PR to address this and then we should be able to close https://github.com/18F/crime-data-explorer/issues/336

[2017-12-19 14:47] #667 closed

[2017-12-21 20:16] harrisj opened #683 "Add nibrs_start and nibrs_end to /geo/states endpoint?"
The idea would be to somehow programmatically provide data for https://github.com/18F/crime-data-explorer/issues/337 via an API endpoint and possibly a table we build for state-level and agency-level info of years with an agency. But this is also probably also handled by the participation_rates table potentially...

[2017-12-22 03:27] #668 closed

[2017-12-22 03:32] harrisj commented on #664
Since CJIS is taking over the offense-specific counts, I guess this will ultimately be their call. Closing.

[2017-12-22 03:32] #664 closed

[2017-12-22 03:33] harrisj commented on #666
Closing since this is more just adding this as a note.

[2017-12-22 03:33] #666 closed

[2017-12-22 20:27] harrisj commented on #665
Closing since this was more an informational issue

[2017-12-22 20:27] #665 closed

[2017-12-22 20:27] harrisj commented on #662
Closing since CJIS is taking over the generation of these views

[2017-12-22 20:27] #662 closed

[2017-12-22 20:27] harrisj commented on #661
Closing since CJIS is taking over the generation of these views

[2017-12-22 20:27] #661 closed

[2017-12-22 20:27] harrisj commented on #660
Closing since CJIS is taking over the generation of these views

[2017-12-22 20:27] #660 closed

[2017-12-22 20:28] harrisj commented on #659
Closing since CJIS is taking over the generation of these views

[2017-12-22 20:28] #659 closed

[2017-12-22 20:28] harrisj commented on #657
Closing since CJIS is taking over the generation of these views

[2017-12-22 20:28] #657 closed

[2017-12-22 20:28] harrisj commented on #658
Closing since CJIS is taking over the generation of these views

[2017-12-22 20:28] #658 closed

[2017-12-22 20:28] harrisj commented on #656
Closing since CJIS is taking over the generation of these views

[2017-12-22 20:28] #656 closed

[2017-12-22 20:28] harrisj commented on #655
Closing since CJIS is taking over the generation of these views

[2017-12-22 20:28] #655 closed

[2017-12-22 20:29] harrisj commented on #640
Closing since CJIS is taking over the generation of these views

[2017-12-22 20:29] #640 closed

[2017-12-22 20:29] harrisj commented on #652
Closing since CJIS is taking over the generation of these views

[2017-12-22 20:29] #652 closed

[2018-01-16 23:43] LarryBafundo commented on #677
@harrisj did you ever have a chance to look into this?

[2018-01-17 11:21] harrisj commented on #677
No I didn't! Will look at it later today

[2018-01-17 21:16] harrisj opened #686 "Hate Crimes master files have a date_ori_went_nibrs for ORIs"
A friend of mine who has done work with hate crime data was asking me about NIBRS and noted that in the master file, you can get a dump of values for when the ORI went NIBRS. Here is an example for Tennessee

|ori|date_ori_went_nibrs|
|-|-|
|TNTBI0000|19970801|
|TNTHP0100|19971001|
|TN0010500|20010101|
|TN0010600|20130101|
|TN0010800|20040301|
|TN0030300|20010701|

This seems like a very useful fi

[2018-01-18 14:47] jpwentz commented on #686
@harrisj There is a nibrs_start_date field in ref_agency table

[2018-01-18 20:46] harrisj opened #687 "Should we include nibrs_grpb data in NIBRS bulk downloads?"
It's not currently in there, but I suppose why not.

ONe big issue is that I need to get data files for it for 2015 and 2016 I think

[2018-04-12 17:59] howardsu4 opened #704 "Can't pull any data"
A large number of operations are returning no values whatsoever. This seemed to be working fine a couple weeks ago, but now none of the incidents are showing up.

https://api.usa.gov/crime/fbi/ucr/agencies/count/states/offenses/GA?page=1&per_page=10&output=json&api_key=iiHnOKfno2Mgkt5AynpvPpUQTEyxE77jo1RU8PIv

https://api.usa.gov/crime/fbi/ucr/agencies/count/states/offenses/NY/counties/13067?page=

[2018-04-12 18:14] jpwentz commented on #704
@howardsu4 We apologize for this issue. Those endpoints have been deprecated, we are currently working on a new version of the CDE API. The new API is more lean but is more accurate and more accessible.
We will notify you once the new API has been released.

[2018-04-12 20:30] jpwentz commented on #704
@howardsu4
I believe you have the incorrect request:
https://api.usa.gov/crime/fbi/ucr/agencies/count/states/GA/offenses

We are looking into the other issue with FIPS_CODE url currently.

[2018-04-12 21:00] jpwentz commented on #704
And for your other query:
https://api.usa.gov/crime/fbi/ucr/agencies/count/states/offenses/ny/counties/63?year=2016&api_key=iiHnOKfno2Mgkt5AynpvPpUQTEyxE77jo1RU8PIv

It is just  the county FIP you need to provide not the full FIP for state + county.

API improvements are soon to come that will hopefully remove this confusion.